.funder-search-popup {
    background-color: var(--White-220);
    border: 1px solid var(--Black-88);
   
    box-shadow: 0 8px 20px rgba(37, 40, 43, 0.08);
    border-radius: 8px;
    padding: 12px;
    
    margin-top: 7px;
}

.funder-search-popup ::ng-deep.k-popup {
    border: none;
    margin: 0;
    padding: 0;
}

.funder-search-container {
    width: 355px;
}

.funder-search-input {
    border: 1px solid var(--Black-88);
    border-radius: 20px;
    height: 40px;
    font-size: 15px;
    color: var(--Black-48);
}

.funder-search-input .search-icon{
    margin: auto 0;
}

.funder-search-input input {
    background: transparent;
    border: none;
    height: auto;
    font-size: 14px !important;
}

.funders-list {
    display: block;
    border: 1px solid var(--Black-88);
    max-height: 275px;
    border-radius: 8px;
    overflow-y: auto;
    padding: 10px 0;
}

.funders-list.loading {
    background-color: var(--Black-96);
}

.funder-item {
    padding: 10px 15px;
    font-family: DM Sans, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: var(--Black-48);
}

.funder-item:hover {
    cursor: pointer;
    background-color: var(--Black-96);
    border-radius: 8px;
}

.funder-item input[type='checkbox']{
    transform: scale(1.5);
    pointer-events: none;
}
