<kendo-popup #popup [anchor]="anchor" class="funder-search-popup" (anchorViewportLeave)="anchorViewportLeave.emit()">
    <div [style.width.px]="anchor.nativeElement.offsetWidth - 26" style="display: block;">
        <div [ngClass]="isLoading ? 'funders-list loading mb-2' : 'funders-list mb-2'" *ngIf="reconcileStatuses.length > 0">
            <div *ngFor="let status of reconcileStatuses" (click)="statusClicked(status)"  class="funder-item">
                <input type="checkbox" [checked]="status.checked"/>
                <span class="ml-2">{{status.statusName}}</span>
            </div>
        </div>
        <ng-template [ngIf]="totalCount">
            <div *ngIf="totalCount == 1; else notOne">
                <span>{{totalCount}} item</span>
            </div>
            <ng-template #notOne>
                <span>{{totalCount}} items</span>
            </ng-template>
        </ng-template>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
</kendo-popup>