SET NOEXEC OFF
SET NOCOUNT ON
SET NUMERIC_ROUNDABORT OFF
GO

SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO

SET XACT_ABORT ON
GO

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE

BEGIN TRANSACTION

IF @@ERROR <> 0 SET NOEXEC ON
GO

UPDATE dbo.claims  
SET IsSecondaryPayerAvailable = 0,
	PrimaryFunderId = LastBilledFunderId;

GO

--To find out the affected data for status change
--SELECT 
--ar.id,
--ar.claimId,
--c.hcClaimStatusId,
--ar.claimStatusId
--FROM 
--[Reporting].[AccountsReceivable] ar 
--INNER JOIN [dbo].[Claims] c ON c.id=ar.claimid
--WHERE ar.claimstatusid <> c.hcclaimstatusid AND Cast(ar.dateModified AS DATE) = (
--   SELECT Cast(MAX(claim.dateLastModified)AS DATE)
--   FROM [dbo].[Claims] claim
--   WHERE claim.id = ar.claimId
--);

--GO

--To correct the affected data for status update
update [Reporting].[AccountsReceivable]
SET claimstatusid = 15
WHERE id = 130

--GO


--To find out affected data for eft Or checknumber
--SELECT 
--payAdj.id,
--payAdj.paymentId,
--payAdj.claimId,
--payAdj.eftOrCheckNumber,
--p.referenceNumber
--FROM 
--[Reporting].[PaymentsAdjustments] payAdj
--INNER JOIN [dbo].[Payment] p ON p.id= payAdj.paymentId
--WHERE payAdj.eftOrCheckNumber <> p.referenceNumber and payAdj.eftOrCheckNumber != ''

--GO

--To correct the affected data(eftOrCheckNumber)
--update payadj
--SET payadj.eftOrCheckNumber = CASE
--	WHEN payadj.paymentId = 4017 THEN 'rk'
--	WHEN payadj.paymentId = 4020 THEN 'Patient Funder'
--	WHEN payadj.paymentId = 4021 THEN 'rk123'
--	WHEN payadj.paymentId = 4044 THEN 'rkpp'
--	WHEN payadj.paymentId = 4051 THEN 'bbbb'
--	WHEN payadj.paymentId = 4052 THEN 'patient pay'
--	WHEN payadj.paymentId = 4058 THEN 'abc'
--	WHEN payadj.paymentId = 4059 THEN 'testing'
--	WHEN payadj.paymentId = 4061 THEN 'abc-patient'
--	WHEN payadj.paymentId = 4067 THEN 'PP-testing-12'
--	WHEN payadj.paymentId = 4070 THEN 'PP-testing-13'
--	WHEN payadj.paymentId = 4073 THEN 'rk'
--	WHEN payadj.paymentId = 4074 THEN 'rk'

--	ELSE payadj.eftOrCheckNumber
--END
--FROM
--[Reporting].[PaymentsAdjustments] payadj
--WHERE payadj.transactionType!=6 and payadj.paymentId IN (4017,4020,4021,4044,4051,4052,4058,4059,4061,
--4067,4070,4073,4074)


GO

-- Reporting claim status update datafix 
UPDATE cs
SET cs.claimStatus =dbocs.name
FROM 
[Reporting].[ClaimStatus] cs
INNER JOIN [dbo].[ClaimStatus] dbocs ON dbocs.id=cs.claimStatusId
WHERE cs.claimStatusId IN (8,9,15,16,17,18)

-- Changed the Claim History action value for Scrubbing Errors Found
UPDATE ClaimHistoryActions 
SET name = 'ScrubbingErrorsAndAlertsFound', description = '@newValue Scrubbing error(s), alert(s) found' 
WHERE id = 16

GO

IF @@ERROR <> 0 SET NOEXEC ON
GO

COMMIT TRANSACTION
GO

DECLARE @Success AS BIT
SET @Success=1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'Database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed. ROLLBACK TRANSACTION'
END
GO