<div class="sidebar-header">
    <div *ngIf="tabType === 'Error' || tabType === 'Alert'" class="header-title">Validations</div>
    <div *ngIf="tabType === 'Response'" class="header-title">Responses</div>
    <div class="header-text">Claim {{ClaimIdentifier}}</div>
</div>
<div class="body flex-column justify-content-between">
    <div class="errors-alerts-list">
        <div *ngIf="tabType === 'Error' || tabType === 'Alert'">
            <br>
            <!-- Errors-->
            <div class="status-header">
                <span class="status-pill errors-pill">
                    <span class="status-label">Errors</span>
                    <span class="small-12reg status-count">{{errorsArr.length}}</span>
                </span>
            </div>

            <app-encounter-errors-alerts-details *ngFor="let error of errorsArr"
                [errorOrAlertEl]="error"></app-encounter-errors-alerts-details>

            <hr>
            <!-- Alerts-->
            <div class="status-header">
                <span class="status-pill alerts-pill">
                    <span class="status-label">Alerts</span>
                    <span class="small-12reg status-count">{{alertsArr.length}}</span>
                </span>
            </div>

            <app-encounter-errors-alerts-details *ngFor="let alert of alertsArr"
                [errorOrAlertEl]="alert"></app-encounter-errors-alerts-details>
        </div>
        <br>
        <!-- Response -->
        <div *ngIf="tabType === 'Response'">
            <app-encounter-response-details [responseEl]="responseData" [claimId]="claimId" [claimStatus]="claimStatusName" [listingTab]="listingTab"></app-encounter-response-details>
        </div>
    </div>
</div>
<div *ngIf="IsShowRunValidation">
    <div class="sidebar-button">
        <div class="d-flex justify-content-end">
            <contained-btn *ngIf="canEdit" text="Re-run Validation" iconClass="icon-24 refresh-right-icon"
                (onClick)="reRunValidation()"></contained-btn>
        </div>
    </div>
</div>