<div class="print-modal" *ngIf="returnIconName">
    <div class="head">
        <div class="return" (click)="close()"><span class="icon-24 back chevron-left-icon"></span>{{returnIconName}}</div>
        <div class="action-icons">
            <div class="print icon-24 printer-icon" (click)="print()" kendoTooltip title="Print"></div>
            <div class="toPDF icon-24 download-icon" (click)="savePDF()" kendoTooltip title="Save as PDF"></div>
        </div>
    </div>
    <div class="print-modal-body" id="print-section">
        <ng-content></ng-content>
    </div>
</div>
<div class="print-modal-background"></div>