.payment-details {
    color: var(--Black-48);
    min-width: 322px;
    background: var(--White-220);
    border: 1px solid var(--Black-88);
    box-sizing: border-box;
    border-radius: 8px;
}

.light.head {
    padding: 13px 19px 5px 19px;
    border-bottom: 1px solid var(--Black-88);
}

.light.bottom {
    padding: 5px 19px 13px 19px;
}

.payment-header {
    display: flex;
    flex-direction: column;
}

.dark {
    border: 1px solid var(--Black-88);
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--Blue-98);
    display: flex;
    flex-wrap: wrap;
    margin-top: 19px;
    margin-bottom: 5px;
}

    .dark .w-50,
    .dark .w-100 {
        padding: 5px 15px;
    }

    .dark .b-l {
        border-left: 1px solid var(--Black-88);
        padding-right: 0;
        padding-bottom: 0;
    }

    .dark .b-t {
        border-top: 1px solid var(--Black-88);
        padding-top: 0;
    }

    .dark .details {
        display: flex;
        flex-direction: column;
    }

        .dark .details .value {
            text-align: start;
        }

.details {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

    .details .property {
    }

    .details .value {
        text-align: end;
    }


.payment-total {
    color: var(--prim-text);
}


.dateinput-big {
    max-width: 25%;
    box-shadow: none;
    border: none;
}
.dateinput-big > ::ng-deep .k-dateinput-wrap {
    box-shadow: none;
    border: none;
    height: 20px;
}

.dateinput-small {
    max-width: 95%;
}

.dateinput-small > ::ng-deep .k-dateinput-wrap {
    box-shadow: none;
    border: none;
    background-color: var(--Blue-98);
    height: 20px;
}

.dropdown-small {
    max-width: 90%;
}

.text-box-payment-identifier {
    max-width: 90%;
    box-shadow: none;
    border: none;
    background-color: var(--Blue-98);
    height: 20px;
}



.dark .details select.value,
.dark .details input.value {
    border: none;
    outline: none;
    background: transparent;
}

.dark .details .k-dropdown {
    width: 100%;
    background-color: var(--Blue-98);
}

.dark .details .k-dropdown > ::ng-deep .k-dropdown-wrap {
    box-shadow: none;
    border: none;
    background-color: var(--Blue-98);
    height: 20px;
}

.dark .details .k-dropdown > ::ng-deep .k-dropdown-wrap > ::ng-deep .k-input {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.2px;

    padding: 0;
    height: 20px;
}

.dark.not-edited .details .k-dropdown > ::ng-deep .k-dropdown-wrap > ::ng-deep .k-select {
    display: none !important;
}

.dark.edited .details .k-dropdown > ::ng-deep .k-dropdown-wrap > ::ng-deep .k-select {
    display: flex !important;
}
