<div class="adjustments-details">
    <confirmation-dialog></confirmation-dialog>
    <div class="header">
        <div class="header-text">Claim ID {{serviceLine?.claimIdentifier}}</div>
        <span class="icon-24 close-icon" (click)="Cancel()"></span>
    </div>
    <div *ngIf="serviceLine" [ngStyle]="{'bottom': addAdjustmentFormVisible ? '72px' : '0px'}" class="body">
        <div class="summary">
            <div class="adjustments-header">Balance</div>
            <div class="details adjustments-total Header-1">{{serviceLine?.balance | currency}}</div>
        </div>
        <!-- <div *ngIf="isPatient" class="summary">
            <div class="adjustments-header">Patient Responsibility Balance</div>
            <div class="details adjustments-total Header-1">{{serviceLine?.patientResponsibilityBalance | currency}}</div>
        </div> -->

        <div class="info">
            <div class="info-line">
                <div class="name">Date of Service</div>
                <div class="value">{{serviceLine?.dateOfService | date:'MM/dd/yyyy'}}</div>
            </div>
            <div class="info-line">
                <div class="name">Procedure</div>
                <div class="value">{{serviceLine?.procedure}}</div>
            </div>
            <div class="info-line">
                <div class="name">Mods</div>
                <div class="value">{{serviceLine?.mods}}</div>
            </div>
            <div class="info-line">
                <div class="name">Billed</div>
                <div class="value">{{serviceLine?.billedAmount | currency}}</div>
            </div>
            <div class="info-line">
                <div class="name">Expected</div>
                <div class="value">{{serviceLine?.expectedAmount | currency}}</div>
            </div>
            <div class="info-line">
                <div class="name">Patient Responsibility</div>
                <div class="value">{{serviceLine?.patientResponsibility | currency}}</div>
            </div>
        </div>

        <div>
            <mat-tab-group class="tab-style" style="padding: 0" mat-align-tabs="start" disableRipple dynamicHeight>
                <mat-tab label="Details">
                    <!-- PAYMENT SECTION -->
                    <div *ngIf="serviceLine" class="dark small-12reg">
                        <div class="w-100 p-0 b br-t b-b-n">
                            <div class="d-flex justify-content-between">
                                <div class="details-header">
                                    Last Modified {{serviceLine?.dateLastModified | date:'MM/dd/yyyy'}}
                                </div>
                            </div>
                        </div>
                        <div class="w-50 b bh br-bl" *ngIf="!isPatient"
                             [ngClass]="{hasError: serviceLine.allowedAmount == undefined && isServiceLineEdit}">
                            <div class="details">
                                <div class="property small-12med">Allowed</div>
                                <div class="d-flex">
                                    <span>$</span>
                                    <input kendoTextBox
                                           #allowedInput class="value w-100"
                                           type="number"
                                           required="true"
                                           (focus)="allowedInput.select()"   
                                           [disabled]="!isManual || !canEdit "                            
                                           [(ngModel)]="serviceLine.allowedAmount"
                                           (input)="markEdited()"
                                           (focusout)="validateServiceLineAmounts(serviceLine.allowedAmount,false)">
                                </div>
                            </div>
                        </div>
                        <div class="b bh"
                             [ngClass]="{hasError: serviceLine.serviceLinePaymentAmount == undefined && isServiceLineEdit, 'w-100 br-b': isPatient,
                              'w-50 br-br': !isPatient}">
                            <div class="details">
                                <div class="property small-12med">Payment</div>
                                <div class="d-flex">
                                    <span>$</span>
                                    <input kendoTextBox
                                           #paymentInput class="value w-100"
                                           required="true"
                                           (focus)="paymentInput.select()" 
                                           [disabled]="!isManual || !canEdit"  
                                           [(ngModel)]="serviceLine.serviceLinePaymentAmount"
                                           (input)="markEdited()"
                                           (focusout)="validateServiceLineAmounts(serviceLine.serviceLinePaymentAmount,true)"
                                           type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- WRITEOFF LIST -->
                    <div>
                        <div class="list-title d-flex justify-content-between mt-4">
                            <div>Writeoffs</div>
                            <div class="d-flex info-line">
                                <div class="name mr-2">Total</div>
                                <div class="value">{{calculateWriteOffsTotal() | currency}}</div>
                            </div>
                        </div>
                        <div *ngFor="let writeOff of this.writeOffs">
                            <div class="dark small-12reg not-edited">
                                <div class="w-100 p-0 b br-t b-b-n">
                                    <div class="d-flex justify-content-between">
                                        <div class="details-header">
                                            Last Modified {{writeOff.dateLastModified | date:'MM/dd/yyyy'}}
                                        </div>
                                        <div class="d-flex mr-1">
                                            <div *ngIf="canEdit" class="icon-wrapper pointer"
                                                 (click)="deleteWriteOff(writeOff.id)">
                                                <span class="icon-24 trash-icon"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100 b bh" [ngClass]="{hasError: writeOff.writeOffAmount == undefined}">
                                    <div class="details">
                                        <div class="property small-12med">Amount</div>
                                        <div class="d-flex">
                                            <span>$</span>
                                                    <input kendoTextBox
                                                   #writeOffInput class="value"
                                                   required="true"
                                                   [(ngModel)]="writeOff.writeOffAmount"
                                                   (focusout)="markAsUpdatedWriteOff(writeOff,true)"
                                                   type="number" min="0.01"
                                                   max="{{getRemainingBalance(writeOff.id)}}"
                                                   name="writeOffValue"
                                                   ng-model="writeOffValue | number : 2" 
                                                   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" 
                                                   step="0.01"
                                                   (input)="markEdited()"
                                                   (focus)="writeOffInput.select()"
                                                   oninput="validity.valid||(value='');">
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100 b bh">
                                    <div class="details">
                                        <div class="property small-12med">Reason Code</div>
                                         <kendo-dropdownlist
                                                [data]="allowedWriteOffReasonCodes"
                                                textField="description"
                                                valueField="id"
                                                [(ngModel)]="writeOff.writeOffReasonCodeId"
                                                [valuePrimitive]="true"
                                                [disabled]="!isManual || !canEdit "       
                                                (valueChange)="markAsUpdatedWriteOff(writeOff,false)"
                                        >
                                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                                <span class="dropdown-default" *ngIf="!dataItem">{{writeOff.description}}</span>
                                                <span class="dropdown-value" *ngIf="dataItem">{{ dataItem.description }}</span>
                                            </ng-template>
                                        </kendo-dropdownlist>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div style="padding-bottom: 16px;" *ngIf="!isPatient">
                        <div class="list-title d-flex justify-content-between mt-4">
                            <div>Adjustments</div>
                            <div class="d-flex info-line">
                                <div class="name mr-2">Total</div>
                                <div class="value">{{calculateAdjustmentsTotal() | currency}}</div>
                            </div>
                        </div>
                        <div *ngFor="let adjustment of this.adjustments">
                            <div [ngClass]="isAdjustmentEdited(adjustment.id) ? 'edited':'not-edited'" class="dark small-12reg">
                                <div class="w-100 p-0 b br-t b-b-n">
                                    <div class="d-flex justify-content-between">
                                        <div class="details-header">
                                            Posted Date {{adjustment.postDate | date:'MM/dd/yyyy'}}
                                        </div>
                                        <div class="d-flex mr-1">
                                            <div *ngIf="canEdit && isManual" class="icon-wrapper pointer"
                                                 (click)="markDeletedAdjustment(adjustment.id)">
                                                <span class="icon-24 trash-icon"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100 b bh" [ngClass]="{hasError: adjustment.amount == undefined}">
                                    <div class="details">
                                        <div class="property small-12med">Amount</div>
                                        <div class="d-flex">
                                            <span>$</span>
                                            <input kendoTextBox 
                                                   #adjustmentInput class="value"
                                                   required="true"
                                                   [disabled]="!isManual || !canEdit"
                                                   [(ngModel)]="adjustment.amount"
                                                   (focusout)="markAsUpdatedAdjustment(adjustment,true)"
                                                   type="number" min="0.01"
                                                   name="adjustmentValue"
                                                   ng-model="adjustmentValue | number : 2" 
                                                   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" 
                                                   step="0.01"
                                                   (focus)="adjustmentInput.select()"
                                                   (input)="markEdited()"
                                                   oninput="validity.valid||(value='');">
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100 b bh">
                                    <input type="checkbox" class="k-checkbox" 
                                    kendoCheckBox id="IsPositiveEdit" 
                                    [disabled]="!isManual || !canEdit"
                                    [(ngModel)]="adjustment.isPositive"
                                    (change)="markAsUpdatedAdjustment(adjustment,false)"
                                    />
                                    <label for="IsPositive" class="k-checkbox-label">Apply As Positive</label>
                                </div>
                                <div class="w-100 b bh">
                                    <div class="details">
                                        <div class="property small-12med">Reason Code</div>
                                        <kendo-combobox
                                                [data]="allowedReasonCodes"
                                                [(ngModel)]="adjustment.reasonCodeKey"
                                                [disabled]="!isManual || !canEdit"
                                                placeholder = "Select code"
                                                [filterable]="true"
                                                (valueChange)="updateDescriptionAndMarkUpdated($event, adjustment)"
                                                (filterChange)="reasonCodesSearchValueChanged($event)"
                                                (close)="onDropdownClosed()"
                                        >
                                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                                <span class="dropdown-value">{{ dataItem }}</span>
                                            </ng-template>
                                        </kendo-combobox>
                                    </div>
                                </div>
                                <div class="w-100 b br-b b-t-n">
                                    <div class="details">
                                        <div class="property small-12med">Description</div>
                                        <div class="value">{{adjustment.description || 'No description'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <form class="k-form" [formGroup]="adjustmentForm">
                            <div formArrayName="adjustments">
                                <div *ngFor="let adjustment of adjustmentFormArray.controls; let i = index" [formGroupName]="i">
                                    <div *ngIf="addAdjustmentFormVisible" class="dark small-12reg">
                                        <div class="w-100 p-0 b br-t b-b-n">
                                            <div class="d-flex justify-content-between">
                                                <div class="list-title mt-3 ml-1"> New Adjustment</div>
                                                <div class="d-flex mr-1">
                                                    <div *ngIf="canEdit" class="icon-wrapper pointer"
                                                         (click)="removeAdjustmentField(i)">
                                                        <span class="icon-24 trash-icon"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="w-100 b bh">
                                                <div class="details">
                                                    <div class="property small-12med">Amount</div>
                                                    <div class="d-flex">
                                                        <span>$</span>
                                                        <input kendoTextBox
                                                            class="value w-100"
                                                            #adjustmentInput formControlName="amount" 
                                                            required="true"
                                                            ng-model="adjustmentValue | number : 2 | currency" 
                                                            (focusout)="newAdjustmentAmountFocusOut(i)"
                                                            type="number" min="0.01"
                                                            (focus)="adjustmentInput.select()"
                                                            name="adjustmentValue"
                                                            ng-model="adjustmentValue | number : 2" 
                                                            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" 
                                                            step="0.01"
                                                            (input)="markEdited()"
                                                            [disabled]="!isManual || !canEdit"
                                                            oninput="validity.valid||(value='');">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="w-100 b br-b b-t-n">
                                                <input type="checkbox" 
                                                    class="k-checkbox" 
                                                    kendoCheckBox 
                                                    [disabled]="!isManual || !canEdit"
                                                    id="isPositive{{i}}" 
                                                    formControlName="isPositive" />
                                                <label for="isPositive{{i}}" class="k-checkbox-label">Apply As Positive</label>
                                            </div>
                                            <div class="w-100 b bh">
                                                <div class="details">
                                                    <div class="property small-12med">Reason Code</div>
                                                    <kendo-combobox
                                                            [data]="allowedReasonCodes"
                                                            [disabled]="!isManual || !canEdit"
                                                            placeholder="Select code"
                                                            formControlName="reasonCode"
                                                            [filterable]="true"
                                                            (filterChange)="reasonCodesSearchValueChanged($event)"
                                                            (close)="onDropdownClosed()"
                                                    >
                                                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                                                            <span class="dropdown-value">{{ dataItem }}</span>
                                                        </ng-template>
                                                    </kendo-combobox>
                                                </div>
                                            </div>
                                            <div class="w-100 b br-b b-t-n">
                                                <div class="property small-12med">Description</div>
                                                <div class="value">{{ getAdjustmentDescription(i) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div> 
                        </form>

                        <outlined-btn *ngIf="canEdit && isManual" class="d-flex pointer mt-4" text="Add an adjustment"
                                      (onClick)="addAdjustmentField()" iconClass="icon-24 add-circle-icon"></outlined-btn>
                    </div>
                    
                    <div *ngIf="canEdit" class="footer">
                        <contained-btn *ngIf="canEdit" [isDisabled]="!isSidebarValuesChanged()" class="button pointer" text="Save"
                                    (onClick)="Save()"></contained-btn>
                        <outlined-btn class="button pointer" text="Cancel" (onClick)="Cancel()"></outlined-btn>
                    </div>

                </mat-tab>
                <mat-tab label="History">
                    <payment-history-details [serviceLineId]="serviceLine?.id" [patientId]="patientId" [writeOffs]="writeOffs"></payment-history-details>
                </mat-tab>
            </mat-tab-group>
        </div>
        

<confirmation-dialog [confirmDialog]="deleteConfirmation" (onConfirm)="acceptDeleteAdjustment($event)"></confirmation-dialog>
<confirmation-dialog [confirmDialog]="deleteConfirmationWriteOff" (onConfirm)="acceptDeleteWriteOff($event)"></confirmation-dialog>
<confirmation-dialog [confirmDialog]="cancelConfirmation" (onConfirm)="Close()"></confirmation-dialog>
