.adjustments-details {
    text-align: left;
    position: relative;
    height: 100%;
    width: 100%;
}

.header {
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    border-bottom: 1px solid var(--Black-88);

    position: absolute;
    top: 0;
    width: 100%;
    height: 65px;
}

.header-icon {
    background-color: var(--Black-32);
    margin: 0 8px;
}

.header-text {
    color: var(--prim-text);
}

.body {
    padding: 20px;
    position: absolute;
    top: 65px;
    overflow-y: auto;
    width: 100%;
}

.adjustments-header {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.2px;
}

.adjustments-total {
    margin-top: 8px;
    color: var(--Black-20);
}

.list-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 128%;

    display: flex;
    align-items: center;
    letter-spacing: 0.1px;

    color: #000000;
}

.info {
    background: var(--White-220);
    border: 1px solid var(--Black-88);
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 20px;
}

.info-line {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

.info-line .name {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: var(--prim-text);
}

.info-line .value {
    color: var(--Black-20)
}

.icon-wrapper {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 8px;
}

.icon-wrapper:hover {
    background-color: var(--Blue-96);
}

.icon-wrapper:hover > span {
    background-color: var(--Blue-72);
}

.light {
    /*border: 1px solid var(--Black-88);*/
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 19px;
    margin-bottom: 5px;
}

.dark {
    /*border: 1px solid var(--Black-88);*/
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--Blue-98);
    display: flex;
    flex-wrap: wrap;
    margin-top: 19px;
    margin-bottom: 5px;
}

.dark .w-50,
.dark .w-100 {
    padding: 5px 15px;
}

.dark .b-l {
    border-left: 1px solid var(--Black-88);
    padding-right: 0;
    padding-bottom: 0;
}

.dark .b-t {
    border-top: 1px solid var(--Black-88);
}

.dark .details {
    display: flex;
    flex-direction: column;
}

.dark .details-header {
    line-height: 120%;
    padding: 13px;
}

.dark .details .value {
    text-align: start;
}

.dark .details select.value {
    border: none;
    outline: none;
    background: transparent;
}

.dark .details input.value {
    border-color: #dee2e6 !important;
}

.dark .details .k-dropdown {
    width: 100%;
    background-color: var(--Blue-98);
}

.dark .details .k-dropdown > ::ng-deep .k-dropdown-wrap {
    box-shadow: none;
    border: none;
    background-color: var(--Blue-98);
    height: 20px;
}

.dark .details .k-dropdown > ::ng-deep .k-dropdown-wrap > ::ng-deep .k-input {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.2px;

    padding: 0;
    height: 20px;
}

.dark.not-edited .details .k-dropdown > ::ng-deep .k-dropdown-wrap > ::ng-deep .k-select {
    display: none !important;
}

.dark.edited .details .k-dropdown > ::ng-deep .k-dropdown-wrap > ::ng-deep .k-select {
    display: flex !important;
}

.k-form {
    margin-top: 20px;
    padding: 0;
}

.form-line {
    display: flex;
    /*border: 1px solid var(--Black-88);*/
    /*border-radius: 24px;*/
}

.form-line label {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.2px;

    padding-bottom: 8px;
    color: var(--Black-32);
}

.form-line-input {
    font-family: DM Sans;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 128% !important;
    letter-spacing: 0.1px;

    margin-top: 8px;

    border: 1px solid var(--Black-88);
    padding: 0 12px !important;
    height: 40px;
}

.k-dropdown.ng-invalid.ng-touched,
.form-line-input.ng-invalid.ng-touched {
    border-color: var(--Negative-88);
}

.br-l {
    border-radius: 24px 0 0 24px;
    border-right: none;
}

.br-r {
    border-radius: 0 24px 24px 0;
}

.k-form .k-dropdown {
    margin-top: 8px;
}

.k-form .k-dropdown > ::ng-deep .k-dropdown-wrap {
    border: 1px solid var(--Black-88);
    height: 40px;
    border-radius: 0 24px 24px 0;
}

.k-form .k-dropdown.ng-invalid.ng-touched > ::ng-deep .k-dropdown-wrap {
    border-color: var(--Negative-88);
}

.k-form .k-dropdown > ::ng-deep .k-dropdown-wrap > ::ng-deep .k-input {
    height: 40px;
}

.k-form .dropdown-value {
    font-family: DM Sans;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 128% !important;
    letter-spacing: 0.1px;
}

.form-line textarea {
    margin-top: 8px;

    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 128% !important;
    letter-spacing: 0.1px;

    border: 1px solid #CED6E0;
    box-sizing: border-box;
    border-radius: 20px;
}

.footer {
    border-top: 1px solid var(--Black-88);
    padding-top: 16px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 73px;
}

.footer > .button {
    margin: 0 8px;
}

/*borders*/

.b {
    border: 1px solid var(--Black-88);
}

.bh:hover {
    border-color: var(--Blue-84);
}

.b-t-n {
    border-top: none;
}

.b-b-n {
    border-bottom: none;
}

.br-tl {
    border-radius: 10px 0 0 0;
}

.br-tr {
    border-radius: 0 10px 0 0;
}

.br-bl {
    border-radius: 0 0 0 10px;
}

.br-br {
    border-radius: 0 0 10px 0;
}

.br-b {
    border-radius: 0 0 10px 10px;
}

.br-t {
    border-radius: 10px 10px 0 0;
}

.bh:hover.hasError,
.hasError {
    border-color: var(--Negative-88);
}

.hasError .property {
    color: var(--Negative-88);
}

.ml-1{
    margin-left: 1rem !important;
}

/* hide arrows in number input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#receivedDates
{
    border-radius: 0 24px 24px 0;
    margin-top: 8px;
    height: 40px;
    background-color: #fff;
    border: 1px solid var(--Black-88);
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
}