.rendering-provider-search-popup {
    display: revert !important;
    width: 350px;
}

.rendering-provider-search-input {
    border: 1px solid var(--Black-88);
    border-radius: 20px;
    height: 40px;
    font-size: 15px;
    color: var(--Black-48);
}

.rendering-provider-search-input .search-icon{
    margin: auto 0;
}

.rendering-provider-search-input input {
    background: transparent;
    border: none;
    height: auto;
    font-size: 14px !important;
}

.rendering-providers-list {
    border: 1px solid var(--Black-88);
    max-height: 275px;
    border-radius: 8px;
    overflow-y: auto;
    padding: 10px 0;
    flex-grow: 0;
    display: block !important;
}

.rendering-providers-list.loading {
    background-color: var(--Black-96);
}

.rendering-provider-item {
    padding: 10px 15px;
    font-family: DM Sans, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: var(--Black-48);
}

.rendering-provider-item:hover {
    cursor: pointer;
    background-color: var(--Black-96);
    border-radius: 8px;
}

.rendering-provider-item input[type='checkbox']{
    transform: scale(1.5);
    pointer-events: none;
}

.mat-mdc-progress-spinner {
    height: 30px !important;
    width: 30px !important;
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: var(--Blue-72);
}
