SET NOEXEC OFF
SET NOCOUNT ON
SET NUMERIC_ROUNDABORT OFF
GO

SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO

SET XACT_ABORT ON
GO

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE

BEGIN TRANSACTION



IF @@ERROR <> 0 SET NOEXEC ON

--Script to insert and update the messages 
BEGIN TRANSACTION;
 
	-- Insert data into ClaimHistoryFields table (if not exists)
	IF NOT EXISTS (SELECT 1 FROM dbo.ClaimHistoryFields WHERE id = 21)
		INSERT INTO dbo.ClaimHistoryFields (id, name) VALUES (21, 'Amount');
	IF NOT EXISTS (SELECT 1 FROM dbo.ClaimHistoryFields WHERE id = 22)
		INSERT INTO dbo.ClaimHistoryFields (id, name) VALUES (22, 'Reason Code');
 
	-- Insert data into ClaimActions table (if not exists)
	IF NOT EXISTS (SELECT 1 FROM dbo.ClaimActions WHERE id = 30)
		INSERT INTO dbo.ClaimActions (id, name) VALUES (30, 'PatientResponsibility');
	IF NOT EXISTS (SELECT 1 FROM dbo.ClaimActions WHERE id = 31)
		INSERT INTO dbo.ClaimActions (id, name) VALUES (31, 'Adjustment');
 
	-- Insert data into ClaimHistoryActions table (if not exists)
	IF NOT EXISTS (SELECT 1 FROM dbo.ClaimHistoryActions WHERE id = 62)
		INSERT INTO dbo.ClaimHistoryActions (id, name, description) VALUES (62, 'WriteOffUpdated', 'Write-off updated');
	IF NOT EXISTS (SELECT 1 FROM dbo.ClaimHistoryActions WHERE id = 63)
		INSERT INTO dbo.ClaimHistoryActions (id, name, description) VALUES (63, 'PatientResponsibilityApplied', 'Patient responsibility with "amount = @newValue" applied.');
	IF NOT EXISTS (SELECT 1 FROM dbo.ClaimHistoryActions WHERE id = 64)
		INSERT INTO dbo.ClaimHistoryActions (id, name, description) VALUES (64, 'PatientResponsibilityUpdated', 'Patient responsibility updated');
	IF NOT EXISTS (SELECT 1 FROM dbo.ClaimHistoryActions WHERE id = 65)
		INSERT INTO dbo.ClaimHistoryActions (id, name, description) VALUES (65, 'PatientResponsibilityUnapplied', 'Patient responsibility with "amount = @newValue" unapplied.');
	IF NOT EXISTS (SELECT 1 FROM dbo.ClaimHistoryActions WHERE id = 66)
		INSERT INTO dbo.ClaimHistoryActions (id, name, description) VALUES (66, 'AdjustmentUpdated', 'Adjustment updated');
	IF NOT EXISTS (SELECT 1 FROM dbo.ClaimHistoryActions WHERE id = 67)
		INSERT INTO dbo.ClaimHistoryActions (id, name, description) VALUES (67, 'AdjustmentUnapplied', 'Adjustment with "amount = @newValue" unapplied.');

	-- Update ClaimHistoryActions table
	UPDATE dbo.ClaimHistoryActions 
	SET description = 'Adjustment with "amount = @newValue" applied.' 
	WHERE id = 1;
	UPDATE dbo.ClaimHistoryActions 
	SET name = 'WriteoffApplied', description = 'Write-off with "amount = @newValue" applied.' 
	WHERE id = 41;
	UPDATE dbo.ClaimHistoryActions 
	SET name = 'WriteoffUnapplied', description = 'Write-off with "amount = @newValue" unapplied.' 
	WHERE id = 42;
 
COMMIT TRANSACTION;
GO

COMMIT TRANSACTION
GO

DECLARE @Success AS BIT
SET @Success=1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'Database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed. ROLLBACK TRANSACTION'
END
GO