.user-popup {
    background-color: var(--White-220);
    border: 1px solid var(--Black-88);
   
    box-shadow: 0 8px 20px rgba(37, 40, 43, 0.08);
    border-radius: 8px;
    padding: 12px;
    
    margin-top: 7px;
}

.user-popup ::ng-deep.k-popup {
    border: none;
    margin: 0;
    padding: 0;
}

.option-item {
    padding: 10px 15px;
    font-family: DM Sans, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: var(--Black-100);
}

.option-item:hover {
    cursor: pointer;
    background-color: var(--Black-96);
    border-radius: 8px;
}

.option-item.active {
    pointer-events: none;
    border-radius: 8px;
    color: var(--White-220);
}

.icon-text {
    align-items: center;
    display: flex;
}

.icon-text .icon-24{
    margin: 0;
}