

.dialog-container.k-dialog-content {
    /* min-height: 202px; */
    width: 800px;
}

.claim-search-result-wrapper { 
    margin-top: 24px;    
    margin-bottom: 24px;  
    max-height: 60vh;
    overflow-y: auto;  
}

.claim-search-input .k-autocomplete{
    border-radius: 20px;
    border: 1px solid #CED6E0;
    padding: 0px 10px !important;
    height: 40px;
}

.claim-search-input .k-autocomplete kendo-searchbar input{
    height: 40px;
}

.k-autocomplete.k-header {
    height: 40px;
}

.selected-claim-row {
    border-radius: 20px;
    background-color: #F0F4FA;
    display: flex;
    justify-content: stretch;
    height: 40px;
    line-height: 40px;
    margin-bottom: 8px;
    padding: 0 15px;    
    align-items: center;
    gap: 10px; /* optional */

}

.claim-search-dialog-buttons{
    bottom: 24px;
    right: 24px;
}

.flex-end-css{
    display: flex;
    justify-content: flex-end;
}

.claim-search-dialog-buttons > outlined-btn {
    margin-right: 16px;
}

.align-center {
    display: flex;
    align-items: center;
    justify-items: center;
}

.overflow-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.new-style-popup .k-list .k-item {
    padding: 3px 5px;
}

.claim-line {
    max-width: 680px;
}

.claim-line .claim-checkbox {
    width: 7%;
}

.claim-line .claim-id {
    width: 27%
}

.claim-line .claim-patient-name {
    width: 53%;
}

.claim-line .claim-date {
    width: 27%;
    text-align: right;
}


.selected-claim-row .claim-id {
   flex: 0 0 140px;         /* fixed width */
  min-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-claim-row .claim-patient-name {
   flex: 1;                /* take remaining space */
  min-width: 0;           /* prevents pushing next column */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-claim-row .claim-date {
    flex: 0 0 150px;
  min-width: 130px;
  white-space: nowrap;
  text-align: right;
}

.selected-claim-row .claim-delete .icon-24 {
    margin-right: 0;
}

.selected-claim-row .claim-delete {
     flex: 0 0 40px;
  text-align: center;
    cursor: pointer;
}

.patient-search-result-wrapper {
    margin-top: 24px;
    margin-bottom: 24px;
}

.claim-search-input .k-input {
    font-size: 14px !important;
    height: 100%;
}

.claim-search-input .k-searchbar{
    padding: 0 15px;
}

.claim-search-input-container {
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #CED6E0;
    width: 740px;
    overflow: hidden;
}

.claim-search-input-container .search-icon{
    margin: auto 0;
    position: absolute;
    top: 10px;
    z-index: 1;
}

.claim-search-input {
    border: none;
    width: 100%;
    height: 40px !important;
    padding-left: 25px;
}