SET NOEXEC OFF
SET NOCOUNT ON
SET NUMERIC_ROUNDABORT OFF
GO

SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO

SET XACT_ABORT ON
GO

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE

BEGIN TRANSACTION

IF @@ERROR <> 0 SET NOEXEC ON
GO

-- DATA SCRIPTS GOES HERE.....
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'Reporting.ClaimStatus') AND type in (N'U'))
BEGIN
	insert into [Reporting].[ClaimStatus](claimStatusId,claimStatus,dateCreated) values
	(0,'None',GETDATE()),
	(1,'Pending Review',GETDATE()),
	(2,'Void',GETDATE()),
	(3,'Billed',GETDATE()),
	(4,'Pending',GETDATE()),
	(5,'Denied',GETDATE()),
	(6,'Closed',GETDATE()),
	(7,'Ready To Bill',GETDATE()),
	(8,'Rejected ClearingHouse',GETDATE()),
	(9,'Rejected Funder',GETDATE()),
	(10,'Rebill',GETDATE()),
	(11,'Bill Next Funder',GETDATE()),
	(12,'Paid',GETDATE()),
	(13,'Success',GETDATE()),
	(14,'Fail',GETDATE()),
	(15,'Accepted ClearingHouse',GETDATE()),
	(16,'Accepted Funder',GETDATE()),
	(17,'Received Funder',GETDATE()),
	(18,'Void Closed',GETDATE())

END
GO

IF @@ERROR <> 0 SET NOEXEC ON
GO
--- DATAFIX script for Clients ---

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'Reporting.Clients') AND type in (N'U'))
BEGIN

INSERT INTO [Reporting].[Clients](
clientFirstName,
clientMiddleName,
clientLastName,
clientId,
dateCreated,
dateModified,
dateDeleted
)
SELECT 
	COALESCE(firstName,'') AS clientFirstName,
	middleName AS clientMiddleName,
	lastName AS clientLastName,
	id AS clientId,
	GETDATE() AS dateCreated,
	GETDATE() AS dateModified,
	dateDeleted AS dateDeleted
FROM 
[dbo].[ClaimSearchClients]

END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
--- DATAFIX script for Funders ---

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'Reporting.Funders') AND type in (N'U'))
BEGIN

INSERT INTO [Reporting].[Funders](
funderId,
funderName,
dateCreated,
dateModified,
dateDeleted
)
SELECT 
	id AS funderId,
	name AS funderName,
	GETDATE() AS dateCreated,
	GETDATE() AS dateModified,
	dateDeleted AS dateDeleted
FROM
[dbo].[claimsearchfunders]

END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO

COMMIT TRANSACTION
GO

DECLARE @Success AS BIT
SET @Success=1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'Database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed. ROLLBACK TRANSACTION'
END
GO