SET NOEXEC OFF
SET NOCOUNT ON
SET NUMERIC_ROUNDABORT OFF
GO

SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO

SET XACT_ABORT ON
GO

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE

BEGIN TRANSACTION

IF @@ERROR <> 0 SET NOEXEC ON
GO
BEGIN

/****** Object:  Table [Reporting].[AccountsReceivable]    Script Date: 12/3/2024 11:25:11 AM ******/
CREATE TABLE [Reporting].[AccountsReceivable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accountInfoId] [int] NOT NULL,
	[claimId] [int] NOT NULL,
	[funderId] [int] NOT NULL,
	[clientId] [int] NOT NULL,
	[claimFrom] [datetime] NOT NULL,
	[claimThrough] [datetime] NOT NULL,
	[claimStatusId] [int] NOT NULL,
	[billedDate] [datetime] NULL,
	[billedAmount] [decimal](18, 2) NOT NULL,
	[patientResponsibility] [decimal](18, 2) NOT NULL,
	[writeOff] [decimal](18, 2) NOT NULL,
	[adjustment] [decimal](18, 2) NOT NULL,
	[adjustedClaimAmount] [decimal](18, 2) NOT NULL,
	[paymentRecieved] [decimal](18, 2) NOT NULL,
	[netRecievable] [decimal](18, 2) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateModified] [datetime] NOT NULL,
	[dateDeleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
BEGIN
/****** Object:  Table [Reporting].[ClaimStatus]    Script Date: 12/3/2024 11:25:11 AM ******/
CREATE TABLE [Reporting].[ClaimStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[claimStatusId] [int] NOT NULL,
	[claimStatus] [nvarchar](50) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
BEGIN
/****** Object:  Table [Reporting].[Clients]    Script Date: 12/3/2024 11:25:11 AM ******/
CREATE TABLE [Reporting].[Clients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clientId] [int] NOT NULL,
	[clientFirstName] [nvarchar](max) NOT NULL,
	[clientMiddleName] [nvarchar](max) NULL,
	[clientLastName] [nvarchar](max) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
BEGIN
/****** Object:  Table [Reporting].[Funders]    Script Date: 12/3/2024 11:25:11 AM ******/
CREATE TABLE [Reporting].[Funders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[funderId] [int] NOT NULL,
	[funderName] [nvarchar](max) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
BEGIN
/****** Object:  Table [Reporting].[PaymentsAdjustments]    Script Date: 12/3/2024 11:25:11 AM ******/
CREATE TABLE [Reporting].[PaymentsAdjustments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accountInfoId] [int] NOT NULL,
	[claimId] [int] NOT NULL,
	[funderId] [int] NOT NULL,
	[clientId] [int] NOT NULL,
	[chargeEntryId] [int] NOT NULL,
	[paymentId] [int] NULL,
	[claimFrom] [datetime] NOT NULL,
	[claimThrough] [datetime] NOT NULL,
	[billedDate] [datetime] NULL,
	[claimStatusId] [int] NOT NULL,
	[transactionTypeId] [int] NOT NULL,
	[transactionType] [int] NOT NULL,
	[reasonCode] [nvarchar](50) NULL,
	[remarkCode] [int] NULL,
	[transactionDate] [datetime] NULL,
	[paymentOrAdjustmentDate] [datetime] NULL,
	[eftOrCheckNumber] [nvarchar](50) NULL,
	[payment] [decimal](18, 2) NOT NULL,
	[adjustment] [decimal](18, 2) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateModified] [datetime] NOT NULL,
	[dateDeleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO

IF @@ERROR <> 0 SET NOEXEC ON
GO

COMMIT TRANSACTION
GO

DECLARE @Success AS BIT
SET @Success=1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'Database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed. ROLLBACK TRANSACTION'
END
GO
