.filter-input-wrapper {
    border: 1px solid #A0A4A8;
    border-radius: 8px;
    height: 48px;
    padding: 12px;
}

.filter-input-label {
    color: var(--Black-60);
    font-size: 12px;
}

.filter-input {
    border: none;
    background-color: transparent;
    font-size: 16px !important;
    width: 70px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}