/*#claims .k-grid-header .k-header:last-child,
#claims .k-grid td:last-child {
    text-overflow: clip;
}
*/
.main {
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
}


.header-actions-wrapper {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.grid-area {
    padding-left: 24px;
}

.path {
    padding-top: 14px;
    margin-bottom: 2px;
}

#actions-dropdown-list {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    height: 0px;
    width: 200px;
    right: 0;
    padding: 0;
    margin-top: 5px;
    box-shadow: 0px 8px 20px rgba(37, 40, 43, 0.08);
    border-radius: 8px;
    background-color: var(--White-220);
}

    #actions-dropdown-list li {
        display: flex;
        line-height: 40px;
    }

    #actions-dropdown-list.active {
        border: 1px solid var(--Black-88);
    }

    #actions-dropdown-list span {
        display: flex;
        margin-left: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 0px;
    }

    #actions-dropdown-list a {
        display: flex;
        margin-left: 11px;
        line-height: unset;
    }

    #actions-dropdown-list li:hover span {
        background-color: var(--secd-text);
    }

    #actions-dropdown-list li:hover a {
        color: var(--prim-act);
    }


td a.nav-link {
    color: var(--Blue-72);
    text-decoration: none;
    padding: 0 !important;
}

#claims td {
    padding: 10px 12px !important;
    line-height: 20px;
}

.denied-icon {
    background-color: var(--Negative-88);
}

.denied {
    color: var(--Negative-88);
}

.processed-icon {
    background-color: var(--Positive-84);
}

.processed {
    color: var(--Positive-84);
}

.claim-status {
    max-height: 20px;
    display: flex;
    justify-content: start;
}

    .claim-status .icon-24 {
        margin-left: 0;
    }

    .claim-status .status-name {
        padding: 0;
        line-height: 24px;
    }

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 0px;
    transform: none;
    border: 1px solid #B6BFCC;
    box-sizing: border-box;
 
}

/*Wrap a label around your checkbox text */
.checkboxtext
{
    margin-left: 10px;
    /* Checkbox text */
    font-size: 110%;
    display: inline;
}

.icon-wrapper-filter {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.k-list-container.k-state-border-up {
    border-radius: 20px !important;
    height: 33px;
    width: 156px;
}

.hint-text {
    padding: 8px 16px 8px 16px;
}

.criteria-selected {
    background-color: #C5D9EB;
    border-radius: 20px;
}

.criteria-selected > span {
    background-color: var(--Blue-72);
}

.paid-filter {
    margin: auto 24px;
}

:host::ng-deep .k-input-solid:focus-within{
    border-radius: 20px;
}


.scrollBar {
    width: 140% !important;
}

.scroller {
    overflow-x: scroll;
}

::ng-deep .customePageator .k-input-inner{
  padding: 7px;
}

.action-icons {
  display: flex;
  gap: 8px;
  align-items: center;
}