/****** Object:  Table [dbo].[CarcCode]    Script Date: 22-07-2025 11:36:29 ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

-- Create the table if it does not exist
IF NOT EXISTS (
    SELECT * FROM sys.tables t
    JOIN sys.schemas s ON t.schema_id = s.schema_id
    WHERE t.name = 'CarcCode' AND s.name = 'dbo'
)
BEGIN
    CREATE TABLE CarcCode (
    id INT PRIMARY KEY IDENTITY(1,1),
    code VARCHAR(10),
    description TEXT,
    dateDeleted DATETIME
     );
    PRINT 'Table dbo.CarcCode created.';
END
ELSE
BEGIN
    PRINT 'Table dbo.CarcCode already exists.';
END

-- Check if the table has any rows
DECLARE @rowCount INT;
SELECT @rowCount = COUNT(*) FROM dbo.CarcCode;

IF @rowCount = 0
BEGIN
    PRINT 'Table dbo.CarcCode is empty. Inserting data...';

    

    PRINT 'Data insertion complete.';
END
ELSE
BEGIN
    PRINT 'Table dbo.CarcCode already contains data. Skipping insert.';
END

