SET NOEXEC OFF
SET NOCOUNT ON
SET NUMERIC_ROUNDABORT OFF
GO

SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO

SET XACT_ABORT ON
GO

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE

BEGIN TRANSACTION

IF @@ERROR <> 0 SET NOEXEC ON
GO

-- DATA SCRIPTS GOES HERE.....
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.ClaimErrorMessages') AND type in (N'U'))
BEGIN
	INSERT INTO dbo.[ClaimErrorMessages] Values
	(3201, 'Clearing House - Details Missing', 'Clearing House Details missing', 2, 7, GETDATE(), GETDATE(), NULL, 0, NULL, NULL),
	(3202, 'Clearing House - Title Missing', 'Clearing House Title missing', 2, 7, GETDATE(), GETDATE(), NULL, 0, NULL, NULL),
	(3203, 'Clearing House - URL Link Missing', 'Clearing House URL Link missing', 2, 7, GETDATE(), GETDATE(), NULL, 0, NULL, NULL),
	(3204, 'Clearing House - UserName Missing', 'Clearing House User Name missing', 2, 7, GETDATE(), GETDATE(), NULL, 0, NULL, NULL),
	(3205, 'Clearing House - Password Missing', 'Clearing House Password missing', 2, 7, GETDATE(), GETDATE(), NULL, 0, NULL, NULL)
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO

COMMIT TRANSACTION
GO

DECLARE @Success AS BIT
SET @Success=1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'Database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed. ROLLBACK TRANSACTION'
END
GO