.claim-info-form {
    margin-bottom: 31px;
}

.claim-info-control {
    display: flex;
    flex-direction: column;
    width: 475px;
    margin-bottom: 40px;
}

.claim-info-control ::ng-deep.k-dropdown {
    width: 100%;
}
#responsibleParty[disabled]{
   background-color: rgba(118, 118, 118, 0.06);
}
:host ::ng-deep #responsibleParty[disabled] > button{
   background-color: rgba(0, 0, 0, 0) !important;
}

