.k-i-dollar{
    border: black;
    border-radius: 25px;
}

.k-dropdown .k-dropdown-wrap, .k-dropdown.k-state-border-down .k-dropdown-wrap.k-state-border-down {
    padding: 5px !important;
    border: 1px solid #CED6E0 !important;
    border-radius: 20px 20px 20px 20px !important;
}

.k-autocomplete, .k-dropdown-wrap, .k-picker-wrap, .k-multiselect-wrap, .k-numeric-wrap {
    padding: 5px !important;
    border: 1px solid #CED6E0 !important;
    border-radius: 20px 20px 20px 20px !important;
}

.funderPopup {
    max-width: 200px !important;
}

.k-textbox, .k-input.k-textbox, .k-textarea {
    padding: 5px !important;
    border: 1px solid #CED6E0 !important;
    border-radius: 20px 20px 20px 20px !important;
}

.dropdown-style-full kendo-dropdownlist {
    width: 100%;
}
.dropdown-style-half kendo-dropdownlist {
    width: 100%;
}

.datepicker-style kendo-datepicker {
    width: 100%;
}

.k-dropdown {
    background-color: transparent !important;
}

.new-style ::ng-deep.k-numeric-wrap ::ng-deep input,
.new-style ::ng-deep.k-picker-wrap ::ng-deep input,
.new-style ::ng-deep.k-searchbar input{
    height: auto;
}

.new-style ::ng-deep.k-numeric-wrap,
.new-style ::ng-deep.k-dateinput-wrap,
.new-style ::ng-deep.k-searchbar {
    height: 100%;
}

.new-style ::ng-deep.k-numeric-wrap,
.new-style ::ng-deep.k-picker-wrap,
.new-style .k-dropdown ::ng-deep.k-dropdown-wrap {
    border-color: var(--Black-88);
}

.new-style ::ng-deep.k-picker-wrap ::ng-deep.k-select {
    background-color: transparent;
}

.new-style .k-dropdown ::ng-deep.k-input {
    text-align: left;
    font-family: DM Sans, serif;
    font-style: normal;
    font-weight: normal!important;
    font-size: 14px!important;
    line-height: 140%!important;

    padding: 0 15px;
}

input[type="radio"] {
    transform: scale(1.5);
}

.new-style .k-autocomplete ::ng-deep input,
.new-style .k-numerictextbox ::ng-deep input,
.new-style ::ng-deep input.k-textbox {
    padding: 0 15px !important;
    font-size: 14px !important;
}

.new-style label {
    font-size: 12px;
}

.new-style .k-autocomplete,
.new-style .k-numerictextbox { 
    height: 40px;
}

.dialog-wrapper > ::ng-deep.k-dialog {
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.dialog-wrapper > ::ng-deep.k-dialog > .k-content{
    padding: 40px 20px;
}

.dialog-body {
    display: block !important;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.25);
    background-color: var(--White-220);
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.1px;
    margin-bottom: 24px;
}

.w-100{
    width: 100% !important;
    border-radius: 20px;
    background-color: #fff;
}

.dropdown-style, .input-style, .datepicker-style, .col-md-6 {
    display: block;
}

#iframeContainer {
    width: 100%;
    height: 500px;  /* Adjust height as needed */
    overflow: hidden;  /* Prevents scrolling within the iframe container */
    position: relative;
    border: 1px solid #ddd;  /* Optional border for visibility */
}
#iframeContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;  /* Removes default iframe border */
}

.missing-guarantor {
    font-style: italic;
}