.filter-item:first-child {
    border-radius: 0px 0 0 0px;
}

/*.w-100 {
    width: 50% !important;
}*/

.icon-24.active {
  background-color: var(--Blue-72);
}

.filter {
  transition: height ease 0.5s;
  gap: 24px;
  height: 0;
  overflow-x: auto;
}

  .filter.opened {
    height: 64px;
  }

.filter-body {
  display: block !important;
  padding: 24px;
}

.filter-info {
  font-size: 12px;
  color: var(--Black-60);
}

.content {
  background-color: var(--White-220);
  border: 1px solid var(--Black-88);
  box-shadow: 0 8px 20px rgba(37, 40, 43, 0.08);
  border-radius: 8px;
  /*padding: 12px;*/

  margin-top: 7px;
}

.new-popup ::ng-deep.k-popup {
  border: none;
  margin: 0;
}

.filter-input-wrapper {
  border: 1px solid #A0A4A8;
  border-radius: 8px;
  height: 48px;
  padding: 12px;
}

.filter-input-label {
  color: var(--Black-60);
  font-size: 12px;
}

.filter-input {
  border: none;
  background-color: transparent;
  font-size: 16px !important;
  width: 70px;
}

.filter-clear-button {
  background-color: var(--White-220);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.disable-pointer {
  cursor: not-allowed !important;
}

/* Toggle style */
::ng-deep .k-switch.large-switch {
  width: 50px;
  height: 24px;
}

::ng-deep .k-switch.large-switch .k-switch-track {
  height: 24px;
}

::ng-deep .k-switch.large-switch .k-switch-thumb {
  width: 18px;
  height: 18px;
  transform: translate(-8px,-0.5px);
}


:host ::ng-deep .toggle-pos .k-switch-thumb {
  transform: translate(-4px,-0.5px);
}

.margin-left {
  margin-left: 20px;
}

.billing-schedule-switch {
    height: 62px;
    padding: 10px;
}

.taxonomy-switch {
  margin:10px 10px 10px 10px;
}

.clear-background {
  border: 0px !important;
  background-color: transparent !important;
}
.no-border {
  border: none;
}

/* Component SCSS */
:host ::ng-deep .toggle-pos .k-switch-label-on,
:host ::ng-deep .toggle-pos .k-switch-label-off{
  display: none !important;
}

.toggle-pos {
  margin-left: 100px;
}

/* Make Kendo Save Button completely round */
.save-btn.k-button {
  background-color: #007bff !important;
  color: white !important;
  border: none !important;
  padding: 8px 20px !important;
  border-radius: 9999px !important; /* FULL ROUND */
}

  .save-btn.k-button:hover:not(:disabled) {
    background-color: #0056b3 !important;
  }

.clear-save-btn.k-button {
  background-color: #007bff !important;
  color: white !important;
  border: none !important;
  padding: 8px 20px !important;
  border-radius: 9999px !important; /* FULL ROUND */
}

.clear-save-btn.k-button:hover:not(:disabled) {
    background-color: #0056b3 !important;
  }

.taxonomy-switch h5 {
  white-space: nowrap;
  font-size: 14px;   /* smaller size */
  font-weight: 500;  /* optional */
  margin: 0;
}








