<!--- Billing Schedule-->
 <div>    
  <h4>Billing Schedule</h4>
  <hr>
</div>
<div class="billing-schedule-switch d-flex w-100 justify-content-between filter col-md-4">
  <h5>Enable Billing Schedule</h5>
  <kendo-switch
    onLabel="On"
    offLabel="Off"
    class="large-switch margin-left"
    [(ngModel)]="billingSchedule"
    (valueChange)="onBillingScheduleToggle($event)"
    kendoTooltip
    title="Enable Billing Schedule">
  </kendo-switch>
</div>

<hr /> 

<!-- Claim Filing Indicator-->
<div>    
  <h4>Claim Filing Indicator/Include Taxonomy Code</h4>
  <hr>
</div>
<div class="d-flex w-100 justify-content-between filter" [class.opened]="opened">

  <!-- FUNDER Dropdown -->
  <div #FunderAnchor
       class="filter-item"
       [class.active]="selectedFilterId == 0"
       (click)="selectFilter(0, FunderAnchor)">
    <div class="d-flex">
      <div class="d-flex flex-column">
        <div class="filter-name">Funder</div>
        <div class="filter-info" *ngIf="selectedFunderId !== null">
          {{ getFunderName(selectedFunderId) }}
        </div>
      </div>
      <span class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
    </div>
  </div>

  <!-- CLAIM FILING INDICATOR Dropdown -->
  <div #CFIAnchor
       class="filter-item"
       [class.active]="selectedFilterId == 1"
       (click)="selectFilter(1, CFIAnchor)">
    <div class="d-flex">
      <div class="d-flex flex-column">
        <div class="filter-name">Claim Filing Indicator</div>
        <div class="filter-info" *ngIf="selectedCFI">
          {{ selectedCFI.indicator }}
        </div>
      </div>
      <span class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
    </div>
  </div>

  
  <!-- INCLUDE TAXONOMY CODE TOGGLE -->
  <div class="taxonomy-switch">
      <!-- Toggle Switch -->
      <h5> Include Taxonomy Code </h5>
      <kendo-switch class="large-switch margin-left" [(ngModel)]="includeTaxonomyCode"
       onLabel="On" offLabel="Off" (valueChange)="onIncludeTaxonomyToggle($event)"
       kendoTooltip
       title="Enable Taxonomy Code">
      </kendo-switch>
  </div> 

  <!-- POPUP -->
  <kendo-popup #popup
               class="new-popup"
               [anchor]="selectedAnchor"
               *ngIf="selectedFilterId != undefined">
    <div [ngSwitch]="selectedFilterId" class="content">
      <!-- FUNDER -->
      <div *ngSwitchCase="0">
        <kendo-combobox #funderCombo
                        [data]="filteredUserList"
                        textField="name"
                        valueField="id"
                        [valuePrimitive]="true"
                        [(ngModel)]="selectedFunderId"
                        (valueChange)="onFunderChange($event)"
                        [filterable]="true"
                        (filterChange)="handleFunderFilter($event)"
                        [style.width.px]="340"
                        placeholder="Search funder...">
        </kendo-combobox>
      </div>

      <!-- CLAIM FILING INDICATOR -->
      <div *ngSwitchCase="1">
        <kendo-combobox #cfiCombo
                        [data]="filteredCFIList"
                        textField="indicator"
                        valueField="id"
                        [valuePrimitive]="true"
                        [(ngModel)]="selectedCFIId"
                        (valueChange)="onCFIChange($event)"
                        [filterable]="true"
                        (filterChange)="handleCFIFilter($event)"
                        [style.width.px]="340"
                        placeholder="Search indicator...">
        </kendo-combobox>
      </div>

    </div>
  </kendo-popup>

  <!-- APPLY / CLEAR -->
  <div class="clear-filter filter-item clear-background">
     <contained-btn
        text="Save"
        (click)="this.selectedFunderId && this.selectedCFIId ? applyFilters() : false"
        class="actionbtns"
        style="margin-left: 12px;"
        [isDisabled]="isSaveDisabled()"
      ></contained-btn>    
  </div>
</div>
