/* Dropdowns, inputs, datepickers */
.k-dropdown .k-dropdown-wrap,
.k-dropdown.k-state-border-down .k-dropdown-wrap.k-state-border-down,
.k-autocomplete,
.k-dropdown-wrap,
.k-picker-wrap,
.k-multiselect-wrap,
.k-numeric-wrap,
.k-textbox,
.k-input.k-textbox,
.k-textarea {
    padding: 5px !important;
    border: 1px solid #CED6E0 !important;
    border-radius: 20px !important;
    background-color: #fff;
}

.dropdown-style-full kendo-dropdownlist,
.dropdown-style-half kendo-dropdownlist,
.datepicker-style kendo-datepicker {
    width: 100%;
}

.k-dropdown {
    background-color: transparent !important;
}

input[type="radio"] {
    transform: scale(1.5);
}

/* Dialog wrapper and body */
.dialog-wrapper > ::ng-deep.k-dialog {
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.dialog-wrapper > ::ng-deep.k-dialog > .k-content {
    padding: 40px 20px;
}

.dialog-body {
    display: block !important;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.25);
    background-color: var(--White-220, #fff);
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.1px;
    margin-bottom: 24px;
}

.w-100 {
    width: 100% !important;
    border-radius: 20px;
    background-color: #fff;
}

.dropdown-style, .input-style, .datepicker-style, .col-md-6 {
  display: block;
}

/* Label and input font styles */
label {
    font-size: 14px;
}

.k-dropdown ::ng-deep.k-input {
    text-align: left;
    font-family: DM Sans, serif;
    font-style: normal;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 140% !important;
    padding: 0 15px;
}

.k-autocomplete ::ng-deep input,
.k-numerictextbox ::ng-deep input,
::ng-deep input.k-textbox {
    padding: 0 15px !important;
    font-size: 14px !important;
}

.k-autocomplete,
.k-numerictextbox {
    height: 40px;
}


.icon-24 {
  margin-top: 50px;
}

#unallocatedAmount {
  padding: 8px !important;
}
