<!--<confirmation-dialog [confirmDialog]="confirmDialog" (onConfirm)="onConfirmSave($event)"></confirmation-dialog>-->
<div class="main">
    <payment-details-info [paymentId]="paymentId" [paymentIdentifier]="paymentIdentifier" *ngIf="!isPatient"></payment-details-info>
    <manual-payment-details-info [paymentId]="paymentId" [paymentIdentifier]="paymentIdentifier" *ngIf="isPatient"></manual-payment-details-info>
    <div class="grid-area">
        <div class="header-actions-wrapper">
                <contained-btn *ngIf="canEdit" class="pointer" text="Add Attachment" iconClass="icon-24 add-circle-icon"
                               (onClick)="openAddAttachmentDialog()"></contained-btn>

            <add-attachment-dialog [existingFiles]="existingFileNames" *ngIf="showAddAttachmentDialog" (closeDialogEmitter)="closeAddAttachmentDialog()"
                                   [paymentId]="paymentId">
            </add-attachment-dialog>

            <confirmation-dialog [confirmDialog]="deleteConfirmation" (onConfirm)="acceptDeleteAttachment($event)"></confirmation-dialog>

        </div>

        <div class="attachments-list">
            <kendo-grid [data]="view | async"
                        [sortable]="{mode: 'single'}" 
                        (sortChange)="onSortChange($event)"
                        [sort]="gridState.sortingModels"
                        (pageChange)="onPageChange($event)"
                        [pageSize]="gridState.take" 
                        [skip]="gridState.skip"
                        [pageable]="pagingSettings"
                        id="attachments-grid">
                <kendo-grid-column field="filename" title="File Name" class="border-bottom border-top p-0">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div *ngIf="!isEdited(dataItem)" class="nav-link" (click)="downloadAttachment(dataItem)">{{dataItem.filename}}</div>
                        <input *ngIf="isEdited(dataItem)" class="inline-edit" type="text" [(ngModel)]="dataItem.filename">
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="dateCreated" title="Date" class="border-bottom border-top p-0">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div>{{dataItem.dateCreated | date: 'h:mm a, MM/dd/yyyy'}}</div>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="createdBy" title="Added" class="border-bottom border-top p-0">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div>{{dataItem.createdBy}}</div>
                    </ng-template>
                </kendo-grid-column>
                
                <kendo-grid-column [width]="100" class="border-bottom border-top p-0">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div *ngIf="!isEdited(dataItem)" class="d-flex">
                            <span (click)="startEdit(dataItem)" class="icon-24 edit-icon pointer"></span>
                            <span (click)="deleteAttachment(dataItem)" class="icon-24 trash-icon pointer"></span>
                        </div>   
                        <div *ngIf="isEdited(dataItem)" class="d-flex">
                            <span (click)="cancelEdit(dataItem)" class="icon-24 denied-icon pointer"></span>
                            <span (click)="acceptEdit(dataItem)" class="icon-24 passed-icon pointer"></span>
                        </div>
                    </ng-template>
                </kendo-grid-column>
                
                                <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage" let-total="total">
                                        <div class="d-flex w-100 justify-content-between">
                                            <div style="margin: auto 0;" class="Body1">
                                                <ng-container *ngIf="total > 0; else noItems">
                                                    Displaying {{ footerRange }} items
                                                </ng-container>
                                                <ng-template #noItems>
                                                    No items to display
                                                </ng-template>
                                            </div>
                                            <div class="d-flex" class="customePageator">
                                                <kendo-pager-page-sizes [pageSizes]="gridPageSizes"></kendo-pager-page-sizes>
                                                <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                                                <kendo-pager-numeric-buttons [buttonCount]="5"></kendo-pager-numeric-buttons>
                                                <kendo-pager-next-buttons></kendo-pager-next-buttons>
                                            </div>
                                        </div>
                                </ng-template>
            </kendo-grid>


           
        </div>
    </div>
</div>

<!--<notify-dialog [notifyDialog]="notifyDialog"></notify-dialog>-->
