<div class="patient-search-popup">
    <div class="mb-3 d-flex w-100 patient-search-input">
        <span class="ml-2 icon-24 search-icon"></span>
        <input #searchInput placeholder="Search" (keyup)="AuthorizationSearchValueChanged($event)"/>
    </div>

    <div [ngClass]="isLoading ? 'patients-list loading mb-2' : 'patients-list mb-2'" style="display: flow !important;" *ngIf="authorizationNumbers.length > 0">
        <div class="patient-item" (click)="selectAll(authorizationNumbers)">
            <input role="button" type="checkbox" [checked]="isAllSelect">
            <span class="ml-2">Select All</span>
        </div>
        <div *ngFor="let authorization of authorizationNumbers" (click)="onAuthorizationClicked(authorization)" class="patient-item" [class.selected]="authorization.checked">
            <input type="checkbox" readonly [checked]="authorization.checked"/>
            <span class="ml-2">{{authorization.name}}</span>
        </div>
    </div>
    <div>
        <ng-template [ngIf]="authorizationNumbers.length">
            <div *ngIf="authorizationNumbers.length == 1; else notOne">
                <span>{{authorizationNumbers.length}} item</span>
            </div>
            <ng-template #notOne>
                <span>{{authorizationNumbers.length}} items</span>
            </ng-template>
        </ng-template>
        
    </div>
</div>
