.appointment-actions-wrapper {
    padding-bottom: 16px;
}

.actions {
    display: none;
    max-height: 20px;
}

.claim-appointments ::ng-deep tr:hover .actions {
    display: flex;
}

/*incomplete auth dialog*/
.dialog-wrapper > .k-dialog {
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.dialog-wrapper ::ng-deep.k-window-content {
    padding: 0;
}

.dialog-body {
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.25);
    background-color: var(--White-220);
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.1px;
    margin-bottom: 12px;
    vertical-align: top !important;
}

::ng-deep .customePageator .k-input-inner{
  padding: 7px;
}

.header-label,
.k-grid-header .k-header {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    text-overflow: unset;
    overflow: visible;
}

::ng-deep .k-link{
    display: flex !important;
}
::ng-deep .k-sort-icon{
    margin-left: 5px !important;
    margin-right: 10px;
}

@media screen and (max-width: 640px) {
   .claim-appointments ::ng-deep .k-grid {
    min-width: 1200px;
}   
}

k-grid-header-wrap{
    vertical-align: top !important;
}