<div class="billing-container">
    <!--hidden #133827-->
    <div class="d-flex appointment-actions-wrapper">
        <contained-btn *ngIf="canEditApprove" text="Add New" iconClass="icon-24 add-circle-icon" (click)="addAppointmentWithStatusCheck()"></contained-btn>
    </div>
    <div class="appointment-list">
        <div class="claim-appointments">
            <kendo-grid [data]="viewAppointmentLinkList"
            [pageSize]="gridStateAppointmentLinkList.take" [skip]="gridStateAppointmentLinkList.skip" [sort]="gridStateAppointmentLinkList.sort"
            [pageable]="true" [sortable]="true" [navigable]="true"
            (dataStateChange)="onAppointmentLinkListStateChange($event)">
    <kendo-grid-column field="id" title="ID">
        <ng-template kendoGridHeaderTemplate let-column>
            <span kendoTooltip title={{column.title}}>{{column.title}}</span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="nav-link" (click)="onAppointmentNumberClick(dataItem)" >{{dataItem.id}}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="startDate" format="{0:d}" title="Date Of Service">
        <ng-template kendoGridHeaderTemplate let-column>
            <span class="header-label" kendoTooltip title={{column.title}}>{{column.title}}</span>
        </ng-template> 
    </kendo-grid-column>
    <kendo-grid-column field="staffName" title="Staff">
        <ng-template kendoGridHeaderTemplate let-column>
            <span kendoTooltip title={{column.title}}>{{column.title}}</span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="nav-link" (click)="navigateToStaff(dataItem.staffId)">{{dataItem.staffName}}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="startDate" format="{0:hh:mm aa}" title="Start Time">
        <ng-template kendoGridHeaderTemplate let-column>
            <span kendoTooltip title={{column.title}}>{{column.title}}</span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="endDate" format="{0:hh:mm aa}" title="End Time">
        <ng-template kendoGridHeaderTemplate let-column>
            <span kendoTooltip title={{column.title}}>{{column.title}}</span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="serviceName" title="Service">
        <ng-template kendoGridHeaderTemplate let-column>
            <span kendoTooltip title={{column.title}}>{{column.title}}</span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="billingCode" title="Billing Code">
        <ng-template kendoGridHeaderTemplate let-column>
            <span kendoTooltip title={{column.title}}>{{column.title}}</span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="serviceLocation" title="Location">
        <ng-template kendoGridHeaderTemplate let-column>
            <span kendoTooltip title={{column.title}}>{{column.title}}</span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="location" [sortable]="false" title="Place of Service">
        <ng-template kendoGridHeaderTemplate let-column>
            <span class="header-label" kendoTooltip title={{column.title}}>{{column.title}}</span>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="appointmentDescription" class="border-bottom border-top p-0" title="">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="actions">
                <ng-template [ngIf]="gridLength > 1 && !claim.billedPreviously && canEditApprove">
                    <span kendoTooltip title="delete" class="icon-24 trash-icon pointer" (click)="openDeleteAppointmentDialog(dataItem.id)"></span>
                </ng-template>
            </div>
        </ng-template>
    </kendo-grid-column>

    <ng-template kendoPagerTemplate let-totalPages="totalPages" let=currentPage="currentPage" let-total="total">
        <div class="d-flex w-100 justify-content-between">
            <div style="margin: auto 0;"
                 *ngIf="viewAppointmentLinkList.data.length > 0" class="Body1">
                Displaying {{getPageStart(total)}}–{{getPageEnd(total)}} of {{total}} items
            </div>
            <div class="d-flex" class="customePageator">
                <kendo-pager-page-sizes [pageSizes]="gridPageSizes"></kendo-pager-page-sizes>
                <kendo-pager-prev-buttons kendoTooltip></kendo-pager-prev-buttons>
                <kendo-pager-numeric-buttons [buttonCount]="5"></kendo-pager-numeric-buttons>
                <kendo-pager-next-buttons kendoTooltip></kendo-pager-next-buttons>
            </div>
        </div>
    </ng-template>
</kendo-grid>
        </div>
    </div>

    <kendo-dialog *ngIf="forbidAddAppointmentShow" class="dialog-wrapper new-style" width="600">
        <div kendoDialogContainer class="dialog-body">
            <div class="title">
                Modify Paid Appointment
            </div>

            <div class="d-flex flex-column-reverse">
                This claim has been billed and maybe pending funder response. Do you still want to add an appoinment?
            </div>

            <div class="d-flex flex-row-reverse mt-4">
                <contained-btn class="pointer ml-3" text="Yes" (onClick)="addWarningDialogConfirmed()"></contained-btn>
                <outlined-btn class="pointer" text="No" (onClick)="forbidAddAppointmentShow = !forbidAddAppointmentShow"></outlined-btn>
            </div>
        </div>
    </kendo-dialog>

    <appointment-add *ngIf="showAddAppointmentDialog" [claimId]="claim.id" [childProfileId]="claim.childProfileId" [locationId]="claim.locationCodeId"  (closeDialogEmitter)="createAppointmentEvent($event)"></appointment-add>

    <confirmation-dialog [confirmDialog]="confirmDeleteAppointmentDialog" (onConfirm)="removeAppointment()"></confirmation-dialog>
    <notify-dialog [notifyDialog]="notifyDialog"></notify-dialog>
</div>
