<div class="error-frame small-12reg">
    <div class="w-50">
        <div class="details">
            <div class="property small-12med">Source</div>
            <div class="value">{{element.source}}</div>
        </div>
    </div>
    <div class="w-50 b-l">
        <div class="details">
            <div class="property small-12med">Error Code</div>
            <div class="value">{{element.errorCode}}</div>
        </div>
    </div>
    <div class="w-100 b-t">
        <div class="details">
            <div class="property small-12med">Description</div>
            <div class="value">{{element.description}}</div>
        </div>
    </div>
</div>