.icon-24 {
    height: 20px;
}

.dialog-wrapper > .k-dialog {
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.dialog-wrapper > .k-dialog > .k-content{
    padding: 40px 20px;
}

.dialog-body {
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.25);
    background-color: var(--White-220);
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.1px;
    margin-bottom: 12px;
}

.dropzone {
    position: relative;
    border: 1px dashed #9AA6B8;
    border-radius: 8px;
    text-align: center;
    width: 512px;
    height: 80px;
    margin: 12px 0;
}

.dropzone > .placeholder {
    line-height: 18px;
    padding: 28px;
    height: 100%;
}

.dropzone > .placeholder > .icon {
    background-color: var(--Black-32);
    margin-right: 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.dropzone.drag-over > .placeholder > .icon {
    background-color: var(--Blue-72);
}

.dropzone.drag-over {
    background-color: var(--Blue-98);
    border-color: var(--Blue-72);
    color: var(--Blue-72);
}

.dropzone > input {
    opacity: 0;
    position: absolute;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.dropzone.drag-over > input {
}

.dropzone > .placeholder > label {
    color: var(--Blue-72);
    cursor: pointer;
}

.dropzone > .placeholder > label:hover {
    color: var(--Blue-72);
    text-decoration: underline;
}

.files-list {
    margin: 12px 0;
}

.files-list .files-list-title {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.1px;
    margin-bottom: 20px;
    color: var(--Black-32);
}

.files-list .file-info {
    height: 40px;
    width: 100%;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: var(--Blue-98);
    margin-bottom: 8px;
}

.file-info .icon {
    width: 20px;
    height: 20px;
    background-color: var(--Black-32);
    margin-right: 15px;
    display: inline-block;
}

.circle-progress-bar {
    margin: 0 14px;
}

.footer {
    
}
.error-message
{
    color: red;
    font-size: 12px !important;    
}