/****** Object:  StoredProcedure [dbo].[usp_CalculateStartingAR]    Script Date: 02-03-2026 19:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_CalculateStartingAR]
(
    @AccountInfoId int,
    @StartDate DATE,
    @DateBasis NVARCHAR(20) = NULL, -- Transaction | Deposit
    @StartingAR DECIMAL(18,2) OUTPUT,
	@LocationIds NVARCHAR(MAX) = NULL,       -- optional comma-separated list of location IDs
    @FunderIds   NVARCHAR(MAX) = NULL        -- optional comma-separated list of funder IDs
)
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------------------------------
    -- As-Of Boundary (11:59:59 PM on StartDate)
    ------------------------------------------------------------
    DECLARE @AsOfDateTime datetime = DATEADD(SECOND, -1, CAST(@StartDate AS datetime));

	------------------------------------------------------------
    -- Eligible Claims (SINGLE SOURCE OF TRUTH)
    ------------------------------------------------------------
    ;WITH EligibleClaims AS (
        SELECT id AS ClaimId,
		       hcClaimStatusId AS ClaimStatus
        FROM Claims c
        WHERE c.accountinfoid=@AccountInfoId and c.dateDeleted IS NULL AND c.hcClaimStatusId NOT IN (2,18)  
		-- Optional Location filter
          AND (
                @LocationIds IS NULL
                OR LTRIM(RTRIM(@LocationIds)) = ''
                OR c.hcProviderLocationId IN (
                    SELECT TRY_CAST(value AS INT)
                    FROM STRING_SPLIT(@LocationIds, ',')
                )
              )

          -- Optional Funder filter
          AND (
                @FunderIds IS NULL
                OR LTRIM(RTRIM(@FunderIds)) = ''
                OR c.primaryFunderId IN (
                    SELECT TRY_CAST(value AS INT)
                    FROM STRING_SPLIT(@FunderIds, ',')
                )
              )
    ),



    ------------------------------------------------------------
    -- Charges (ALWAYS Transaction Date)
    ------------------------------------------------------------
  ChargeAgg AS (
    SELECT SUM(ch.charges) AS Charges
    FROM ClaimChargeEntries ch
    JOIN EligibleClaims ec
        ON ch.hcClaimId = ec.ClaimId
    CROSS APPLY
    (
        -- pick the latest submission for the claim that occurred on or before the AsOf boundary
        SELECT TOP (1) cs.hcClaimId, cs.submitDate, cs.id
        FROM ClaimSubmissions cs
        WHERE cs.hcClaimId = ec.ClaimId
          AND cs.DateDeleted IS NULL
          AND cs.submitDate <= @AsOfDateTime
        ORDER BY cs.submitDate DESC, cs.id DESC
    ) latestCs
    WHERE ch.DateDeleted IS NULL
      AND ec.ClaimStatus NOT IN (1, 7, 10, 20)  -- preserve original business rule
),

    ------------------------------------------------------------
    -- Insurance Payments (Date Basis Applied)
    ------------------------------------------------------------
    InsurancePayments AS (
    SELECT SUM(pc.totalPayment) AS InsurancePay
    FROM PaymentClaim pc
    JOIN Payment p ON pc.hcPaymentId = p.id
	JOIN EligibleClaims ec ON pc.hcClaimId = ec.ClaimId
    WHERE (p.hcPaymentTypeId IN (1,2))  and pc.claimStatus not in (22)
    AND p.postDate <= @AsOfDateTime and p.dateDeleted is null
),

    ------------------------------------------------------------
    -- Patient Payments (Date Basis Applied)
    ------------------------------------------------------------
    PatientPayments AS (
    SELECT SUM(pc.totalPayment) AS PatientPay
    FROM PaymentClaim pc
    JOIN Payment p ON pc.hcPaymentId = p.id
	JOIN EligibleClaims ec ON pc.hcClaimId = ec.ClaimId
    WHERE p.hcPaymentTypeId = 3 -- Patient
    AND p.postDate <= @AsOfDateTime and p.dateDeleted is null
),

    ------------------------------------------------------------
    -- Adjustments (Date Basis Applied)
    ------------------------------------------------------------
    Adjustments AS (
    SELECT SUM(
                CASE WHEN adj.IsAdjustmentPositive = 1 THEN adj.adjustmentAmount * -1
                     ELSE adj.adjustmentAmount
                END
           ) AS Adjustments
    FROM PaymentClaim pc
    JOIN Payment p ON pc.hcPaymentId = p.id
    JOIN PaymentClaimServiceLine pcl ON pcl.hcPaymentClaimId = pc.id
	JOIN EligibleClaims ec ON pc.hcClaimId = ec.ClaimId
    JOIN PaymentClaimServiceLineAdjustment adj ON adj.hcPaymentClaimServiceLineId = pcl.id
    WHERE adj.dateDeleted IS NULL AND adj.adjustmentGroupCode <> 'PR'
    AND p.postDate <= @AsOfDateTime and p.dateDeleted is null and adj.dateDeleted is null
),

    ------------------------------------------------------------
    -- Write-Offs (ALWAYS Transaction Date)
    ------------------------------------------------------------
	 WriteOffs AS (
        SELECT SUM(wo.writeOffAmount) AS WriteOffs
        FROM ClaimChargeEntryWriteOff wo
        JOIN ClaimChargeEntries ch ON ch.id = wo.ClaimChargeEntryId
        JOIN EligibleClaims ec ON ch.hcClaimId = ec.ClaimId
		JOIN PaymentClaim pc ON pc.hcClaimId = ec.ClaimId
		JOIN Payment p ON pc.hcPaymentId = p.id
		WHERE wo.dateDeleted IS NULL
		AND p.dateDeleted IS NULL
		AND p.postDate <= @AsOfDateTime
    )

    ------------------------------------------------------------
    -- Calculate Starting A/R
    ------------------------------------------------------------
    SELECT
        @StartingAR =
            COALESCE(c.Charges, 0)
          - COALESCE(ins.InsurancePay, 0)
          - COALESCE(pat.PatientPay, 0)
          - COALESCE(adj.Adjustments, 0)
          - COALESCE(wo.WriteOffs, 0)
    FROM ChargeAgg c
    CROSS JOIN InsurancePayments ins
    CROSS JOIN PatientPayments pat
    CROSS JOIN Adjustments adj
    CROSS JOIN WriteOffs wo;
END;
GO

PRINT 'usp_CalculateStartingAR created/updated successfully.';
