::ng-deep .claim-list kendo-tabstrip ul {
    border: none !important;
}

::ng-deep .claim-list kendo-tabstrip .k-hierarchy-cell {
    border: none !important;
}

::ng-deep .claim-list kendo-tabstrip li {
    border: none !important;
}

::ng-deep .claim-list kendo-tabstrip div[role="tabpanel"] {
    border: none;
    padding: 0;
}

.adjustments-grid ::ng-deep.hasErrors {
    background-color: var(--Negative-88);
}

::ng-deep .adjustments-grid .k-grid-header th.k-header,
::ng-deep .itemized-receipt-grid .k-grid-header th.k-header,
::ng-deep .payment-receipt-grid .k-grid-header th.k-header {
  vertical-align: top !important;
  white-space: normal; 
}