<div *ngIf="!isEditPopupOpen">
<div class="encounter-main-container">
  <div class="encounter-actions-wrapper d-flex justify-content-between flex-wrap">
    <div class="d-flex mt-2 ml-2">
    </div>
  </div>
  
  <div class="encounter-list padding">
   <div class="search-wrapper">
  <div class="search-input-group">
   <span class="search-icon">
  <i class="fa fa-search"></i>
</span>
    <input
      [(ngModel)]="searchText"
      (input)="onFunderSearch()"
      class="search-input"
      placeholder="Type to filter funder..."
      type="text">
  </div>
</div>
      <div id="encounters" class="tab-content">
      <kendo-grid #encountersGrid
                  id="big-grid"
                  [class.filter-on]="showFilter"
                  class="height-100 accounts-receivables"
                  [data]="view | async"
                  [pageSize]="gridState.take!"
                  [skip]="gridState.skip!"
                  [pageable]="pagingSettings"
                  [navigable]="false"
                  (sortChange)="onSortChange($event)"
                  [sortable]="{ mode: 'single' }"
                  [sort]="gridState.sortingModels!"
                  (pageChange)="onPageChange($event)"
                  kendoGridSelectBy="id"
                  [selectable]="selectableSettings"
                  [selectedKeys]="mySelection"
                  [resizable]="false">


        <kendo-grid-column field="funderName"
                           title="Funder"
                           [width]="200"
                           class="border-bottom border-top p-0">
          <ng-template kendoGridHeaderTemplate let-column>
            <span kendoTooltip title="{{ column.title }}">
              {{
              column.title
              }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="clearingHousePayerName"
                           title="Clearinghouse Payer"
                           [width]="200"
                           class="border-bottom border-top p-0">
          <ng-template kendoGridHeaderTemplate let-column>
            <span kendoTooltip title="{{ column.title }}">
              {{
              column.title
              }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="clearingHousePayerId"
                           title="Payer ID"
                           [width]="180"
                           class="border-bottom border-top p-0">
          <ng-template kendoGridHeaderTemplate let-column>
            <span kendoTooltip title="{{ column.title }}">
              {{
              column.title
              }}
            </span>
          </ng-template>
          
        </kendo-grid-column>

        <kendo-grid-column field="insuranceType"
                           title="Insurance Type"
                           [width]="180"
                           class="border-bottom border-top p-0">
          <ng-template kendoGridHeaderTemplate let-column>
            <span kendoTooltip title="{{ column.title }}">
              {{
              column.title
              }}
            </span>
          </ng-template>
          
        </kendo-grid-column>

        <kendo-grid-column field="id"
                           title="Actions"
                           [width]="150"
                           class="border-bottom border-top p-0">

          <ng-template kendoGridCellTemplate let-dataItem>

            <!-- Edit / Assign User Icon -->
            <span class="icon-24 edit-icon pointer ng-star-inserted"
                  style="margin-right: 50px;"
                  kendoTooltip
                  title="Edit Funder Setting"
                  (click)="onEdit(dataItem)">
            </span>

            <!-- Edit / Assign User Icon -->
            <!-- <span class="icon-24 trash-icon pointer"
                  kendoTooltip
                  title="Delete Funder Setting"
                  (click)="onDelete(dataItem)">
            </span> -->

          </ng-template>

          <ng-template kendoGridHeaderTemplate let-column>
            <span kendoTooltip title="{{ column.title }}">
              {{ column.title }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <ng-template kendoPagerTemplate
                     let-totalPages="totalPages"
                     let-currentPage="currentPage"
                     let-total="total">
          <div style="display:flex; width:100%; justify-content: space-between;">

            <!-- Footer text -->
            <div style="margin: auto 0;"
                 *ngIf="total > 0"
                 class="Body1">
              <!-- When Select All = TRUE -->
              <ng-container *ngIf="isAllSelected; else normalPagination">
                Displaying {{ getFooterRange() }} of {{ total }} items
              </ng-container>

              <!-- When Select All = FALSE -->
              <ng-template #normalPagination>
                Displaying {{ getPageStart(total) }}–{{ getPageEnd(total) }} of {{ total }} items
              </ng-template>
            </div>

            <!-- Pager controls -->
            <div style="display: flex;" class="customePageator">
              <kendo-pager-page-sizes [pageSizes]="gridPageSizes"></kendo-pager-page-sizes>
              <kendo-pager-prev-buttons kendoTooltip></kendo-pager-prev-buttons>

              <kendo-pager-numeric-buttons [buttonCount]="5"></kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons kendoTooltip></kendo-pager-next-buttons>
            </div>
          </div>
        </ng-template>

        <kendo-grid-excel></kendo-grid-excel>
      </kendo-grid>
    </div>
  </div>
</div>

</div>
<kendo-dialog *ngIf="isDeletePopupOpen"
              (close)="closeDeletePopup()"
              [width]="400"
              [minWidth]="400"
              [maxWidth]="400">

  <kendo-dialog-titlebar>
    Confirm Delete
  </kendo-dialog-titlebar>

  <div class="p-3">
    <p>Do you want to delete this record?</p>
  </div>

  <kendo-dialog-actions>
    <button kendoButton (click)="closeDeletePopup()">No</button>
    <button kendoButton themeColor="primary" (click)="confirmDelete()">Yes</button>
  </kendo-dialog-actions>

</kendo-dialog>

<div *ngIf="isEditPopupOpen">
  <app-funder-settings-editor
      [funder]="selectedFunder"
      [timeZone]="getTimeZone"
      [claimFilingIndicatorModel] = "claimFilingIndicatorModel"
      (close)="closeEdit()">
  </app-funder-settings-editor>
</div>

