SET NOEXEC OFF
SET NOCOUNT ON
SET NUMERIC_ROUNDABORT OFF
GO

SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO

SET XACT_ABORT ON
GO

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE

BEGIN TRANSACTION

IF @@ERROR <> 0 SET NOEXEC ON
GO
--DB script to change the datatype to varchar(80)
ALTER TABLE paymentClaim 
ALTER COLUMN patientId VARCHAR(80);
ALTER TABLE paymentClaim 
ALTER COLUMN renderingProviderId VARCHAR(80);

GO

-- Script for adding column with constraints
 
-- Check if column 'claimActionTypeId' exists before adding it
IF NOT EXISTS (
   SELECT 1
   FROM INFORMATION_SCHEMA.COLUMNS
   WHERE TABLE_NAME = 'paymentclaimservicelineadjustment'
   AND COLUMN_NAME = 'claimActionTypeId'
)
BEGIN
   -- Add Column and Add Default Constraint
   ALTER TABLE paymentclaimservicelineadjustment  
   ADD claimActionTypeId TINYINT NOT NULL CONSTRAINT DF_claimActionTypeId DEFAULT 1;
   -- Add Foreign Key Constraint  
   ALTER TABLE paymentclaimservicelineadjustment  
   ADD CONSTRAINT FK_claimActionType FOREIGN KEY (claimActionTypeId)  
   REFERENCES ClaimActionTypes(id);
END
GO

IF @@ERROR <> 0 SET NOEXEC ON
GO

COMMIT TRANSACTION
GO

DECLARE @Success AS BIT
SET @Success=1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'Database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed. ROLLBACK TRANSACTION'
END
GO