SET NOEXEC OFF
SET NOCOUNT ON
SET NUMERIC_ROUNDABORT OFF
GO

SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO

SET XACT_ABORT ON
GO

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE

BEGIN TRANSACTION

IF @@ERROR <> 0 SET NOEXEC ON
GO
--- DATAFIX script for ChargeTransactions ---

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.ChargeTransactions') AND type in (N'U'))
BEGIN

	DELETE FROM dbo.ChargeTransactions

	insert into [dbo].[ChargeTransactions](claimId,chargeEntryId,billedAmount,writeOff,patientResponsibility,adjustment,insurancePayment,patientPayment,otherPayment,dateCreated,dateModified)
	SELECT claimId,chargeEntryId,billedAmount,	
SUM(writeOff) as writeOff,SUM(patientResponsibility) as patientResponsibility,SUM(adjustment) as adjustment,
SUM(insurancePayment) as insurancePayment,SUM(patientPayment) as patientPayment,SUM(otherPayment) as otherPayment,
DateCreated as dateCreated, DateLastModified as dateModified
FROM (
(SELECT CCE.hcClaimId as claimId, 
CCE.id as chargeEntryId, 
CCE.charges as billedAmount,
SUM(ISNULL(CCCEWO.writeOffAmount, 0)) as writeOff,
0 AS patientResponsibility,
0 AS adjustment,
0 AS insurancePayment,
0 AS patientPayment,
0 AS otherPayment,
CCE.DateCreated,
CCE.DateLastModified
FROM ClaimChargeEntries CCE
INNER JOIN Claims C ON CCE.hcClaimId = C.id
LEFT JOIN ClaimChargeEntryWriteOff CCCEWO ON CCE.Id = CCCEWO.ClaimChargeEntryId
WHERE CCE.DateDeleted IS NULL 
AND C.dateDeleted IS NULL
AND CCCEWO.dateDeleted IS NULL
GROUP BY CCE.hcClaimId , CCE.id, CCE.charges, CCE.DateCreated, CCE.DateLastModified)
UNION ALL
(SELECT CCE.hcClaimId as claimId, 
CCE.id as chargeEntryId, 
CCE.charges as billedAmount,
0 as writeOff,
0 AS patientResponsibility,
0 AS adjustment,
SUM(ISNULL(CASE WHEN P.hcPaymentTypeId IN (1, 2) THEN PCSL.paymentAmount END, 0)) AS insurancePayment,
SUM(ISNULL(CASE WHEN P.hcPaymentTypeId = 3 THEN PCSL.paymentAmount END, 0)) AS patientPayment,
SUM(ISNULL(CASE WHEN P.hcPaymentTypeId = 4 THEN PCSL.paymentAmount END, 0)) AS otherPayment,
CCE.DateCreated,
CCE.DateLastModified
FROM ClaimChargeEntries CCE
INNER JOIN Claims C ON CCE.hcClaimId = C.id
LEFT JOIN PaymentClaimServiceLine PCSL ON CCE.Id = PCSL.hcClaimChargeEntryId
LEFT JOIN PaymentClaim PC ON PCSL.hcPaymentClaimId = PC.Id
LEFT JOIN Payment P ON PC.hcPaymentId = P.Id
WHERE CCE.DateDeleted IS NULL 
AND C.dateDeleted IS NULL
AND PCSL.dateDeleted IS NULL 
AND PC.dateDeleted IS NULL 
AND P.dateDeleted IS NULL 
GROUP BY CCE.hcClaimId , CCE.id, CCE.charges, CCE.DateCreated, CCE.DateLastModified)
UNION ALL
(SELECT CCE.hcClaimId as claimId, 
CCE.id as chargeEntryId, 
CCE.charges as billedAmount,
0 as writeOff,
SUM(ISNULL(CASE WHEN PCSA.adjustmentGroupCode = 'PR' THEN
(CASE WHEN PCSA.isAdjustmentPositive = 0 THEN -PCSA.AdjustmentAmount ELSE PCSA.AdjustmentAmount END) END, 0)) AS patientResponsibility,
SUM(ISNULL(CASE WHEN PCSA.adjustmentGroupCode <> 'PR' THEN
(CASE WHEN PCSA.isAdjustmentPositive = 0 THEN -PCSA.AdjustmentAmount ELSE PCSA.AdjustmentAmount END) END, 0)) AS adjustment,
0 AS insurancePayment,
0 AS patientPayment,
0 AS otherPayment,
CCE.DateCreated,
CCE.DateLastModified
FROM ClaimChargeEntries CCE
INNER JOIN Claims C ON CCE.hcClaimId = C.id
LEFT JOIN PaymentClaimServiceLine PCSL ON CCE.Id = PCSL.hcClaimChargeEntryId
LEFT JOIN PaymentClaimServiceLineAdjustment PCSA ON PCSA.hcPaymentClaimServiceLineId = PCSL.id
WHERE CCE.DateDeleted IS NULL 
AND C.dateDeleted IS NULL
AND PCSA.dateDeleted IS NULL 
AND PCSL.dateDeleted IS NULL 
GROUP BY CCE.hcClaimId , CCE.id, CCE.charges, CCE.DateCreated, CCE.DateLastModified)) AS A
GROUP BY claimId,chargeEntryId,billedAmount,dateCreated,DateLastModified

END
GO

IF @@ERROR <> 0 SET NOEXEC ON
GO
--- DATAFIX script for ClaimTransactions ---

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.ClaimTransactions') AND type in (N'U'))
BEGIN

DELETE FROM dbo.ClaimTransactions

insert into [dbo].[ClaimTransactions](claimId,billedAmount,otherPayment,insurancePayment,patientPayment,writeOff,adjustment,patientResponsibility,dateCreated,dateModified)
SELECT claimId,SUM(billedAmount) as billedAmount,SUM(otherPayment) as otherPayment,SUM(insurancePayment) as insurancePayment,
SUM(patientPayment) as patientPayment,SUM(writeOff) as writeOff,SUM(adjustment) as adjustment,SUM(patientResponsibility) as patientResponsibility, 
MIN(dateCreated), MAX(dateModified)
FROM
[dbo].[ChargeTransactions] GROUP BY claimId

END
GO

IF @@ERROR <> 0 SET NOEXEC ON
GO
--- DATAFIX script for AR ---

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'Reporting.AccountsReceivable') AND type in (N'U'))
BEGIN

DELETE FROM Reporting.AccountsReceivable

INSERT INTO Reporting.AccountsReceivable(accountInfoId,claimId,funderId,clientId,claimFrom,claimThrough,claimStatusId,billedDate
,billedAmount,patientResponsibility,writeOff,adjustment,adjustedClaimAmount,paymentRecieved,netRecievable,dateCreated,dateModified,dateDeleted)
SELECT C.accountInfoId, C.id, C.lastbilledfunderid as funderId, C.childProfileId as clientId, C.startDate as claimFrom, C.endDate as claimThrough,
C.hcClaimStatusID as claimStatusId, C.BilledDate as billedDate, CT.billedAmount as billedAmount, CT.patientResponsibility as patientResponsibility,
CT.writeOff as writeOff, CT.adjustment as adjustment, (CT.billedAmount - CT.writeOff + CT.patientResponsibility + CT.adjustment) as adjustedClaimAmount, 
CT.insurancePayment AS paymentRecieved, (CT.billedAmount - CT.writeOff + CT.patientResponsibility + CT.adjustment-CT.insurancePayment) as netRecievable, 
CT.dateCreated, CT.dateModified, NULL
FROM dbo.Claims C
INNER JOIN dbo.ClaimTransactions CT ON C.id = CT.claimId
WHERE C.dateDeleted IS NULL
AND C.billedDate IS NOT NULL

END
GO

IF @@ERROR <> 0 SET NOEXEC ON
GO
--- DATAFIX script for PayAdj ---

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'Reporting.PaymentsAdjustments') AND type in (N'U'))
BEGIN

DELETE FROM Reporting.PaymentsAdjustments

INSERT INTO Reporting.PaymentsAdjustments(accountInfoId,claimId,funderId,clientId,chargeEntryId,claimFrom,claimThrough,claimStatusId,billedDate,paymentId,transactionTypeId,transactionType,reasonCode,remarkCode,transactionDate,paymentOrAdjustmentDate,eftOrCheckNumber,payment,adjustment,dateCreated,dateModified,dateDeleted
)
SELECT C.accountInfoId, C.id as claimId, C.lastbilledfunderid as funderId, C.childProfileId as clientId, CCE.Id as chargeEntryId,
C.startDate as claimFrom, C.endDate as claimThrough, C.hcClaimStatusID as claimStatusId, C.BilledDate as billedDate,
0 as paymentId,
CCEWO.id as transactionTypeId, 6 as transactionType, 
'WO' as reasonCode, 
'0' as remarkCode, 
CCEWO.dateLastModified as transactionDate,
CCEWO.dateLastModified as paymentOrAdjustmentDate, 
'' as eftOrCheckNumber, 
0 as payment, 
-CCEWO.writeOffAmount as adjustment,
CCEWO.dateCreated, CCEWO.dateLastModified, NULL
FROM dbo.Claims C
INNER JOIN dbo.ClaimChargeEntries CCE ON C.id = CCE.hcClaimId
INNER JOIN dbo.ClaimChargeEntryWriteOff CCEWO ON CCE.Id = CCEWO.ClaimChargeEntryId
WHERE C.dateDeleted IS NULL
AND CCE.dateDeleted IS NULL
AND CCEWO.dateDeleted IS NULL
AND CCEWO.writeOffAmount <> 0
UNION ALL
SELECT C.accountInfoId, C.id as claimId, C.lastbilledfunderid as funderId, C.childProfileId as clientId, CCE.Id as chargeEntryId,
C.startDate as claimFrom, C.endDate as claimThrough, C.hcClaimStatusID as claimStatusId, C.BilledDate as billedDate,
P.id as paymentId,
PCSA.id as transactionTypeId, 
IIF(PCSA.adjustmentGroupCode = 'PR', 5, 4) as transactionType, 
PCSA.adjustmentGroupCode as reasonCode, 
PCSA.adjustmentReasonCode as remarkCode, 
PCSA.dateLastModified as transactionDate,
PCSA.dateLastModified as paymentOrAdjustmentDate, --???
P.referenceNumber as eftOrCheckNumber,
0 as payment, 
IIF(PCSA.isAdjustmentPositive = 1, PCSA.adjustmentAmount, -PCSA.adjustmentAmount) as adjustment,
PCSA.dateCreated, PCSA.dateLastModified, NULL
FROM dbo.Claims C
INNER JOIN dbo.ClaimChargeEntries CCE ON C.id = CCE.hcClaimId
INNER JOIN PaymentClaimServiceLine PCSL ON CCE.Id = PCSL.hcClaimChargeEntryId
INNER JOIN PaymentClaimServiceLineAdjustment PCSA ON PCSA.hcPaymentClaimServiceLineId = PCSL.id
INNER JOIN PaymentClaim PC ON PCSL.hcPaymentClaimId = PC.Id
INNER JOIN Payment P ON PC.hcPaymentId = P.Id
WHERE C.dateDeleted IS NULL
AND CCE.dateDeleted IS NULL
AND PCSL.dateDeleted IS NULL
AND PCSA.dateDeleted IS NULL
AND PC.dateDeleted IS NULL
AND P.dateDeleted IS NULL
AND PCSA.adjustmentAmount <> 0
UNION ALL
SELECT C.accountInfoId, C.id as claimId, C.lastbilledfunderid as funderId, C.childProfileId as clientId, CCE.Id as chargeEntryId,
C.startDate as claimFrom, C.endDate as claimThrough, C.hcClaimStatusID as claimStatusId, C.BilledDate as billedDate,
P.id as paymentId,
PCSL.id as transactionTypeId, 
CASE P.hcPaymentTypeId WHEN 1 THEN 2
WHEN 2 THEN 14
WHEN 3 THEN 3
WHEN 4 THEN 7
END as transactionType,
CONVERT(varchar(1), P.hcPaymentMethodId) as reasonCode, 
'0' as remarkCode,
PCSL.dateLastModified as transactionDate,
P.depositDate as paymentOrAdjustmentDate,
P.referenceNumber as eftOrCheckNumber,
PCSL.paymentAmount as payment,
0 as adjustment,
PCSL.dateCreated, PCSL.dateLastModified, NULL
FROM dbo.Claims C
INNER JOIN dbo.ClaimChargeEntries CCE ON C.id = CCE.hcClaimId
INNER JOIN PaymentClaimServiceLine PCSL ON CCE.Id = PCSL.hcClaimChargeEntryId
INNER JOIN PaymentClaim PC ON PCSL.hcPaymentClaimId = PC.Id
INNER JOIN Payment P ON PC.hcPaymentId = P.Id
WHERE C.dateDeleted IS NULL
AND CCE.dateDeleted IS NULL
AND PCSL.dateDeleted IS NULL
AND PC.dateDeleted IS NULL
AND P.dateDeleted IS NULL
AND PCSL.paymentAmount <> 0

END
GO


IF @@ERROR <> 0 SET NOEXEC ON
GO

COMMIT TRANSACTION
GO

DECLARE @Success AS BIT
SET @Success=1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'Database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed. ROLLBACK TRANSACTION'
END
GO