.k-window-titlebar {
    background-color: white !important;
    color: black;
    padding: 24px !important;
}

:host::ng-deep .k-window-title {
    font-family: DM Sans, serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-transform: none;
}
/*
:host::ng-deep .k-window-actions {
    display: none !important;
}
*/
:host::ng-deep .k-window-content {
    border-width: 0;
    font-family: DM Sans, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    text-transform: none;
    padding: 0 24px !important;
}

    :host::ng-deep .k-window-content p {
        margin-bottom: 0 !important;
    }

:host::ng-deep .k-dialog-buttongroup {
    border-width: 0;
    padding: 24px !important;
}

:host::ng-deep.no-btn {
    margin-right: 16px;
}

kendo-dialog-titlebar {
    background-color: var(--White-220);
    height: 40px;
}

p {
    text-align: center;
    font-family: DM Sans;
}

.btns {
    justify-content: center;
}

.ok {
    width: 30%;
}

.notifyicon {
    justify-content: center;
}

.d-flex span{
    margin-right: 0;
}

.success {
    color: green;
}
.error {
    color: #dc3545;
}
.warning {
    color: orange;
}