<div class="main sceenMain">
  <payment-details-info
    [isManual]="payment.isManual"
    [paymentId]="payment.id"
    [paymentIdentifier]="payment.paymentIdentifier"
    (updateStatus)="loadPaymentShortInfo($event)"
  ></payment-details-info>
  <div class="grid-area">
    <div class="header-actions-wrapper">
      <div class="d-flex">
        <contained-btn
          *ngIf="canEdit && payment.isManual"
          text="Add Claim"
          iconClass="icon-24 add-circle-icon"
          (onClick)="addClaimDialogToggle()"
        ></contained-btn>
      </div>
      <div *ngIf="canEdit" style="position: relative">
        <outlined-btn
          text="Actions"
          [iconClass]="showActions ? 'icon-24 up-icon' : 'icon-24 down-icon'"
          [flip]="true"
          (onClick)="toggleActionDrop()"
        >
        </outlined-btn>
        <ul id="actions-dropdown-list" class="slide">
          <li *ngIf="canEditClaim" style="margin-top: 8px">
            <span class="icon-24 claim-rebill-icon"></span
            ><a href="javascript:void(0)" (click)="rebillBulk()" class="Body2"
              >Rebill</a
            >
          </li>
          <li>
            <span class="icon-24 printer-icon"></span
            ><a href="javascript:void(0)" (click)="printBulk()" class="Body2"
              >Print HFCA</a
            >
          </li>
          <!-- <li><span class="icon-24 bill-next-icon"></span><a href="javascript:void(0)" (click)="billNextFunderBulk()" class="Body2">Bill Next Funder</a></li> -->
          <li *ngIf="canEditClaim">
            <span class="icon-24 write-off-icon"></span
            ><a href="javascript:void(0)" (click)="settleBulk()" class="Body2"
              >Writeoff</a
            >
          </li>
          <li *ngIf="canEditClaim">
            <span class="icon-24 unavailable-icon"></span
            ><a href="javascript:void(0)" (click)="voidBulk()" class="Body2"
              >Void</a
            >
          </li>
          <li *ngIf="canEditClaim">
            <span class="icon-24 flag-alt-icon"></span
            ><a href="javascript:void(0)" (click)="flagBulk()" class="Body2"
              >Flag</a
            >
          </li>
          <li *ngIf="canEditClaim">
            <span class="icon-24 unflag-icon"></span
            ><a href="javascript:void(0)" (click)="unFlagBulk()" class="Body2"
              >Unflag</a
            >
          </li>
          <li *ngIf="canEditClaim" style="margin-bottom: 8px">
            <span class="icon-24 notes-r-icon"></span
            ><a href="javascript:void(0)" (click)="addNoteBulk()" class="Body2"
              >Add Note</a
            >
          </li>
          <li *ngIf="canEditClaim">
            <span class="icon-24 payment-bulk-icon"></span
            ><a href="javascript:void(0)" (click)="bulkPosting()" class="Body2"
              >Bulk Post</a
            >
          </li>
        </ul>
      </div>
    </div>
    <payment-details-filter
      [paymentId]="paymentId"
      (filtersApplied)="onFiltersApplied($event)"
    ></payment-details-filter>

    <div class="claim-list">
      <div id="claims" class="tab-content payment-claim-list">
        <kendo-grid
          #claimsGrid
          id="claimsGrid"
          *ngIf="!redraw"
          [data]="view | async"
          [pageSize]="gridState.take"
          [skip]="gridState.skip"
          [sort]="gridState.sortingModels"
          [pageable]="pagingSettings"
          [sortable]="{mode: 'single'}"
          (sortChange)="onSortChange($event)"
          (pageChange)="onPageChange($event)"
          [navigable]="true"
          [autoSize]="true"
          kendoGridSelectBy="id"
          [selectable]="selectableSettings"
          [selectedKeys]="mySelection"
          (selectionChange)="onSelectChange($event)"
          (detailExpand)="onDetailExpand($event)"
          (detailCollapse)="onDetailCollapse($event)"
        >
          <kendo-grid-checkbox-column [showSelectAll]="true" [width]="80">
          </kendo-grid-checkbox-column>

          <kendo-grid-column
            field="patientName"
            title="Client Name"
            class="border-bottom border-top p-0"
            [width]="180"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="nav-link" (click)="showClientInfo(dataItem)">
                {{dataItem.patientName}}
              </div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            field="id"
            title="Claim ID"
            class="border-bottom border-top p-0"
            [width]="200"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="nav-link" (click)="showClaimInfo(dataItem.id)">
                {{dataItem.claimIdentifier}}
              </div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            field="claimStatus"
            title="Claim Status"
            class="border-bottom border-top p-0"
            [width]="140"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <!-- <div class="nav-link" (click)="showClaimInfo(dataItem.id)">
                    {{dataItem.claimStatus}}
                  </div> -->
              <div
                *ngIf="showStatusDropdown !== dataItem.id && canEdit"
                class="status-name allignment"
                [class.nav-link]="dataItem.claimStatus !== 'Billed'"
                (mouseenter)="hoveredItemId = dataItem.id"
                (mouseleave)="hoveredItemId = null"
                (click)="dataItem.claimStatus !== 'Billed' && showClaimInfo(dataItem.id)"
              >
                {{dataItem.claimStatus}}
                <span
                  *ngIf="canEditClaim && dataItem.claimStatus == 'Billed' && hoveredItemId === dataItem.id"
                  class="icon-24 pen-icon pointer"
                  style="width: 40px !important"
                  kendoTooltip
                  title="Update Claim Status"
                  (click)="toggleStatusDropdown(dataItem)"
                ></span>
              </div>
              <div
                *ngIf="showStatusDropdown === dataItem.id"
                class="status-dropdown"
                (click)="$event.stopPropagation()"
              >
                <mat-form-field
                  appearance="outline"
                  class="status-select"
                  aria-label="Update claim status"
                >
                  <mat-select #statusSelect placeholder="Set status">
                    <mat-option value="5">Denied</mat-option>
                    <mat-option value="9">Rejected</mat-option>
                  </mat-select>
                </mat-form-field>

                <div class="status-actions">
                  <button
                    mat-flat-button
                    color="primary"
                    type="button"
                    [disabled]="!statusSelect.value"
                    (click)="updateClaimStatus(dataItem, statusSelect.value); toggleStatusDropdown(null)"
                  >
                    Update
                  </button>
                  <button
                    mat-button
                    type="button"
                    class="cancel-button"
                    (click)="toggleStatusDropdown(null)"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            field="billedAmount"
            title="Billed"
            class="border-bottom border-top p-0"
            format="{0:c2}"
            [width]="130"
          >
          </kendo-grid-column>

          <kendo-grid-column
            field="expectedAmount"
            title="Expected"
            class="border-bottom border-top p-0"
            format="{0:c2}"
            [width]="130"
          >
          </kendo-grid-column>

          <kendo-grid-column
            field="allowedAmount"
            title="Allowed"
            class="border-bottom border-top p-0"
            format="{0:c2}"
            [width]="130"
          >
          </kendo-grid-column>

          <kendo-grid-column
            field="paidAmount"
            title="Payment"
            class="border-bottom border-top p-0"
            format="{0:c2}"
            [width]="130"
          >
          </kendo-grid-column>

          <kendo-grid-column
            field="balance"
            title="Balance"
            class="border-bottom border-top p-0"
            format="{0:c2}"
            [width]="130"
          >
          </kendo-grid-column>

          <kendo-grid-column
            field="status"
            title="Payment Status"
            class="border-bottom border-top p-0"
            [width]="160"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="Body2">
                <div class="claim-status status-wrapper">
                  <div
                    class="status-icon"
                    [ngClass]="'icon-24 ' + dataItem.status.toLowerCase() + '-icon ' + dataItem.status.toLowerCase()"
                  ></div>
                  <div
                    class="pl-4 ml-1"
                    [ngClass]="'status-name ' + dataItem.status.toLowerCase()"
                  >
                    {{dataItem.status}}
                  </div>
                </div>
              </div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            [hidden]="true"
            [width]="140"
            field="isFlagged"
            title="Is Flagged"
            class="border-bottom border-top p-0"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <span
                *ngIf="dataItem.isFlagged"
                class="icon-24 flag-alt2-icon"
              ></span>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            *ngIf="canEdit"
            field="actions"
            [sortable]="false"
            title="Actions"
            class="border-bottom border-top p-0"
            [width]="150"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <span
                #rowMenuAnchor
                class="row-actions-anchor"
                (click)="$event.stopPropagation()"
              >
                <outlined-btn
                  text="Actions"
                  [iconClass]="activeRow === dataItem.id ? 'icon-24 up-icon' : 'icon-24 down-icon'"
                  [flip]="true"
                  (onClick)="openRowMenu(dataItem.id)"
                >
                </outlined-btn>
              </span>

              <kendo-popup
                *ngIf="activeRow === dataItem.id"
                [anchor]="rowMenuAnchor"
                [anchorAlign]="{ horizontal: 'right', vertical: 'bottom' }"
                [popupAlign]=" { horizontal: 'right', vertical: 'top' }"
                [collision]="{ horizontal: 'fit', vertical: 'flip' }"
                [offset]="{ left: 0, top: 4 }"
                popupClass="row-actions-popup"
                (click)="$event.stopPropagation()"
                (keydown.escape)="closeRowMenu()"
              >
                <ul class="slide slide--popup row-actions-menu">
                  <li *ngIf="canEditClaim">
                    <span class="icon-24 notes-r-icon"></span>
                    <a (click)="editClaimNotes(dataItem); closeRowMenu()"
                      >Edit Notes</a
                    >
                  </li>
                  <li *ngIf="canEditClaim">
                    <span class="icon-24 write-off-icon"></span>
                    <a (click)="writeOffClaim(dataItem); closeRowMenu()"
                      >Writeoff</a
                    >
                  </li>
                  <li>
                    <span class="icon-24 printer-icon"></span>
                    <a (click)="printClaim(dataItem); closeRowMenu()">Print</a>
                  </li>
                  <li *ngIf="canEdit && payment?.isManual">
                    <span class="icon-24 trash-icon"></span>
                    <a (click)="ondeleteClaim(dataItem); closeRowMenu()"
                      >Delete</a
                    >
                  </li>
                  <li
                    *ngIf="SecondaryFunderExists(dataItem.claimStatus, dataItem.submissionTypeId, dataItem.patientResponsibility, dataItem.isSecondaryPayerAvailable, dataItem.isTestAccount, dataItem.balance)"
                  >
                    <span class="icon-24 bill-next-icon"></span>
                    <a
                      (click)="billNextFunderSelectedClaim(dataItem.claimId,1); closeRowMenu()"
                      >Bill Next Funder</a
                    >
                  </li>
                </ul>
              </kendo-popup>
            </ng-template>
          </kendo-grid-column>

          <ng-template kendoGridDetailTemplate let-dataItem>
            <div class="Body1 mb-1 bold">Service Line Details</div>
            <payment-posting-adjustments
              [paymentPostingId]="this.gridState.paymentId"
              [claimStatus]="dataItem.claimStatus"
              [claimId]="dataItem.claimId"
              [paymentClaimId]="dataItem.id"
              [isManual]="payment.isManual"
              (updateClaim)="updateClaim($event)"
              [writeOffEvent]="writeOffEventSubject.asObservable()"
            ></payment-posting-adjustments>
          </ng-template>

          <ng-template
            kendoPagerTemplate
            let-totalPages="totalPages"
            let-currentPage="currentPage"
            let-total="total"
          >
            <div style="display: flex; width: 100%; justify-content: space-between">
              <div
                style="margin: auto 0"
                *ngIf="(view | async)?.data?.length > 0"
                class="Body1"
              >
                Displaying {{ footerRange }} items
              </div>
              <div style="margin: auto 0" *ngIf="total === 0" class="Body1">
                No items to display
              </div>
              <div style="display: flex" class="customePageator">
                <kendo-pager-page-sizes [pageSizes]="gridPageSizes"></kendo-pager-page-sizes>
                <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                <kendo-pager-numeric-buttons [buttonCount]="5"></kendo-pager-numeric-buttons>
                <kendo-pager-next-buttons></kendo-pager-next-buttons>
              </div>
            </div>
          </ng-template>
        </kendo-grid>
      </div>
    </div>
  </div>
</div>

<add-claim-dialog
  *ngIf="showAddClaimDialog"
  (closeDialogEmitter)="addClaimDialogToggle($event)"
  [paymentId]="this.gridState.paymentId"
  [isManual]="this.payment.isManual"
>
</add-claim-dialog>

<div kendoDialogContainer></div>
<notify-dialog [notifyDialog]="notifyDialog"></notify-dialog>

<div kendoDialogContainer></div>
<ng-template #print>
  <div class="col-md-12 print">
    <div class="subheader Body1">Select you receipt type</div>
    <div class="type Body1">
      <div>
        <input
          type="radio"
          name="print-type"
          id="payment-type"
          value="payment-receipt"
          [(ngModel)]="printTemplate"
          class="k-radio"
        />
        <label class="k-radio-label" for="payment-type" kendoRadioLabel
          >Payment Application Receipt</label
        >
      </div>
      <div>
        <input
          type="radio"
          name="print-type"
          id="itemized-type"
          value="itemized-receipt"
          [(ngModel)]="printTemplate"
          class="k-radio"
        />
        <label class="k-radio-label" for="itemized-type"
          >Itemized Receipt</label
        >
      </div>
    </div>
  </div>
</ng-template>
<print-modal id="payment-receipt">
  <div *ngIf="printItem" class="print-area">
    <div class="header">
      <div class="logo-wrapper">
        <img src="{{printItem.companyLogoUrl}}" />
      </div>
      <div class="company-data Header-5">
        <div class="name">{{printItem.companyName}}</div>
        <div class="address">{{printItem.companyAddress}}</div>
        <div class="phones">{{printItem.companyPhones}}</div>
      </div>
    </div>
    <div class="body">
      <div class="title Header-3 col-sm-12">Payment Receipt</div>
      <div class="client-data row">
        <div class="left-col col-sm-7">
          <div class="client-name row">
            <div class="label col-sm-4">Client Name:</div>
            <div class="value col-sm-8">{{printItem.clientName}}</div>
          </div>
          <div class="client-address row">
            <div class="label col-sm-4">Address:</div>
            <div class="value col-sm-8">{{printItem.clientAddress}}</div>
          </div>
        </div>
        <div class="right-col col-sm-5">
          <div class="posting-date row">
            <div class="label">Date:</div>
            <div class="value">
              {{printItem.paymentPostingDate | date: 'MM/dd/yyyy'}}
            </div>
          </div>
          <div class="client-account row">
            <div class="label">Patient Account #:</div>
            <div class="value">{{printItem.clientAccountId}}</div>
          </div>
          <div class="posting-total row">
            <div class="label">Total Payment:</div>
            <div class="value">{{printItem.totalPayment}}</div>
          </div>
        </div>
      </div>
      <div class="claims-data">
        <payment-posting-adjustments
          [claimId]="printItem.claimId"
          [paymentClaimId]="printItem.claimId"
          [printType]="printTemplate"
          [writeOffEvent]="writeOffEventSubject.asObservable()"
        ></payment-posting-adjustments>
      </div>
    </div>
    <div class="footer"></div>
  </div>
  <div *ngIf="!printItem" class="loader03"></div>
</print-modal>
<print-modal id="itemized-receipt">
  <div *ngIf="printItem" class="print-area">
    <div class="header">
      <div class="logo-wrapper">
        <img src="{{printItem.companyLogoUrl}}" />
      </div>
      <div class="company-data Header-5">
        <div class="name">{{printItem.companyName}}</div>
        <div class="address">{{printItem.companyAddress}}</div>
        <div class="phones">{{printItem.companyPhones}}</div>
      </div>
    </div>
    <div class="body">
      <div class="title Header-3">Payment Receipt</div>
      <div class="client-data row">
        <div class="left-col col-sm-7">
          <div class="client-name row">
            <div class="label col-sm-4">Client Name:</div>
            <div class="value col-sm-8">{{printItem.clientName}}</div>
          </div>
          <div class="client-address row">
            <div class="label col-sm-4">Address:</div>
            <div class="value col-sm-8">{{printItem.clientAddress}}</div>
          </div>
        </div>
        <div class="right-col col-sm-5">
          <div class="posting-date row">
            <div class="label">Date:</div>
            <div class="value">
              {{printItem.paymentPostingDate | date: 'MM/dd/yyyy'}}
            </div>
          </div>
          <div class="client-account row">
            <div class="label">Patient Account #:</div>
            <div class="value">{{printItem.clientAccountId}}</div>
          </div>
          <div class="posting-total row">
            <div class="label">Total Payment:</div>
            <div class="value">{{printItem.totalPayment}}</div>
          </div>
          <div class="remaining-balance row">
            <div class="label">Remaining Payment:</div>
            <div class="value">{{printItem.remaining}}</div>
          </div>
        </div>
      </div>
      <div class="claims-data">
        <payment-posting-adjustments
          [claimId]="printItem.claimId"
          [paymentClaimId]="printItem.claimId"
          [printType]="printTemplate"
          [writeOffEvent]="writeOffEventSubject.asObservable()"
        >
        </payment-posting-adjustments>
      </div>
    </div>
    <div class="footer"></div>
  </div>
  <div *ngIf="!printItem" class="loader03"></div>
</print-modal>
