<kendo-popup #popup [anchor]="anchor" class="selector-popup">
    <div class="mb-2 selector-list">
        <div class="option-item" *ngFor="let column of columns; index as i" (click)="selectorItemClicked(column)">
            <input type="checkbox" [checked]="column.checked" />
            <span class="ml-2">{{column.name}}</span>
        </div>
    </div>
    <span class="divider"></span>
    <div class="selector-bottom">
        <outlined-btn text="Save Selection" class="btn-text" (click)="emitSave()"></outlined-btn>
        <div>
            <span class="selection-count">{{selectedColumns.length}}/{{columns.length}}</span>
        </div>
    </div>
</kendo-popup>