<div class="claim-details-block">
    <div class="title Header-5">Client Info</div>
    <div class="content new-style">
        <div class="col-12 mb-4">
            <label for="clientName" class="small-12med">
                Client Name
            </label>
            <div id="clientName" class="client-name">
                <input kendoTextBox class="w-100 k-component editclaimcontrol" [ngModel]="claim.patientName"
                    id="clientname" type="text" placeholder="Client Name" readonly disabled />
            </div>
        </div>

        <div class="col-12 mb-4">
            <label for="funderName" class="small-12med">
                Funder
            </label>
            <div id="clientName" class="client-name funder-input-wrapper">
                <input id="funderName" type="text" kendoTextBox [ngModel]="claim.funderName"
                    class="k-component editclaimcontrol funder-input-with-pill" placeholder="Funder" value="Funder123" readonly
                    disabled />
                <div class="funder-pills-container">
                    <ng-container *ngIf="claim.authorizationNumber !== null && claim.funderId && claim.primaryFunderId === claim.funderId && claim.primaryFunderId !== claim.secondaryFunderId">
                        <span class="funder-pill pill-primary" kendoTooltip title="Primary Funder">P</span>
                    </ng-container>
                    <ng-container *ngIf="claim.authorizationNumber !== null && claim.funderId && claim.secondaryFunderId === claim.funderId">
                        <span class="funder-pill pill-secondary" kendoTooltip title="Secondary Funder">S</span>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <label for="responsibleParty" class="small-12med">
                Responsible Party
            </label>
            <div id="clientName" class="client-name">
                <input id="funderName" type="text" kendoTextBox [ngModel]="claim.responsibleParty"
                    class="w-100 k-component editclaimcontrol" placeholder="Responsible Party" readonly disabled />
            </div>
        </div>

        <div class="col-12 mb-4">
            <label for="serviceLine" class="small-12med">
                Service Line
            </label>
            <div id="serviceline" class="client-name">
                <input id="servicelineName" type="text" kendoTextBox [ngModel]="claim.serviceLine"
                    class="w-100 k-component editclaimcontrol" placeholder="Service Line" readonly disabled />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 mb-4">
                <label for="responsibleParty" class="small-12med">
                    Date of Service Start
                </label>
                <div id="DateOfServiceStart" class="client-name">
                    <input kendoTextBox class="w-100 k-component editclaimcontrol" [ngModel]="claim.dateOfServiceStart | date:'MM/dd/yyyy'" readonly disabled />
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <label for="responsibleParty" class="small-12med">
                    Date of Service End
                </label>
                <div id="DateOfServiceEnd" class="client-name">
                    <input kendoTextBox class="w-100 k-component editclaimcontrol"
                                 [value]="(claim?.dateOfServiceStart > claim?.dateOfServiceEnd) ? '' : (claim?.dateOfServiceEnd | date:'MM/dd/yyyy')"
                                 readonly disabled />
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <label for="ServiceLine" class="small-12med d-flex">
                Authorization Number
            </label>
            <div id="clientName" class="client-name">
                <input id="funderName" type="text" kendoTextBox [ngModel]="claim.authorizationNumber"
                    class="w-100 k-component editclaimcontrol" placeholder="Authorization Number" readonly disabled />
            </div>
            <div *ngIf="showAuthorizationStatus" class="authorization-status-text mt-2">
                <span class="status-label">Authorization Status :</span>
                <span class="status-value"> {{ formattedAuthorizationStatus }}</span>
            </div>
            <div *ngIf="showAuthorizationWarning" class="authorization-warning">
                <span class="warning-label">Warning</span>
                <b class="warning-colon"> :</b>
                The authorization will not be sent with the claim until the status is updated—once updated, click Refresh to receive the latest status.
            </div>
        </div>
    </div>
</div>

<div class="claim-details-block mt-4">
    <div class="title Header-5">Diagnosis Codes</div>
    <div class="content new-style">
        <div class="col-12 mb-4">
            <label for="ServiceLine" class="small-12med">
                Diagnosis Codes*
            </label>
            <div id="AddField" class="d-flex">
                <div class="d-flex w-100" (keydown.enter)="diagnosisCodeClick()">
                    <input id="diagnosisCode" type="text" style="padding-right: 12%;"  kendoTextBox
                        [value]="getDiagnosisCodes" class="w-100 k-component editclaimcontrol"
                        placeholder="Diagnosis Codes" readonly
                        [class.ng-invalid]="claimForm.controls['diagnosisCodes'].invalid"
                        [class.ng-touched]="claimForm.controls['diagnosisCodes'].touched" />
                    <span *ngIf="canEdit" class="icon-24 edit-icon pointer" (click)="diagnosisCodeClick()"></span>
                </div>
            </div>
        </div>
    </div>
</div>