<header-toolbar class="header-position" [headerTitle]="headerText" [isBackBtnShow]="true" [isProfileShow]="false"></header-toolbar>
<div class="billing-container">
    <div class="row mb-4">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <!-- <div class="card card-stats"> -->
                <app-claim-info-step [parentForm]="createClaimForm" (isClaimInfoValid)="isClaimInfoValid = $event"
                    [clients]="clients" (clientIdentifier)="clientId = $event" (clientRemove)="clientRemove($event)"
                    (facilityId)="facilityId = $event" (authId)="authId = $event" (onAuthNoChange)="onAuthNoChange($event)"
                    (selectedFunder)="selectedFunder = $event" (selectedServiceLine)="selectedServiceLine = $event"
                    (changeEvent)="createClaimInfo($event)">
                </app-claim-info-step>
            <!-- </div> -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="mb-4">
                <app-provider-step [parentForm]="createClaimForm" (isProviderValid)="isProviderValid = $event"
                    [authDetails]="authDetails!" [renderingProviders]="renderingProviders"
                    [serviceProviders]="serviceProviders" [clientReferringProviders]="clientReferringProviders"
                    [isClaimInfoNextClicked]="isClaimInfoNextClicked" [clientId]="clientId" [facilityId]="facilityId"
                    [selectedFunder]="selectedFunder" [selectedServiceLine]="selectedServiceLine">
                </app-provider-step>
            </div>
            <div class="mb-4">
                <app-diagnosis-code-step style="width: 100%;" [parentForm]="createClaimForm" [clientId]="clientId"
                    (isDiagnosisCodeValid)="isDiagnosisCodeValid = $event" [selectedFunder]="selectedFunder" [authId]="authId"  
                    [diagnosisCodes]="diagnosisCodes" [billingCodes]="billingCodes" [authDetails]="authDetails!"
                    [isProviderNextClicked]="isProviderNextClicked" [selectedServiceLine]="selectedServiceLine"></app-diagnosis-code-step>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <billing-codes [billingCodes]="billingCodes" [authDetails]="authDetails" [clientId]="clientId"
                [isProviderNextClicked]="isProviderNextClicked" [selectedFunder]="selectedFunder"
                [selectedServiceLine]="selectedServiceLine" [parentForm]="createClaimForm">
            </billing-codes>
        </div>
    </div>

    <div class="row">
        <div class="col-12 add-claim-tab-btns flex-end-css" >
            <div class="mr-2" (keydown.enter)="onCancel()">
                <outlined-btn text="Cancel" (onClick)="onCancel()"></outlined-btn>
            </div>
            <div (keydown.enter)="onCreateClaim()">
                <contained-btn text="Save" [isDisabled]='!isClaimInfoValid || !isProviderValid || !isDiagnosisCodeValid'
                    (onClick)="onCreateClaim()"></contained-btn>
            </div>
        </div>
    </div>
</div>
<confirmation-dialog #cancelConfirmationAlert [confirmDialog]="cancelChangesConfirmation" 
  (onConfirm)="navigateToDashboard()"></confirmation-dialog>