<div class="claim-details-block">
    <div class="title Header-5">Charge Details</div>
    <div id="encounterDetails" class="tab-content">
        <kendo-grid #encounterDetailsGrid id="encounterDetailsGrid" [data]="view" [pageSize]="gridState.take"
            [pageable]="pagingSettings" (pageChange)="onPageChange($event)" [skip]="gridState.skip"
            [sort]="gridState.sortingModels" [sortable]="{mode: 'single'}" (sortChange)="onSortChange($event)">

            <kendo-grid-column field="renderingProviderId" title="Rendering Provider" class="border-bottom border-top p-0" [width]="220">
                <ng-template kendoGridHeaderTemplate let-column>
                    <span class="header-label" kendoTooltip title={{column.title}}>{{column.title}}<span *ngIf="isManualClaim" class="text-danger">*</span></span>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                    <kendo-dropdownlist
                        [popupSettings]="{ popupClass: 'new-style-popup' }"
                        [data]="renderingProviders"
                        textField="name"
                        valueField="id"
                        [valuePrimitive]="true"
                        [(ngModel)]="dataItem.renderingProviderId"
                        (valueChange)="onRenderingProviderChanged(dataItem, $event)"
                        class="w-100 k-component"
                        [disabled]="!isManualClaim">
                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                            <span *ngIf="!dataItem">Select</span>
                            <span *ngIf="dataItem">{{ dataItem.name }}</span>
                        </ng-template>
                    </kendo-dropdownlist>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="dos" title="Date Of Service" class="border-bottom border-top p-0" [width]="170">
                <ng-template kendoGridHeaderTemplate let-column>
                    <span class="header-label" kendoTooltip title={{column.title}}>{{column.title}}</span>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                    <ng-container *ngIf="dataItem.id !== 0; else newDosEdit">
                        {{dataItem.dos | date: 'MM/dd/yyyy'}}
                    </ng-container>
                    <ng-template #newDosEdit>
                        <div class="s-control" [class.ng-invalid]="!dataItem.dos">
                            <div class="line-style">
                        <kendo-datepicker
                            [(value)]="dataItem.dos"
                            format="MM/dd/yyyy"
                            placeholder="Select Date"
                            id="EncounterDos{{dataItem.id || 'new'}}"
                            (valueChange)="onIndividualDateOfServiceChanged(dataItem)"
                            [incompleteDateValidation]="true"
                                    class="w-100 k-diagnosis">
                            <ng-template kendoDatePickerValueTemplate let-value>
                                <span class="dropdown-default" *ngIf="!value">Select Date</span>
                                <span *ngIf="value">{{value | date:'MM/dd/yyyy'}}</span>
                            </ng-template>
                        </kendo-datepicker>
                            </div>
                        </div>
                    </ng-template>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="billingCode" title="Billing Code" class="border-bottom border-top p-0" [width]="180">
                <ng-template kendoGridHeaderTemplate let-column>
                    <span class="header-label" kendoTooltip title={{column.title}}>{{column.title}}</span>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <ng-container *ngIf="dataItem.id !== 0 || dataItem.isSecondaryCode; else newBillingCodeEdit">
                        {{dataItem.billingCode}}
                    </ng-container>
                    <ng-template #newBillingCodeEdit>
                        <kendo-dropdownlist
                            [data]="billingCodes"
                            [popupSettings]="{ popupClass: 'new-style-popup' }"
                            textField="serviceName"
                            valueField="billingCodeId"
                            [valuePrimitive]="true"
                            [value]="dataItem.billingCodeId"
                            (valueChange)="onBillingCodeChanged(dataItem, $event);formCheck()"
                            class="w-100 k-diagnosis"
                            [class.ng-invalid]="claimChargeDetailsShared.isMarkedAsInvalid(dataItem.id, 'billingCodeId')">
                            <ng-template kendoDropDownListItemTemplate let-item>
                                <span class="template">{{getBillingCodeFullName(item)}}</span>
                            </ng-template>
                            <ng-template kendoDropDownListValueTemplate let-selected>
                                <span class="dropdown-default" *ngIf="!selected || selected?.billingCodeId == null">Select</span>
                                <span *ngIf="selected && selected?.billingCodeId != null">{{formatSelectedBillingCode(selected)}}</span>
                            </ng-template>
                        </kendo-dropdownlist>
                    </ng-template>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="modifiers" title="Modifiers" class="border-bottom border-top p-0">
                <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                    <div class="d-flex">
                        <!-- Saurabh: Sorting is removed because of the bug 208202. But later if it required just uncomment the below code and remove the div below it. -->
                        <!-- <div (click)="modifierIconClick($event)"  class="d-flex info-icon-block" kendoTooltip filter="span"> -->
                            <div class="d-flex info-icon-block" kendoTooltip filter="span">
                            <span class="icon-24 info-icon" id="modifier-icon" kendoTooltip title="any modifier field must have two characters">
                            </span>
                        </div>
                        <div style="margin: auto 0 auto 5px;text-overflow: ellipsis;display: block;overflow: hidden;" kendoTooltip title={{column.title}}>{{column.title}}</div>
                    </div>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <modifiers [dataItem]="dataItem" (onLineUpdate)="onModifiersUpdated($event, dataItem)">
                    </modifiers>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="diagnosis" title="Diagnosis" class="border-bottom border-top p-0">
                <ng-template kendoGridHeaderTemplate let-column>
                    <span kendoTooltip title={{column.title}}>{{column.title}}</span>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.diagnosis}}
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="hours" title="Hours" class="border-bottom border-top p-0" [width]="100">
                <ng-template kendoGridHeaderTemplate let-column>
                    <span kendoTooltip title={{column.title}}>{{column.title}}</span>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                    <ng-template [ngIf]="isManualClaim" [ngIfElse]="autoCreatedClaim"></ng-template>
                    <ng-template #autoCreatedClaim>{{dataItem.hours == 0 ? 'Unlimited' : dataItem.hours}}</ng-template>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="units" title="Units" class="border-bottom border-top p-0">
                <ng-template kendoGridHeaderTemplate let-column>
                    <span kendoTooltip title={{column.title}}>{{column.title}}</span>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="units-cell-wrapper" [class.ng-invalid]="claimChargeDetailsShared.isMarkedAsInvalid(dataItem.id, 'units')">
                        <kendo-numerictextbox
                            class="inline-edit units-edit prominent"
                            [spinners]="false"
                            [min]="0"
                            format="n"
                            placeholder="Units"
                            [title]="'Enter number of units'"
                            [(ngModel)]="dataItem.units"
                            (keypress)="decimalFilter($event)"
                            [value]="claimChargeDetailsShared.getNumberOfUnitsValue(dataItem.id, 'units')"
                            (input)="claimChargeDetailsShared.onNoOfUnitsValueChange($event, 'units', dataItem.id);formCheck()"
                            (ngModelChange)="onNewRowValueChange(dataItem)">
                        </kendo-numerictextbox>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="perUnitsCharge" title="Per Units Charge" class="border-bottom border-top p-0" [width]="120">
                <ng-template kendoGridHeaderTemplate let-column>
                    <span class="header-label" kendoTooltip title={{column.title}}>{{column.title}}</span>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                    <ng-template [ngIf]="manualClaim" [ngIfElse]="autoCreatedClaim">
                        <div class="per-units-cell-wrapper">
                            <span class="currency-prefix">$</span>
                            <kendo-numerictextbox
                                class="inline-edit per-units-edit prominent"
                                [spinners]="false"
                                [min]="0"
                                format="n"
                                placeholder="Rate"
                                [title]="'Enter per-unit charge'"
                                [class.ng-invalid]="claimChargeDetailsShared.isMarkedAsInvalid(dataItem.id, 'perUnitsCharge')"
                                [(ngModel)]="dataItem.perUnitsCharge"
                                [value]="claimChargeDetailsShared.getNumberOfUnitsValue(dataItem.id, 'perUnitsCharge')"
                                (input)="claimChargeDetailsShared.onNoOfUnitsValueChange($event, 'perUnitsCharge', dataItem.id);formCheck()"
                                (keypress)="claimChargeDetailsShared.currencyInputChange($event, dataItem.id);formCheck();decimalFilter($event)"
                                (ngModelChange)="onNewRowValueChange(dataItem)">
                            </kendo-numerictextbox>
                        </div>
                    </ng-template>
                    <ng-template #autoCreatedClaim>
                        {{dataItem.perUnitsCharge | currency}}
                    </ng-template>
                </ng-template>
                <ng-template kendoGridFooterTemplate>
                    Totals
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="billedAmount" title="Billed" class="border-bottom border-top p-0" format="{0:c}">
                <ng-template kendoGridHeaderTemplate let-column>
                    <span kendoTooltip title={{column.title}}>{{column.title}}</span>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{(dataItem.units * dataItem.perUnitsCharge) | currency}}
                </ng-template>
                <ng-template kendoGridFooterTemplate>
                    {{ claimChargeDetailsShared.billedAmountTotal | currency}}
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="paymentAmount" title="Payment" class="border-bottom border-top p-0">
                <ng-template kendoGridHeaderTemplate let-column>
                    <span kendoTooltip title={{column.title}}>{{column.title}}</span>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                    <span>{{dataItem.paymentAmount | currency}}</span>
                </ng-template>
                <ng-template kendoGridFooterTemplate>
                    {{ claimChargeDetailsShared.paymentAmountTotal | currency}}
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="patientAmount" title="Patient Responsibility"
                class="border-bottom border-top p-0">
                <ng-template kendoGridHeaderTemplate let-column>
                    <span class="header-label" kendoTooltip title={{column.title}}>{{column.title}}</span>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                    <span>{{dataItem.patientAmount | currency}}</span>
                </ng-template>
                <ng-template kendoGridFooterTemplate>
                    {{ claimChargeDetailsShared.patientAmountTotal | currency}}
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="adjustmentAmount" title="Adjustment" class="border-bottom border-top p-0">
                <ng-template kendoGridHeaderTemplate let-column>
                    <span kendoTooltip title={{column.title}}>{{column.title}}</span>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                    <span>{{dataItem.adjustmentAmount | currency}}</span>
                </ng-template>
                <ng-template kendoGridFooterTemplate>
                    {{ claimChargeDetailsShared.adjustmentAmountTotal | currency}}
                </ng-template>
            </kendo-grid-column>
            
            <kendo-grid-column field="balanceAmount" title="Balance" class="border-bottom border-top p-0">
                <ng-template kendoGridHeaderTemplate let-column>
                    <span kendoTooltip title={{column.title}}>{{column.title}}</span>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                    <span>{{(dataItem.units * dataItem.perUnitsCharge) + dataItem.patientAmount - dataItem.paymentAmount + dataItem.adjustmentAmount | currency}}</span>
                </ng-template>
                <ng-template kendoGridFooterTemplate>
                    {{ claimChargeDetailsShared.balanceAmountTotal | currency}}
                </ng-template>
            </kendo-grid-column>


            <kendo-grid-column field="actions" title="Actions" class="border-bottom border-top p-0">
                <ng-template kendoGridHeaderTemplate let-column>
                    <span kendoTooltip title={{column.title}}>{{column.title}}</span>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <span class="icon-24 notes-r-icon" kendoTooltip title="Notes" (click)="showLineNotesSidebar(dataItem)"></span>
                    <ng-template [ngIf]="view.total > 1">
                        <span class="icon-24 trash-icon" kendoTooltip title="Delete" style="height: 20px; margin-bottom: 3px;"
                            (click)="dataItem.id === 0 ? removeNewLine(dataItem) : openDeleteLineDialog(dataItem.id,dataItem.associatedAppointmentsCount)"></span>
                    </ng-template>
                    <!-- <ng-template [ngIf]="view.total == rowIndex + 1">
                        <span class="icon-24 add-circle-icon" kendoTooltip title="Notes" (click)="addChargeLine(dataItem)"></span>
                    </ng-template> -->
                </ng-template>
            </kendo-grid-column>

            <ng-template kendoPagerTemplate let-total="total">
                <div style="display:flex; justify-content: space-between;">
                    <div style="margin: auto 0;" *ngIf="total > 0" class="Body1">
                        Displaying {{getPageStart(total)}}–{{getPageEnd(total)}} of {{total}} items
                    </div>
                    <div style="display: flex;" class="customePageator">
                        <kendo-pager-page-sizes [pageSizes]="gridPageSizes"></kendo-pager-page-sizes>
                        <kendo-pager-prev-buttons kendoTooltip></kendo-pager-prev-buttons>
                        <kendo-pager-numeric-buttons [buttonCount]="5"></kendo-pager-numeric-buttons>
                        <kendo-pager-next-buttons kendoTooltip></kendo-pager-next-buttons>
                    </div>
                </div>
            </ng-template>

        </kendo-grid>
    </div>
</div>
<confirmation-dialog [confirmDialog]="confirmDeleteLineDialog" (onConfirm)="removeLineWithoutAppointment()"></confirmation-dialog>
<confirmation-dialog [confirmDialog]="appointmentConnectedDialog" (onConfirm)="removeLine()"></confirmation-dialog>
