IF NOT EXISTS (
    SELECT 1 
    FROM sys.tables 
    WHERE name = 'BillingSettingInformation'
)
BEGIN
    CREATE TABLE BillingSettingInformation(
        Id INT IDENTITY(1,1) PRIMARY KEY,
        PayToAddressOverrideOption INT NOT NULL,
        CompanyName NVARCHAR(200) NULL,
        AddressLine1 NVARCHAR(200) NULL,
        AddressLine2 NVARCHAR(200) NULL,
        City NVARCHAR(100) NULL,
        State NVARCHAR(50) NULL,
        Zip NVARCHAR(20) NULL,
        AccountId INT NULL,
        CreatedBy INT NOT NULL,
        DateCreated DATETIME NOT NULL,
        ModifiedBy INT NULL,
        DateLastModified DATETIME NULL,
        DateDeleted DATETIME NULL,
        DeletedBy INT NULL,
        DunningMessage NVARCHAR(MAX) NULL,
        GlobalMessage NVARCHAR(MAX) NULL
    );

    ALTER TABLE BillingSettingInformation
    ADD CONSTRAINT UQ_BillingSetting_Account UNIQUE (AccountId);
END