<div class="col-md-12 void-dialog-wrapper">
    <div class="header body">Do you want to submit a void claim to a payer?</div>
    <div class="type Body1">
        <div class="types-container">
            <div class="yes-type-wrapper">
                <input type="radio" name="void-type" id="yes-type"
                        [value]="true" [(ngModel)]="option" class="k-radio"/>
                <label class="k-radio-label" for="yes-type" kendoRadioLabel>Yes</label>
            </div>
            <div class="no-type-wrapper">
                <input type="radio" name="void-type" id="no-type"
                        [value]="false" [(ngModel)]="option" class="k-radio"/>
                <label class="k-radio-label" for="no-type">No</label>
            </div>
        </div>       

        <div class="notes-container">
            <div class="notes-header">Notes                
                <textarea 
                class="form-control rebill-textarea::placeholder" 
                placeholder="Enter Notes" 
                [(ngModel)]="note"                
                rows="2" 
                maxlength="1000"               
                ></textarea>
            </div>
            
        </div>
        <div class="notes-container">
            <div class="notes-header">Claims Notes</div>
            <textarea class="form-control" placeholder="Enter Notes" [(ngModel)]="claimnote" rows="3" maxlength="1000"></textarea>
        </div>
    </div>
    <kendo-dialog-actions>
        <button kendoButton (click)="close()">Cancel</button>
        <button kendoButton [primary]="true" (click)="submit()">Submit</button>
    </kendo-dialog-actions>
</div>