.k-grid-header .k-header:last-child,
.k-grid td:last-child {
    text-overflow: clip;
}

.notes-header {
    font-size: 12px;
    color:  var(--Black-60);
}

.void-dialog-wrapper {
    width: 540px;
}

.note-textarea {
    width: 100%;
}

.types-container {
    padding: 10px 0 10px 0;
}

.no-type-wrapper {
    padding-left: 50%;
}

.yes-type-wrapper {
    position: absolute;
    width: 50%;
}

.k-radio {
    padding: 4px !important;
}
.k-radio-label {
    font-size: 16px;
    padding-left: 0rem;
}
.k-radio:checked::after {
    background-color: #007bff;
}