<header-toolbar  style="margin-bottom: 30px;" class="header-position" [headerTitle]="'Claims'" [isBackBtnShow]="false"
                [isProfileShow]="true" [breadcrumbs]="breadCrumbs"></header-toolbar>

<div class="claim-header">
  <span class="claim-id">
    {{ claimIdentifier }}
  </span>

  <button *ngIf="isRethinkAdminUser() && [7, 10, 19].includes(claim.status)" class="preview-btn" aria-label="Preview EDI" (click)="onDownloadClick()"
          kendoTooltip title="EDI (837 Preview)">
    <img src="/assets/img/svg/preview.svg"  
         alt="preview"
         class="preview-icon">
  </button>
</div>

<div class="edit-claim-tabs mt-2">
  <mat-tab-group mat-align-tabs="start" disableRipple (selectedTabChange)="selectedTabChanged($event)">
    <mat-tab label="Claim Details">
      <app-encounter-details *ngIf="claim" [claimId]="claim.id" [childProfileId]="claim.childProfileId"
                             [isManualClaim]="claim.isManual" [claimIdentifier]="claimIdentifier">
      </app-encounter-details>
    </mat-tab>
    <mat-tab label="Appointments" *ngIf="claim && !claim.isManual">
            <app-encounter-appointments
            [claim]="claim"></app-encounter-appointments>
    </mat-tab>
    <mat-tab label="History">
      <app-encounter-transaction *ngIf="claim" [claimId]="claim.id"
                                 [claimIdentifier]="claimIdentifier"></app-encounter-transaction>
    </mat-tab>
  </mat-tab-group>
</div>
<notify-dialog [notifyDialog]="notifyDialog"></notify-dialog>


<ng-template #ediDialogTemplate>
  <div class="edi-dialog-header">
    <h2 mat-dialog-title>EDI Preview (X12)</h2>
    <div class="edi-dialog-actions">
      <button mat-icon-button (click)="copyEdiToClipboard()" aria-label="Copy to clipboard" class="edi-copy-btn">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button mat-dialog-close aria-label="Close" class="edi-close-btn">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <mat-dialog-content>
    <pre class="edi-content">
{{ formattedEdiContent }}
    </pre>
  </mat-dialog-content>

</ng-template>

