.attachment-frame {
    border: 1px solid var(--Black-88);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    margin: 19px 10px 5px 10px;
}

.attachment-frame .w-50,
.attachment-frame .w-100 {
    padding: 10px 15px;
}

.attachment-frame .b-l {
    border-left: 1px solid var(--Black-88);
    padding-right: 0;
    padding-bottom: 0;
}

.attachment-frame .b-b {
    border-bottom: 1px solid var(--Black-88);
}

.attachment-frame .details {
    display: flex;
    flex-direction: column;
}

.attachment-frame .details .value {
    text-align: start;
    white-space: pre-line;
}


.attachment-frame .details .value {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-header {
    padding: 20px;    
    align-items: center;    
    border-bottom: 1px solid var(--Black-88);
    position: absolute;
    top: 0;
    width: 100%;
}

.header-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.header-text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1px;
}

.body {
    padding: 0 10px;
    margin-top: 16px;
    position: absolute;
    top: 72px;
    bottom: 73px;
    width: 100%;
    overflow: auto;
}

.sidebar-button {
    border-top: 1px solid var(--Black-88);
    padding: 16px 20px;
    position: absolute;
    bottom: 0;
    height: 73px;
    width: 100%;
}

.icon-24 {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: auto;
    align-self: right;
}

.icon-24:hover {
    background-color: var(--Blue-72);
}

.pointer {
    cursor: pointer;
}

.edit-icon {
    margin: 10px;
}

.header-actions-wrapper {
    display: flex;
}

.attachments-list {
    margin-top: 16px;
}

input.inline-edit {
    border: none;
    outline: none;
    background: transparent;

    width: 100%;

    font-size: 12px !important;
    display: flex;
    letter-spacing: 0.1px;
    margin-top: 10px;
}

.item-disabled{
    cursor: default !important;
    background-color: var(--Black-88) !important;
}

.nav-link {
    color: var(--Blue-72);
    text-decoration: none;
    padding: 0 !important;
    padding: 0.75rem 1rem;
}

.attachment-actions {
    justify-content: space-between !important;
}