<div class="sidebar-header">
    <div class="header-title">Attachments</div>
    <div class="header-text">Claim {{claimIdentifier}}</div>
</div>
<div class="body">
    <div *ngFor="let attachment of view.data" class="attachment-frame small-12reg">
        <div class="w-100 b-b">
            <div class="details">
                <div class="d-flex attachment-actions">
                    <div class="property small-12med">File Name</div>
                    <span *ngIf="!isEdited(attachment)">
                        <span class="icon-24 edit-icon pointer" (click)="startEdit(attachment)"></span>
                        <span class="icon-24 trash-icon pointer" (click)="deleteAttachment(attachment)"></span>
                    </span>
                    <span *ngIf="isEdited(attachment)">
                        <span class="icon-24 denied-icon pointer" style="background-color: red;margin-right:10px;" (click)="cancelEdit(attachment)"></span>
                        <span class="icon-24 passed-icon pointer" style="background-color: green;" (click)="acceptEdit(attachment)"></span>
                    </span>
                </div>
                <div class="row value" style="flex-wrap: nowrap;">
                    <div *ngIf="!isEdited(attachment)" class="nav-link" (click)="downloadAttachment(attachment)">
                        {{attachment.filename}}</div>
                    <input *ngIf="isEdited(attachment)" class="inline-edit" type="text"
                        [(ngModel)]="attachment.filename">
                </div>
            </div>
        </div>
        <div class="w-50">
            <div class="details">
                <div class="property small-12med">Added by</div>
                <div class="value">{{attachment.createdBy}}</div>
            </div>
        </div>
        <div class="w-50 b-l">
            <div class="details">
                <div class="property small-12med">Date/Time</div>
                <div class="value">{{attachment.dateCreated}}</div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar-button">
    <div class="d-flex justify-content-end">
        <contained-btn class="pointer" text="Add Attachment" iconClass="icon-24 add-circle-icon"
            (onClick)="openAddAttachmentDialog()"></contained-btn>
    </div>
    <div class="header-actions-wrapper">
        <add-claim-attachment-dialog [existingFiles]="existingFileNames" *ngIf="showAddAttachmentDialog" (closeDialogEmitter)="closeAddAttachmentDialog()"
            [claimId]="claimId">
        </add-claim-attachment-dialog>

        <confirmation-dialog [confirmDialog]="deleteConfirmation"
            (onConfirm)="acceptDeleteAttachment($event)"></confirmation-dialog>
    </div>
</div>