<div>
    <ng-template ngFor let-claimHistory [ngForOf]="claimHistoryModels" let-i="index">
        <div *ngIf="claimHistory" class="dark small-12reg">
            <div class="w-100 p-0 b br-t b-b-n">
                <div class="details-header">
                    {{claimHistory.changeDate | date:'MM/dd/yyyy'}} by {{claimHistory.changeBy}}
                </div>
            </div>
            <ng-template [ngIf]="claimHistory.oldValue && claimHistory.newValue">
                <div class="w-50 b b-b-n">
                    <div class="details">
                        <div class="property small-12med">Old Value</div>
                        <div class="d-flex">{{claimHistory.oldValue}}</div>
                    </div>
                </div>
                <div class="w-50 b b-b-n">
                    <div class="details">
                        <div class="property small-12med">New Value</div>
                        <div class="d-flex">{{claimHistory.newValue}}</div>
                    </div>
                </div>
            </ng-template>
            <div class="w-100 p-0 b br-b">
                <div class="details-header">
                    <div class="property small-12med">Action</div>
                    <div class="d-flex">{{claimAction[claimHistory.actionId]}}</div>
                </div>
            </div>
        </div>
    </ng-template>
</div>