.main-toolbar {
    background-color: white;
    color: var(--Black-98);
    position: relative;
    z-index: 10;
    border-bottom: 1px solid var(--Black-96);
}

.sidenav {
    width: 220px;
}
.is-active {
    background-color: #d2ebff;
}

.is-active .menuText {
    color: var(--Blue-72);
}

.is-active .top-menu-icon {
    background-color: var(--Blue-72);
}

.menuitem {
    display: flex;
    color: #000;
}

.menuTile {
    padding: 0px 10px 10px 10px;
    /* margin: -5px; */
    cursor: pointer;
}

.menuTile:hover {
    background-color: #dae1e8;
}

.menuTile:hover .top-menu-icon {
    background-color: var(--Blue-72);
}

.menuTile:hover .menuText {
    color: var(--Blue-72);
}

.menuText {
    font-size: 9px;
    font-weight: bold;
    color: var(--Black-48);
}


/* .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
} 

.mat-toolbar {
    height: 80px;
    font-size: 16px;
}*/

.secondary-toolbar {
    background-color: #fff;
    box-shadow: none;
}

mat-sidenav-content {
    background-color: #fff;
    border-left: 1px solid var(--Black-96);
}

mat-sidenav {
    width: 80px;
    z-index: 10 !important;
    border-right: 1px solid var(--Black-96);
    background-color: #fff;
}

.content-wrapper {
    width: 100%;
    padding: 0px 0px 30px 0px;
    height: 100vh;
    overflow-y: auto;
    
}



.profile {
    font-size: 14px;
    display: contents;
}

mat-list-item {
    height: 14vh;
}

.sidenavouter {
    padding: 10px;
}

.pageheader {
    margin: 0px 0px -15px 20px;
    background-color: transparent;
}

/* .BH-logo {
    margin: 10px;
}

.Header-2 {
    margin-top: -7px;
}

img {
    height: 45px;
} */

/* **************************************************************************** */
#welcomeBackTx {
    font-weight: 700;
    font-size: 14px;
    color: #414a52;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    border: 1px solid #fcfdff;
}

#welcomeBackTx:hover {
    border: 1px solid #CED6E0;
}

#welcomeBackTx.open #myAccount .fa::before {
    content: "\F077";
}


#welcomeBackTx:hover #myAccount {
    max-width: 100%;
}

@media only screen and (min-device-width: 1023.98px) {

    #welcomeBackTx #myAccount {
        max-width: 100% !important;
    }
}


.userInitials {
    height: 38px;
    width: 38px;
    background-color: var(--Blue-96);
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    color: var(--prim-act);
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
}

@media only screen and (min-device-width: 1023.98px) {
    #welcomeBackTx #myAccount {
        max-width: 100% !important;
    }
}

#myAccount {
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    max-width: 0;
    width: auto;
    margin-left: 10px;
}

.open>a {
    outline: 0;
}

a:hover,
a:focus {
    color: #23527c;
    text-decoration: underline;
}

a:active,
a:hover {
    outline: 0;
}

.publicHeader a {
    text-decoration: none;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}

a {
    text-decoration: none;
}


.menu .top-menu-icon-wrapper:hover {
    background-color: unset;
}

.menu .top-menu-icon-wrapper.activeArea .top-menu-icon,
.menu .menu-group:hover .top-menu-icon {
    border-radius: 8px;
    background-color: var(--prim-act);
}

.menu .top-menu-icon-wrapper {
    margin: 5px auto 0;
    background-color: unset;
}


.top-menu-icon-wrapper .menu-item {
    margin: auto 0;
}

.top-menu-icon-wrapper.activeArea .menu-item,
.top-menu-icon-wrapper:hover .menu-item {
    color: var(--act-state);
}

.top-menu-icon-wrapper.activeArea .sub-item-toggle,
.top-menu-icon-wrapper:hover .sub-item-toggle {
    color: var(--act-state);
}

.submenu .top-menu-icon-wrapper {
    margin: 10px;
    width: auto;
    display: flex;
}

.top-menu-icon-wrapper {
    border-radius: 12px;
    margin: 0 auto;
    width: 40px;
    height: 30px;
}

.top-menu-icon-wrapper.activeArea,
.top-menu-icon-wrapper:hover {
    background-color: var(--prim-act);
}

.menu .menu-group:hover .top-menu-icon {
    border-radius: 8px;
    background-color: var(--prim-act);
}


.top-menu-icon {
    height: 40px;
    width: 40px;
    background-color: var(--inac-state);
    display: inline-block;
    float: left;
}

.submenu .top-menu-icon,
.menu-item-wrapper.activeArea .top-menu-icon,
.menu-item-wrapper:hover .top-menu-icon {
    background-color: var(--act-state);
}