SET NOEXEC OFF
SET NOCOUNT ON
SET NUMERIC_ROUNDABORT OFF
GO

SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO

SET XACT_ABORT ON
GO

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE

BEGIN TRANSACTION

IF @@ERROR <> 0 SET NOEXEC ON
GO
/****** Object:  Table [dbo].[ChargePayment]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChargePayment](
	[Id] [int] NOT NULL,
	[ChargeId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[ReasonCodeId] [int] NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
	[Reference] [nvarchar](4000) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateLastModified] [datetime] NULL,
	[DateDeleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimActions]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimActions](
	[id] [tinyint] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimActionTypes]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimActionTypes](
	[id] [tinyint] NOT NULL,
	[description] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimAppointmentLink]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimAppointmentLink](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hcClaimId] [int] NOT NULL,
	[hcAppointmentId] [int] NOT NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NULL,
	[modifiedBy] [int] NULL,
	[dateDeleted] [datetime] NULL,
	[hcClaimAppointmentLinkChargeEntryId] [int] NULL,
	[DeletedBy] [int] NULL,
	[hcClaimChargeEntriesId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimAppointmentLinkChargeEntry]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimAppointmentLinkChargeEntry](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[hcClaimChargeEntryEntityId] [int] NOT NULL,
	[npiNumber] [nvarchar](100) NULL,
	[isSecondBillingCode] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[DeletedBy] [int] NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateLastModified] [datetime] NULL,
	[DateDeleted] [datetime] NULL,
 CONSTRAINT [PK_ClaimAppointmentLinkChargeEntries_id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimAttachments]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimAttachments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hcClaimId] [int] NOT NULL,
	[fileName] [nvarchar](200) NOT NULL,
	[fileSize] [float] NOT NULL,
	[fileMimeType] [varchar](200) NOT NULL,
	[notes] [nvarchar](300) NULL,
	[filePath] [nvarchar](200) NULL,
	[dateCreated] [datetime] NOT NULL,
	[createdBy] [int] NOT NULL,
	[dateLastModified] [datetime] NULL,
	[modifiedBy] [int] NULL,
	[dateDeleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimAttachmentTypes]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimAttachmentTypes](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_ClaimAttachmentTypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimChargeEntries]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimChargeEntries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[hcClaimId] [int] NOT NULL,
	[dateOfService] [date] NOT NULL,
	[billingCode] [nvarchar](200) NOT NULL,
	[modifier1] [nvarchar](200) NULL,
	[units] [decimal](18, 3) NOT NULL,
	[hcUnitTypeId] [int] NOT NULL,
	[charges] [decimal](18, 3) NOT NULL,
	[diagnosisCode] [nvarchar](20) NULL,
	[diagnosisCode2] [nvarchar](20) NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateLastModified] [datetime] NULL,
	[DateDeleted] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[description] [nvarchar](300) NULL,
	[modifier2] [nvarchar](20) NULL,
	[unitRate] [decimal](19, 3) NULL,
	[billingCodeDescription] [nvarchar](300) NULL,
	[modifier3] [nvarchar](20) NULL,
	[modifier4] [nvarchar](20) NULL,
	[serviceLineIdentifier] [int] NULL,
	[noteText] [nvarchar](80) NULL,
	[noteCreatedBy] [int] NULL,
	[noteCreatedDate] [datetime] NULL,
	[includeOnClaimMod1] [bit] NULL,
	[includeOnClaimMod2] [bit] NULL,
	[includeOnClaimMod3] [bit] NULL,
	[includeOnClaimMod4] [bit] NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_ClaimChargeEntries_id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimChargeEntryWriteOff]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimChargeEntryWriteOff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hcClaimWriteOffId] [int] NOT NULL,
	[hcClaimChargeEntryId] [int] NOT NULL,
	[hcWriteOffReasonCodeId] [int] NOT NULL,
	[hcWriteOffReasonCodeIdOrig] [int] NOT NULL,
	[writeOffAmount] [decimal](18, 2) NULL,
	[writeOffAmountOrig] [decimal](18, 2) NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimDiagnosisCode]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimDiagnosisCode](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hcClaimId] [int] NOT NULL,
	[diagnosisId] [int] NOT NULL,
	[order] [int] NOT NULL,
	[includeOnClaims] [bit] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[createdBy] [int] NOT NULL,
	[dateLastModified] [datetime] NULL,
	[modifiedBy] [int] NULL,
	[dateDeleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_ClaimDiagnosisCode] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimDocumentTypes]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimDocumentTypes](
	[id] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NOT NULL,
	[dateDeleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimErrorCategories]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimErrorCategories](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[prefix] [nvarchar](10) NOT NULL,
	[numberBase] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimErrorMessages]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimErrorMessages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[errorNumber] [int] NOT NULL,
	[shortDescription] [nvarchar](100) NOT NULL,
	[longDescription] [nvarchar](1000) NOT NULL,
	[severity] [int] NOT NULL,
	[claimErrorCategoryId] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimFrequencyTypes]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimFrequencyTypes](
	[id] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NOT NULL,
	[dateDeleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimHistory]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimHistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[claimId] [int] NOT NULL,
	[claimActionId] [tinyint] NOT NULL,
	[claimActionTypeId] [tinyint] NOT NULL,
	[claimHistoryActionId] [int] NOT NULL,
	[claimHistoryFieldId] [smallint] NULL,
	[claimVersionId] [int] NULL,
	[actionDate] [datetime] NOT NULL,
	[oldValue] [nvarchar](2000) NULL,
	[newValue] [nvarchar](2000) NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_dbo_hcClaimHistory_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimHistoryActions]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimHistoryActions](
	[id] [int] NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[description] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimHistoryFields]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimHistoryFields](
	[id] [smallint] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimNotes]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimNotes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hcClaimId] [int] NOT NULL,
	[remindDate] [datetime] NOT NULL,
	[note] [varchar](max) NULL,
	[recievedReminder] [bit] NOT NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[startDate] [date] NOT NULL,
	[endDate] [date] NOT NULL,
	[accountInfoId] [int] NOT NULL,
	[childProfileId] [int] NOT NULL,
	[tblMemberId] [int] NOT NULL,
	[hcLocationCodeId] [int] NOT NULL,
	[hcChildProfileAuthorizationId] [int] NULL,
	[authorizationNumber] [nvarchar](max) NULL,
	[hcProviderLocationId] [int] NULL,
	[primaryFunderId] [int] NOT NULL,
	[secondaryFunderId] [int] NULL,
	[hcClaimStatusId] [int] NOT NULL,
	[note] [nvarchar](2000) NULL,
	[isAppointmentDeleted] [bit] NULL,
	[billTo] [int] NULL,
	[toLocation] [nvarchar](300) NULL,
	[toLocationId] [int] NULL,
	[dateCreated] [datetime] NOT NULL,
	[createdBy] [int] NOT NULL,
	[dateLastModified] [datetime] NULL,
	[modifiedBy] [int] NULL,
	[dateDeleted] [datetime] NULL,
	[claimIdentifier] [nvarchar](40) NULL,
	[isFlagged] [bit] NOT NULL,
	[renderingStaffMemberId] [int] NULL,
	[serviceLocationId] [int] NULL,
	[referringProviderId] [int] NULL,
	[authorizedPaymentConfirmationTypeId] [int] NULL,
	[releaseOfInformationConfirmationTypeId] [int] NULL,
	[originalClaim] [nvarchar](200) NULL,
	[frequencyTypeId] [int] NULL,
	[tertiaryFunderId] [int] NULL,
	[lastBilledFunderId] [int] NULL,
	[clientFunderId] [int] NULL,
	[clientFunderServiceLineId] [int] NULL,
	[DeletedBy] [int] NULL,
	[RenderingProviderTypeId] [int] NULL,
	[billedDate] [datetime] NULL,
	[benefitAssignmentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimSearchChildProfileAuthorizations]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimSearchChildProfileAuthorizations](
	[id] [int] NOT NULL,
	[childProfileFunderId] [int] NULL,
	[funderId] [int] NOT NULL,
	[dateDeleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimSearchClients]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimSearchClients](
	[id] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[dateDeleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimSearchFunders]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimSearchFunders](
	[id] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[dateDeleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimSearchLocations]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimSearchLocations](
	[id] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[dateDeleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimSearchRenderingProviders]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimSearchRenderingProviders](
	[id] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[dateDeleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimSearchTablesUpdateLogs]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimSearchTablesUpdateLogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](15) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[callStack] [nvarchar](max) NULL,
	[timeStamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimStatus]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimStatus](
	[id] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NOT NULL,
	[dateDeleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimSubmissionFunderSequence]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimSubmissionFunderSequence](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hcClaimSubmissionId] [int] NOT NULL,
	[hcFunderId] [int] NULL,
	[funderResponsibilitySequence] [char](1) NOT NULL,
	[sequenceOrder] [int] NOT NULL,
	[funderName] [nvarchar](200) NULL,
	[funderVendorId] [nvarchar](400) NULL,
	[insurancePolicyNumber] [nvarchar](100) NULL,
	[insuranceGroupName] [nvarchar](200) NULL,
	[insuranceGroupNumber] [nvarchar](100) NULL,
	[insuranceAddress1] [nvarchar](110) NULL,
	[insuranceAddress2] [nvarchar](110) NULL,
	[insuranceCity] [nvarchar](50) NULL,
	[insuranceState] [nvarchar](50) NULL,
	[insuranceZip] [nvarchar](50) NULL,
	[insuranceCountry] [nvarchar](50) NULL,
	[insuranceTown] [nvarchar](50) NULL,
	[subscriberFirstName] [nvarchar](100) NULL,
	[subscriberLastName] [nvarchar](100) NULL,
	[subscriberMiddleName] [nvarchar](100) NULL,
	[subscriberDOB] [datetime] NULL,
	[subscriberGender] [char](1) NULL,
	[relationshipToSubscriber] [int] NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[insuranceCoverageType] [nvarchar](10) NULL,
	[subscriberAddress1] [nvarchar](110) NULL,
	[subscriberAddress2] [nvarchar](110) NULL,
	[subscriberCity] [nvarchar](50) NULL,
	[subscriberState] [nvarchar](50) NULL,
	[subscriberZip] [nvarchar](50) NULL,
	[subscriberCountry] [nvarchar](50) NULL,
	[subscriberTown] [nvarchar](50) NULL,
	[insurancePlanName] [nvarchar](200) NULL,
	[releaseOfInformationConfirmationDate] [datetime] NULL,
	[medicalRecordNumber] [nvarchar](200) NULL,
	[serviceLineBillingProviderOption] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimSubmissions]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimSubmissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[hcClaimId] [int] NOT NULL,
	[claimSubmissionIdentifier] [nvarchar](50) NOT NULL,
	[documentTypeId] [int] NOT NULL,
	[submissionTypeId] [int] NOT NULL,
	[frequencyTypeId] [int] NOT NULL,
	[submissionStatusId] [int] NOT NULL,
	[payerClaimControlNumber] [nvarchar](50) NULL,
	[responsibilitySequence] [char](1) NOT NULL,
	[hcChildProfileAuthorizationId] [int] NULL,
	[claimFilePath] [nvarchar](200) NOT NULL,
	[reportPath] [nvarchar](200) NULL,
	[submitDate] [datetime] NOT NULL,
	[errorMessage] [nvarchar](500) NULL,
	[accountAddress1] [nvarchar](110) NULL,
	[accountAddress2] [nvarchar](110) NULL,
	[accountCity] [nvarchar](50) NULL,
	[accountState] [nvarchar](50) NULL,
	[accountZip] [nvarchar](50) NULL,
	[accountCountry] [nvarchar](50) NULL,
	[accountTown] [nvarchar](50) NULL,
	[accountBillingAddress1] [nvarchar](110) NULL,
	[accountBillingAddress2] [nvarchar](110) NULL,
	[accountBillingCity] [nvarchar](50) NULL,
	[accountBillingState] [nvarchar](50) NULL,
	[accountBillingZip] [nvarchar](50) NULL,
	[accountBillingCountry] [nvarchar](50) NULL,
	[accountBillingTown] [nvarchar](50) NULL,
	[accountbillingProviderEmail] [nvarchar](200) NULL,
	[accountbillingProviderFax] [nvarchar](50) NULL,
	[accountBillingProviderName] [nvarchar](100) NULL,
	[accountbillingProviderPhone] [nvarchar](50) NULL,
	[accountBillingProviderTaxonomyCode] [nvarchar](100) NULL,
	[accountNpiNumber] [nvarchar](100) NULL,
	[accountphoneNumber] [nvarchar](50) NULL,
	[authorizedPaymentConfirmationType] [char](1) NULL,
	[clearingHouseIdentifier] [nvarchar](200) NULL,
	[clearinghouseProviderIdentifier] [nvarchar](200) NULL,
	[clearingHouseSubmitterName] [nvarchar](200) NULL,
	[funderBillingProviderOption] [int] NULL,
	[locationBillingProviderAddress1] [nvarchar](110) NULL,
	[locationBillingProviderAddress2] [nvarchar](110) NULL,
	[locationBillingProviderCity] [nvarchar](50) NULL,
	[locationBillingProviderState] [nvarchar](50) NULL,
	[locationBillingProviderZip] [nvarchar](50) NULL,
	[locationBillingProviderCountry] [nvarchar](50) NULL,
	[locationBillingProviderTown] [nvarchar](50) NULL,
	[locationBillingProviderfederalTaxId] [nvarchar](100) NULL,
	[locationBillingProviderIsBillingLocation] [bit] NULL,
	[locationBillingProviderName  ] [nvarchar](200) NULL,
	[locationBillingProviderNpiNumber] [nvarchar](100) NULL,
	[locationBillingProvidertaxonomyCode] [nvarchar](100) NULL,
	[placeOfServiceCode] [nvarchar](10) NULL,
	[referringProviderFirstName] [nvarchar](100) NULL,
	[referringProviderLastName] [nvarchar](100) NULL,
	[referringProviderNpiNumber] [nvarchar](100) NULL,
	[releaseOfInformationConfirmationType] [char](1) NULL,
	[renderingProviderStaffFirstName] [nvarchar](100) NULL,
	[renderingProviderStaffLastName] [nvarchar](100) NULL,
	[renderingProviderStaffMiddleName] [nvarchar](100) NULL,
	[renderingProviderStaffNpiNumber] [nvarchar](100) NULL,
	[renderingProviderStaffTaxonomyCode] [nvarchar](100) NULL,
	[totalPatientPaid] [decimal](18, 2) NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[authorizationNumber] [nvarchar](200) NULL,
	[resolvedBillingProviderNpi] [nvarchar](200) NULL,
	[resolvedBillingProviderName] [nvarchar](200) NULL,
	[resolvedBillingProviderFirstName] [nvarchar](200) NULL,
	[resolvedBillingProviderMiddleName] [nvarchar](200) NULL,
	[resolvedRenderingProviderNpi] [nvarchar](200) NULL,
	[resolvedRenderingProviderName] [nvarchar](200) NULL,
	[resolvedRenderingProviderFirstName] [nvarchar](200) NULL,
	[resolvedRenderingProviderMiddleName] [nvarchar](200) NULL,
	[childProfileAddress1] [nvarchar](110) NULL,
	[childProfileAddress2] [nvarchar](110) NULL,
	[childProfileCity] [nvarchar](50) NULL,
	[childProfileState] [nvarchar](50) NULL,
	[childProfileZip] [nvarchar](50) NULL,
	[childProfileCountry] [nvarchar](50) NULL,
	[childProfileTown] [nvarchar](50) NULL,
	[childProfileFirstName] [nvarchar](100) NULL,
	[childProfileLastName] [nvarchar](100) NULL,
	[childProfileMiddleName] [nvarchar](100) NULL,
	[childProfileDOB] [datetime] NULL,
	[childProfileGender] [char](1) NULL,
	[serviceLocationName] [nvarchar](400) NULL,
	[serviceLocationNpiNumber] [nvarchar](400) NULL,
	[locationBillingProviderCommercialNumber] [nvarchar](200) NULL,
	[locationBillingProviderStateLicenseNumber] [nvarchar](200) NULL,
	[locationBillingProviderLocationNumber] [nvarchar](200) NULL,
	[hcFunderId] [int] NULL,
	[priorClaimSubmissionIdentifier] [nvarchar](50) NULL,
	[hcPriorClaimSubmissionId] [int] NULL,
	[serviceLocationAddress1] [nvarchar](110) NULL,
	[serviceLocationAddress2] [nvarchar](110) NULL,
	[serviceLocationCity] [nvarchar](50) NULL,
	[serviceLocationState] [nvarchar](50) NULL,
	[serviceLocationZip] [nvarchar](50) NULL,
	[serviceLocationCountry] [nvarchar](50) NULL,
	[accountFederalTaxId] [nvarchar](100) NULL,
	[resolvedBillingProviderFederalTaxID] [nvarchar](100) NULL,
	[DeletedBy] [int] NULL,
	[controlNumber] [varchar](9) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimSubmissionServiceLines]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimSubmissionServiceLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[hcClaimSubmissionId] [int] NOT NULL,
	[hcClaimChargeEntryId] [int] NOT NULL,
	[dateOfService] [datetime] NULL,
	[billingCode] [nvarchar](50) NULL,
	[billingCodeDescription] [nvarchar](600) NULL,
	[modifier1] [nvarchar](100) NULL,
	[modifier2] [nvarchar](100) NULL,
	[modifier3] [nvarchar](100) NULL,
	[modifier4] [nvarchar](100) NULL,
	[units] [decimal](18, 2) NULL,
	[unitRate] [decimal](18, 2) NULL,
	[unitType] [nvarchar](50) NULL,
	[hcUnitTypeId] [int] NULL,
	[charges] [decimal](18, 2) NULL,
	[diagnosisCode] [nvarchar](20) NULL,
	[diagnosisCodeOrder] [int] NULL,
	[serviceLineIdentifier] [nvarchar](10) NULL,
	[serviceLineIndex] [int] NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NULL,
	[modifiedBy] [int] NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[noteText] [nvarchar](160) NULL,
	[noteCreatedBy] [int] NULL,
	[noteCreatedDate] [datetime] NULL,
	[diagnosisCodeType] [int] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimSubmissionStatus]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimSubmissionStatus](
	[id] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NOT NULL,
	[dateDeleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimSubmissionTypes]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimSubmissionTypes](
	[id] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NOT NULL,
	[dateDeleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimValidationErrors]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimValidationErrors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contextMessage] [nvarchar](1000) NULL,
	[claimErrorMessageId] [int] NOT NULL,
	[eraValidationErrorId] [int] NULL,
	[claimId] [int] NULL,
	[claimSubmissionId] [int] NULL,
	[claimErrorSourceId] [tinyint] NOT NULL,
	[validationDate] [datetime] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimVersions]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimVersions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[identifier] [uniqueidentifier] NOT NULL,
	[claimIdentifier] [nvarchar](40) NULL,
	[claimId] [int] NOT NULL,
	[accountInfoId] [int] NOT NULL,
	[memberId] [int] NOT NULL,
	[claimStatusId] [int] NOT NULL,
	[clientName] [nvarchar](500) NULL,
	[responsibleParty] [nvarchar](500) NULL,
	[startDate] [datetime] NULL,
	[endDate] [datetime] NULL,
	[diagnosisCodes] [nvarchar](500) NULL,
	[authorizationNumber] [nvarchar](500) NULL,
	[balanceAmount] [decimal](18, 2) NULL,
	[paymentAmount] [decimal](18, 2) NULL,
	[billedAmount] [decimal](18, 2) NULL,
	[patientResponsibilityAmount] [decimal](18, 2) NULL,
	[renderingProvider] [nvarchar](500) NULL,
	[billingProvider] [nvarchar](500) NULL,
	[referringProvider] [nvarchar](500) NULL,
	[serviceProvider] [nvarchar](500) NULL,
	[placeOfService] [nvarchar](500) NULL,
	[benefitAssignment] [nvarchar](20) NULL,
	[authorizedReleaseOfInfo] [nvarchar](20) NULL,
	[authorizePayment] [nvarchar](20) NULL,
	[submissionCode] [nvarchar](50) NULL,
	[originalClaim] [nvarchar](max) NULL,
	[note] [nvarchar](max) NULL,
	[createdBy] [int] NULL,
	[modifiedBy] [int] NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[submissionReason] [int] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[identifier] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimWriteOff]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimWriteOff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hcClaimId] [int] NOT NULL,
	[hcWriteOffApplicationId] [int] NOT NULL,
	[hcWriteOffActionId] [int] NOT NULL,
	[percentageOrAmount] [decimal](18, 2) NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EraValidationErrors]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EraValidationErrors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[groupCodeId] [int] NOT NULL,
	[adjustmentCodeId] [int] NULL,
	[adjustmentLevel] [int] NOT NULL,
 CONSTRAINT [PK_dbo_hcEraValidationErrors_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExternalCodes]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalCodes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[codeTypeId] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NOT NULL,
	[dateDeleted] [datetime] NULL,
 CONSTRAINT [PK_dbo_hcExternalCodes_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExternalCodeTypes]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalCodeTypes](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberViewSetting]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberViewSetting](
	[memberId] [int] NOT NULL,
	[client] [bit] NOT NULL,
	[funder] [bit] NOT NULL,
	[renderingProvider] [bit] NOT NULL,
	[placeOfService] [bit] NOT NULL,
	[dateOfService] [bit] NOT NULL,
	[authColumn] [bit] NOT NULL,
	[expected] [bit] NOT NULL,
	[billed] [bit] NOT NULL,
	[payment] [bit] NOT NULL,
	[patientResponsible] [bit] NOT NULL,
	[balance] [bit] NOT NULL,
	[billedDate] [bit] NOT NULL,
	[statusColumn] [bit] NOT NULL,
	[validationColumn] [bit] NOT NULL,
	[adjustment] [bit] NOT NULL,
	[actions] [bit] NOT NULL,
 CONSTRAINT [PK_MemberViewSetting] PRIMARY KEY CLUSTERED 
(
	[memberId] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accountInfoId] [int] NULL,
	[receivedDate] [datetime] NULL,
	[interchangeControlNumber] [nvarchar](60) NULL,
	[requestsAck] [bit] NULL,
	[isTestData] [bit] NULL,
	[transactionHandlingCode] [nvarchar](10) NULL,
	[paymentAmount] [decimal](18, 2) NULL,
	[paymentAmountOrig] [decimal](18, 2) NULL,
	[creditOrDebit] [nvarchar](10) NULL,
	[eraPaymentMethod] [nvarchar](10) NULL,
	[paymentIdentifier] [nvarchar](20) NULL,
	[hcPaymentMethodId] [int] NULL,
	[hcPaymentTypeId] [int] NULL,
	[paymentDate] [datetime] NULL,
	[depositDate] [datetime] NULL,
	[postDate] [datetime] NULL,
	[referenceNumber] [nvarchar](30) NULL,
	[funderTaxID] [nvarchar](20) NULL,
	[funderName] [nvarchar](100) NULL,
	[funderID] [nvarchar](50) NULL,
	[payee] [nvarchar](100) NULL,
	[payeeIDType] [nvarchar](10) NULL,
	[payeeID] [nvarchar](100) NULL,
	[payeeTaxID] [nvarchar](30) NULL,
	[hcFunderId] [int] NULL,
	[funderContactName] [nvarchar](100) NULL,
	[funderContactType] [nvarchar](5) NULL,
	[funderContactInfo] [nvarchar](500) NULL,
	[transactionNumber] [int] NULL,
	[transactionCount] [int] NULL,
	[eraDocumentEDI] [nvarchar](max) NULL,
	[transactionXML] [nvarchar](max) NULL,
	[createdBy] [int] NULL,
	[dateCreated] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[status] [int] NOT NULL,
	[isManualPayment] [bit] NULL,
	[isManualReconciled] [bit] NULL,
	[hcPaymentEraUploadId] [int] NULL,
	[hasAcknowledgedErrors] [bit] NULL,
	[FunderBankRoutingQualifier] [nvarchar](2) NULL,
	[FunderBankRouting] [nvarchar](12) NULL,
	[FunderBankAccount] [nvarchar](35) NULL,
	[PayeeBankRoutingQualifier] [nvarchar](2) NULL,
	[PayeeBankRouting] [nvarchar](12) NULL,
	[PayeeBankAccountQualifier] [nvarchar](3) NULL,
	[PayeeBankAccount] [nvarchar](35) NULL,
	[PayeeAddress1] [nvarchar](55) NULL,
	[PayeeAddress2] [nvarchar](55) NULL,
	[PayeeAddressCity] [nvarchar](30) NULL,
	[PayeeAddressState] [nvarchar](2) NULL,
	[PayeeAddressZip] [nvarchar](15) NULL,
	[PayeeAddressCountry] [nvarchar](3) NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentAdjustmentReason]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentAdjustmentReason](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[groupCode] [nvarchar](10) NOT NULL,
	[adjustmentCode] [nvarchar](10) NOT NULL,
	[description] [nvarchar](1000) NOT NULL,
	[showForNonERA] [bit] NOT NULL,
	[claimResult] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentAttachment]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentAttachment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PaymentId] [int] NOT NULL,
	[FileName] [nvarchar](200) NOT NULL,
	[BlobFileName] [nvarchar](200) NOT NULL,
	[FileSize] [float] NOT NULL,
	[FileMimeType] [varchar](200) NOT NULL,
	[FilePath] [nvarchar](200) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[DateLastModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DateDeleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentClaim]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentClaim](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hcPaymentId] [int] NOT NULL,
	[childProfileId] [int] NOT NULL,
	[hcClaimId] [int] NULL,
	[claimIdentifier] [nvarchar](100) NULL,
	[claimIdentifierOrig] [nvarchar](100) NULL,
	[claimStatus] [nvarchar](10) NULL,
	[claimStatusOrig] [nvarchar](10) NULL,
	[totalCharge] [decimal](18, 2) NULL,
	[totalChargeOrig] [decimal](18, 2) NULL,
	[totalPayment] [decimal](18, 2) NULL,
	[totalPaymentOrig] [decimal](18, 2) NULL,
	[patientRespAmount] [decimal](18, 2) NULL,
	[patientRespAmountOrig] [decimal](18, 2) NULL,
	[filingIndicator] [nvarchar](10) NULL,
	[filingIndicatorOrig] [nvarchar](10) NULL,
	[controlNumber] [nvarchar](50) NULL,
	[clientIdentifier] [nvarchar](50) NULL,
	[clientLastName] [nvarchar](512) NULL,
	[clientFirstName] [nvarchar](512) NULL,
	[clientMiddleName] [nvarchar](512) NULL,
	[claimDateFrom] [datetime] NULL,
	[claimDateTo] [datetime] NULL,
	[claimReceivedDate] [datetime] NULL,
	[isReviewed] [bit] NOT NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[hcClaimSubmissionId] [int] NULL,
	[renderingProviderName] [nvarchar](200) NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentClaimAdjustment]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentClaimAdjustment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hcPaymentClaimId] [int] NOT NULL,
	[adjustmentGroupCode] [nvarchar](10) NOT NULL,
	[adjustmentGroupCodeOrig] [nvarchar](10) NOT NULL,
	[adjustmentReasonCode] [nvarchar](10) NOT NULL,
	[adjustmentReasonCodeOrig] [nvarchar](10) NOT NULL,
	[adjustmentAmount] [decimal](18, 2) NULL,
	[adjustmentAmountOrig] [decimal](18, 2) NULL,
	[adjustmentQuantity] [decimal](10, 3) NULL,
	[adjustmentQuantityOrig] [decimal](10, 3) NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[hcPaymentAdjustmentReasonId] [int] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentClaimAttachment]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentClaimAttachment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hcPaymentClaimAttachmentTypeId] [int] NOT NULL,
	[fileName] [nvarchar](200) NOT NULL,
	[fileSize] [float] NOT NULL,
	[fileMimeType] [varchar](200) NOT NULL,
	[notes] [nvarchar](300) NULL,
	[filePath] [nvarchar](200) NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentClaimAttachmentType]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentClaimAttachmentType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[mimeType] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentClaimError]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentClaimError](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hcPaymentClaimId] [int] NOT NULL,
	[errorMessage] [nvarchar](1024) NOT NULL,
	[isCleared] [bit] NOT NULL,
	[severity] [int] NOT NULL,
	[errorType] [int] NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentClaimNotes]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentClaimNotes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[remindDate] [datetime] NOT NULL,
	[note] [varchar](max) NULL,
	[recievedReminder] [bit] NOT NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[modifiedBy] [int] NOT NULL,
	[dateLastModified] [datetime] NOT NULL,
	[dateDeleted] [datetime] NULL,
	[hcClaimId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentClaimServiceLine]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentClaimServiceLine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hcPaymentClaimId] [int] NOT NULL,
	[serviceCode] [nvarchar](20) NULL,
	[serviceCodeOrig] [nvarchar](20) NULL,
	[hcClaimChargeEntryId] [int] NULL,
	[chargeAmount] [decimal](18, 2) NULL,
	[chargeAmountOrig] [decimal](18, 2) NULL,
	[paymentAmount] [decimal](18, 2) NULL,
	[paymentAmountOrig] [decimal](18, 2) NULL,
	[procedureModifier1] [nvarchar](50) NULL,
	[procedureModifier1Orig] [nvarchar](50) NULL,
	[procedureModifier2] [nvarchar](50) NULL,
	[procedureModifier2Orig] [nvarchar](50) NULL,
	[procedureModifier3] [nvarchar](50) NULL,
	[procedureModifier3Orig] [nvarchar](50) NULL,
	[procedureModifier4] [nvarchar](50) NULL,
	[procedureModifier4Orig] [nvarchar](50) NULL,
	[procedureDesc] [nvarchar](500) NULL,
	[procedureUnits] [nvarchar](20) NULL,
	[procedureUnitsOrig] [nvarchar](20) NULL,
	[replacementServiceCode] [nvarchar](20) NULL,
	[replacementProcedureModifier1] [nvarchar](50) NULL,
	[replacementProcedureModifier2] [nvarchar](50) NULL,
	[replacementProcedureModifier3] [nvarchar](50) NULL,
	[replacementProcedureModifier4] [nvarchar](50) NULL,
	[replacementProcedureUnits] [nvarchar](20) NULL,
	[replacementProcedureDesc] [nvarchar](500) NULL,
	[dateOfService] [datetime] NULL,
	[dateOfServiceOrig] [datetime] NULL,
	[serviceStartDate] [datetime] NULL,
	[serviceStartDateOrig] [datetime] NULL,
	[serviceEndDate] [datetime] NULL,
	[serviceEndDateOrig] [datetime] NULL,
	[lineControlNumber] [nvarchar](30) NULL,
	[allowedAmount] [decimal](18, 2) NULL,
	[allowedAmountOrig] [decimal](18, 2) NULL,
	[remittanceRemarkCode1] [nvarchar](20) NULL,
	[remittanceRemarkCode1Orig] [nvarchar](20) NULL,
	[remittanceRemarkCode2] [nvarchar](20) NULL,
	[remittanceRemarkCode2Orig] [nvarchar](20) NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[expectedAmount] [decimal](18, 2) NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentClaimServiceLineAdjustment]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentClaimServiceLineAdjustment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hcPaymentClaimServiceLineId] [int] NOT NULL,
	[adjustmentGroupCode] [nvarchar](10) NOT NULL,
	[adjustmentGroupCodeOrig] [nvarchar](10) NOT NULL,
	[adjustmentReasonCode] [nvarchar](10) NOT NULL,
	[adjustmentReasonCodeOrig] [nvarchar](10) NOT NULL,
	[adjustmentAmount] [decimal](18, 2) NULL,
	[adjustmentAmountOrig] [decimal](18, 2) NULL,
	[adjustmentQuantity] [decimal](10, 3) NULL,
	[adjustmentQuantityOrig] [decimal](10, 3) NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[hcPaymentAdjustmentReasonId] [int] NULL,
	[DeletedBy] [int] NULL,
	[IsAdjustmentPositive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentClaimServiceLineError]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentClaimServiceLineError](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hcPaymentClaimServiceLineId] [int] NOT NULL,
	[errorMessage] [nvarchar](1024) NOT NULL,
	[isCleared] [bit] NOT NULL,
	[severity] [int] NOT NULL,
	[errorType] [int] NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentEraUpload]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentEraUpload](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](200) NOT NULL,
	[BlobFileName] [nvarchar](200) NOT NULL,
	[FileSize] [float] NOT NULL,
	[FileMimeType] [varchar](200) NOT NULL,
	[FilePath] [nvarchar](200) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[DateLastModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DateDeleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentError]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentError](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hcPaymentId] [int] NOT NULL,
	[errorMessage] [nvarchar](1024) NOT NULL,
	[isCleared] [bit] NOT NULL,
	[severity] [int] NOT NULL,
	[errorType] [int] NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateLastModified] [datetime] NULL,
	[DateDeleted] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentNotes]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentNotes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hcPaymentId] [int] NOT NULL,
	[remindDate] [datetime] NOT NULL,
	[note] [varchar](max) NULL,
	[recievedReminder] [bit] NOT NULL,
	[createdBy] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](15) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[description] [varchar](100) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WriteOffAction]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WriteOffAction](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](30) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WriteOffApplication]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WriteOffApplication](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](30) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WriteOffReasonCode]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WriteOffReasonCode](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](30) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateLastModified] [datetime] NULL,
	[dateDeleted] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClaimAppointmentLinkChargeEntry] ADD  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[ClaimAppointmentLinkChargeEntry] ADD  DEFAULT ('2022-12-21') FOR [DateCreated]
GO
ALTER TABLE [dbo].[ClaimErrorCategories] ADD  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[ClaimErrorMessages] ADD  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[ClaimNotes] ADD  DEFAULT ((0)) FOR [recievedReminder]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT ((0)) FOR [isFlagged]
GO
ALTER TABLE [dbo].[ClaimSubmissionFunderSequence] ADD  DEFAULT ('P') FOR [funderResponsibilitySequence]
GO
ALTER TABLE [dbo].[ClaimSubmissionFunderSequence] ADD  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[ClaimSubmissions] ADD  DEFAULT ('P') FOR [responsibilitySequence]
GO
ALTER TABLE [dbo].[ClaimValidationErrors] ADD  DEFAULT ((1)) FOR [claimErrorSourceId]
GO
ALTER TABLE [dbo].[ClaimValidationErrors] ADD  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[ClaimVersions] ADD  DEFAULT (newid()) FOR [identifier]
GO
ALTER TABLE [dbo].[MemberViewSetting] ADD  DEFAULT ((0)) FOR [client]
GO
ALTER TABLE [dbo].[MemberViewSetting] ADD  DEFAULT ((0)) FOR [funder]
GO
ALTER TABLE [dbo].[MemberViewSetting] ADD  DEFAULT ((0)) FOR [renderingProvider]
GO
ALTER TABLE [dbo].[MemberViewSetting] ADD  DEFAULT ((0)) FOR [placeOfService]
GO
ALTER TABLE [dbo].[MemberViewSetting] ADD  DEFAULT ((0)) FOR [dateOfService]
GO
ALTER TABLE [dbo].[MemberViewSetting] ADD  DEFAULT ((0)) FOR [authColumn]
GO
ALTER TABLE [dbo].[MemberViewSetting] ADD  DEFAULT ((0)) FOR [expected]
GO
ALTER TABLE [dbo].[MemberViewSetting] ADD  DEFAULT ((0)) FOR [billed]
GO
ALTER TABLE [dbo].[MemberViewSetting] ADD  DEFAULT ((0)) FOR [payment]
GO
ALTER TABLE [dbo].[MemberViewSetting] ADD  DEFAULT ((0)) FOR [patientResponsible]
GO
ALTER TABLE [dbo].[MemberViewSetting] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[MemberViewSetting] ADD  DEFAULT ((0)) FOR [billedDate]
GO
ALTER TABLE [dbo].[MemberViewSetting] ADD  DEFAULT ((0)) FOR [statusColumn]
GO
ALTER TABLE [dbo].[MemberViewSetting] ADD  DEFAULT ((0)) FOR [validationColumn]
GO
ALTER TABLE [dbo].[MemberViewSetting] ADD  CONSTRAINT [DF_MemberViewSetting_adjustmentColumn]  DEFAULT ((0)) FOR [adjustment]
GO
ALTER TABLE [dbo].[MemberViewSetting] ADD  CONSTRAINT [DF_MemberViewSetting_actions]  DEFAULT ((0)) FOR [actions]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0)) FOR [hasAcknowledgedErrors]
GO
ALTER TABLE [dbo].[PaymentAdjustmentReason] ADD  DEFAULT ((0)) FOR [showForNonERA]
GO
ALTER TABLE [dbo].[PaymentAdjustmentReason] ADD  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PaymentClaimError] ADD  DEFAULT ((0)) FOR [isCleared]
GO
ALTER TABLE [dbo].[PaymentClaimNotes] ADD  DEFAULT ((0)) FOR [recievedReminder]
GO
ALTER TABLE [dbo].[PaymentClaimServiceLineAdjustment] ADD  DEFAULT ('FALSE') FOR [IsAdjustmentPositive]
GO
ALTER TABLE [dbo].[PaymentClaimServiceLineError] ADD  DEFAULT ((0)) FOR [isCleared]
GO
ALTER TABLE [dbo].[PaymentError] ADD  DEFAULT ((0)) FOR [isCleared]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PaymentNotes] ADD  DEFAULT ((0)) FOR [recievedReminder]
GO
ALTER TABLE [dbo].[PaymentType] ADD  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[ClaimChargeEntryWriteOff]  WITH CHECK ADD FOREIGN KEY([hcClaimWriteOffId])
REFERENCES [dbo].[ClaimWriteOff] ([id])
GO
ALTER TABLE [dbo].[ClaimChargeEntryWriteOff]  WITH CHECK ADD FOREIGN KEY([hcClaimChargeEntryId])
REFERENCES [dbo].[ClaimChargeEntries] ([Id])
GO
ALTER TABLE [dbo].[ClaimChargeEntryWriteOff]  WITH CHECK ADD FOREIGN KEY([hcClaimWriteOffId])
REFERENCES [dbo].[ClaimWriteOff] ([id])
GO
ALTER TABLE [dbo].[ClaimChargeEntryWriteOff]  WITH CHECK ADD FOREIGN KEY([hcClaimChargeEntryId])
REFERENCES [dbo].[ClaimChargeEntries] ([Id])
GO
ALTER TABLE [dbo].[ClaimChargeEntryWriteOff]  WITH CHECK ADD FOREIGN KEY([hcWriteOffReasonCodeId])
REFERENCES [dbo].[WriteOffReasonCode] ([id])
GO
ALTER TABLE [dbo].[ClaimChargeEntryWriteOff]  WITH CHECK ADD FOREIGN KEY([hcWriteOffReasonCodeIdOrig])
REFERENCES [dbo].[WriteOffReasonCode] ([id])
GO
ALTER TABLE [dbo].[ClaimChargeEntryWriteOff]  WITH CHECK ADD FOREIGN KEY([hcWriteOffReasonCodeId])
REFERENCES [dbo].[WriteOffReasonCode] ([id])
GO
ALTER TABLE [dbo].[ClaimChargeEntryWriteOff]  WITH CHECK ADD FOREIGN KEY([hcWriteOffReasonCodeIdOrig])
REFERENCES [dbo].[WriteOffReasonCode] ([id])
GO
ALTER TABLE [dbo].[ClaimErrorMessages]  WITH CHECK ADD  CONSTRAINT [FK_ClaimErrorMessages_claimErrorCategoryId] FOREIGN KEY([claimErrorCategoryId])
REFERENCES [dbo].[ClaimErrorCategories] ([id])
GO
ALTER TABLE [dbo].[ClaimErrorMessages] CHECK CONSTRAINT [FK_ClaimErrorMessages_claimErrorCategoryId]
GO
ALTER TABLE [dbo].[ClaimErrorMessages]  WITH CHECK ADD  CONSTRAINT [FK_dbo_hcClaimErrorMessages_claimErrorCategoryId] FOREIGN KEY([claimErrorCategoryId])
REFERENCES [dbo].[ClaimErrorCategories] ([id])
GO
ALTER TABLE [dbo].[ClaimErrorMessages] CHECK CONSTRAINT [FK_dbo_hcClaimErrorMessages_claimErrorCategoryId]
GO
ALTER TABLE [dbo].[ClaimHistory]  WITH CHECK ADD  CONSTRAINT [FK_ClaimHistory_claimActionId] FOREIGN KEY([claimActionId])
REFERENCES [dbo].[ClaimActions] ([id])
GO
ALTER TABLE [dbo].[ClaimHistory] CHECK CONSTRAINT [FK_ClaimHistory_claimActionId]
GO
ALTER TABLE [dbo].[ClaimHistory]  WITH CHECK ADD  CONSTRAINT [FK_ClaimHistory_claimActionTypeId] FOREIGN KEY([claimActionTypeId])
REFERENCES [dbo].[ClaimActionTypes] ([id])
GO
ALTER TABLE [dbo].[ClaimHistory] CHECK CONSTRAINT [FK_ClaimHistory_claimActionTypeId]
GO
ALTER TABLE [dbo].[ClaimHistory]  WITH CHECK ADD  CONSTRAINT [FK_ClaimHistory_claimHistoryActionId] FOREIGN KEY([claimHistoryActionId])
REFERENCES [dbo].[ClaimHistoryActions] ([id])
GO
ALTER TABLE [dbo].[ClaimHistory] CHECK CONSTRAINT [FK_ClaimHistory_claimHistoryActionId]
GO
ALTER TABLE [dbo].[ClaimHistory]  WITH CHECK ADD  CONSTRAINT [FK_ClaimHistory_claimHistoryFieldId] FOREIGN KEY([claimHistoryFieldId])
REFERENCES [dbo].[ClaimHistoryFields] ([id])
GO
ALTER TABLE [dbo].[ClaimHistory] CHECK CONSTRAINT [FK_ClaimHistory_claimHistoryFieldId]
GO
ALTER TABLE [dbo].[ClaimHistory]  WITH CHECK ADD  CONSTRAINT [FK_ClaimHistory_claimId] FOREIGN KEY([claimId])
REFERENCES [dbo].[Claims] ([id])
GO
ALTER TABLE [dbo].[ClaimHistory] CHECK CONSTRAINT [FK_ClaimHistory_claimId]
GO
ALTER TABLE [dbo].[ClaimHistory]  WITH CHECK ADD  CONSTRAINT [FK_ClaimHistory_claimVersionId] FOREIGN KEY([claimVersionId])
REFERENCES [dbo].[ClaimVersions] ([id])
GO
ALTER TABLE [dbo].[ClaimHistory] CHECK CONSTRAINT [FK_ClaimHistory_claimVersionId]
GO
ALTER TABLE [dbo].[Claims]  WITH NOCHECK ADD  CONSTRAINT [FK_Claim_FrequencyType] FOREIGN KEY([frequencyTypeId])
REFERENCES [dbo].[ClaimFrequencyTypes] ([id])
GO
ALTER TABLE [dbo].[Claims] NOCHECK CONSTRAINT [FK_Claim_FrequencyType]
GO
ALTER TABLE [dbo].[ClaimSubmissionFunderSequence]  WITH NOCHECK ADD  CONSTRAINT [FK_ClaimSubmFunderSeq_ClaimSubm] FOREIGN KEY([hcClaimSubmissionId])
REFERENCES [dbo].[ClaimSubmissions] ([Id])
GO
ALTER TABLE [dbo].[ClaimSubmissionFunderSequence] NOCHECK CONSTRAINT [FK_ClaimSubmFunderSeq_ClaimSubm]
GO
ALTER TABLE [dbo].[ClaimSubmissions]  WITH NOCHECK ADD  CONSTRAINT [FK_ClaimSubs_Claim] FOREIGN KEY([hcClaimId])
REFERENCES [dbo].[Claims] ([id])
GO
ALTER TABLE [dbo].[ClaimSubmissions] NOCHECK CONSTRAINT [FK_ClaimSubs_Claim]
GO
ALTER TABLE [dbo].[ClaimSubmissions]  WITH NOCHECK ADD  CONSTRAINT [FK_ClaimSubs_DocumentType] FOREIGN KEY([documentTypeId])
REFERENCES [dbo].[ClaimDocumentTypes] ([id])
GO
ALTER TABLE [dbo].[ClaimSubmissions] NOCHECK CONSTRAINT [FK_ClaimSubs_DocumentType]
GO
ALTER TABLE [dbo].[ClaimSubmissions]  WITH NOCHECK ADD  CONSTRAINT [FK_ClaimSubs_FrequencyType] FOREIGN KEY([frequencyTypeId])
REFERENCES [dbo].[ClaimFrequencyTypes] ([id])
GO
ALTER TABLE [dbo].[ClaimSubmissions] NOCHECK CONSTRAINT [FK_ClaimSubs_FrequencyType]
GO
ALTER TABLE [dbo].[ClaimSubmissions]  WITH NOCHECK ADD  CONSTRAINT [FK_ClaimSubs_PriorClaimSubs] FOREIGN KEY([hcPriorClaimSubmissionId])
REFERENCES [dbo].[ClaimSubmissions] ([Id])
GO
ALTER TABLE [dbo].[ClaimSubmissions] NOCHECK CONSTRAINT [FK_ClaimSubs_PriorClaimSubs]
GO
ALTER TABLE [dbo].[ClaimSubmissions]  WITH NOCHECK ADD  CONSTRAINT [FK_ClaimSubs_SubmissionStatus] FOREIGN KEY([submissionStatusId])
REFERENCES [dbo].[ClaimSubmissionStatus] ([id])
GO
ALTER TABLE [dbo].[ClaimSubmissions] NOCHECK CONSTRAINT [FK_ClaimSubs_SubmissionStatus]
GO
ALTER TABLE [dbo].[ClaimSubmissions]  WITH NOCHECK ADD  CONSTRAINT [FK_ClaimSubs_SubmissionType] FOREIGN KEY([submissionTypeId])
REFERENCES [dbo].[ClaimSubmissionTypes] ([id])
GO
ALTER TABLE [dbo].[ClaimSubmissions] NOCHECK CONSTRAINT [FK_ClaimSubs_SubmissionType]
GO
ALTER TABLE [dbo].[ClaimSubmissionServiceLines]  WITH NOCHECK ADD  CONSTRAINT [FK_ClaimSubmChg_ClaimSubm] FOREIGN KEY([hcClaimSubmissionId])
REFERENCES [dbo].[ClaimSubmissions] ([Id])
GO
ALTER TABLE [dbo].[ClaimSubmissionServiceLines] NOCHECK CONSTRAINT [FK_ClaimSubmChg_ClaimSubm]
GO
ALTER TABLE [dbo].[ClaimSubmissionServiceLines]  WITH NOCHECK ADD  CONSTRAINT [FK_ClaimSubmChg_ClaimSubmSvcLine] FOREIGN KEY([hcClaimChargeEntryId])
REFERENCES [dbo].[ClaimChargeEntries] ([Id])
GO
ALTER TABLE [dbo].[ClaimSubmissionServiceLines] CHECK CONSTRAINT [FK_ClaimSubmChg_ClaimSubmSvcLine]
GO
ALTER TABLE [dbo].[ClaimValidationErrors]  WITH CHECK ADD  CONSTRAINT [FK_ClaimValidationErrors_claimErrorMessageId] FOREIGN KEY([claimErrorMessageId])
REFERENCES [dbo].[ClaimErrorMessages] ([id])
GO
ALTER TABLE [dbo].[ClaimValidationErrors] CHECK CONSTRAINT [FK_ClaimValidationErrors_claimErrorMessageId]
GO
ALTER TABLE [dbo].[ClaimValidationErrors]  WITH CHECK ADD  CONSTRAINT [FK_ClaimValidationErrors_claimId] FOREIGN KEY([claimId])
REFERENCES [dbo].[Claims] ([id])
GO
ALTER TABLE [dbo].[ClaimValidationErrors] CHECK CONSTRAINT [FK_ClaimValidationErrors_claimId]
GO
ALTER TABLE [dbo].[ClaimValidationErrors]  WITH CHECK ADD  CONSTRAINT [FK_ClaimValidationErrors_claimSubmissionId] FOREIGN KEY([claimSubmissionId])
REFERENCES [dbo].[ClaimSubmissions] ([Id])
GO
ALTER TABLE [dbo].[ClaimValidationErrors] CHECK CONSTRAINT [FK_ClaimValidationErrors_claimSubmissionId]
GO
ALTER TABLE [dbo].[ClaimValidationErrors]  WITH CHECK ADD  CONSTRAINT [FK_EraValidationErrors_eraValidationErrorId] FOREIGN KEY([eraValidationErrorId])
REFERENCES [dbo].[EraValidationErrors] ([id])
GO
ALTER TABLE [dbo].[ClaimValidationErrors] CHECK CONSTRAINT [FK_EraValidationErrors_eraValidationErrorId]
GO
ALTER TABLE [dbo].[ClaimWriteOff]  WITH CHECK ADD FOREIGN KEY([hcClaimId])
REFERENCES [dbo].[Claims] ([id])
GO
ALTER TABLE [dbo].[ClaimWriteOff]  WITH CHECK ADD FOREIGN KEY([hcWriteOffApplicationId])
REFERENCES [dbo].[WriteOffApplication] ([id])
GO
ALTER TABLE [dbo].[ClaimWriteOff]  WITH CHECK ADD FOREIGN KEY([hcWriteOffActionId])
REFERENCES [dbo].[WriteOffAction] ([id])
GO
ALTER TABLE [dbo].[EraValidationErrors]  WITH CHECK ADD  CONSTRAINT [FK_EraValidationErrors_adjustmentCodeId] FOREIGN KEY([adjustmentCodeId])
REFERENCES [dbo].[ExternalCodes] ([id])
GO
ALTER TABLE [dbo].[EraValidationErrors] CHECK CONSTRAINT [FK_EraValidationErrors_adjustmentCodeId]
GO
ALTER TABLE [dbo].[EraValidationErrors]  WITH CHECK ADD  CONSTRAINT [FK_EraValidationErrors_groupCodeId] FOREIGN KEY([groupCodeId])
REFERENCES [dbo].[ExternalCodes] ([id])
GO
ALTER TABLE [dbo].[EraValidationErrors] CHECK CONSTRAINT [FK_EraValidationErrors_groupCodeId]
GO
ALTER TABLE [dbo].[ExternalCodes]  WITH CHECK ADD  CONSTRAINT [FK_ExternalCodes_codeTypeId] FOREIGN KEY([codeTypeId])
REFERENCES [dbo].[ExternalCodeTypes] ([id])
GO
ALTER TABLE [dbo].[ExternalCodes] CHECK CONSTRAINT [FK_ExternalCodes_codeTypeId]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([hcPaymentEraUploadId])
REFERENCES [dbo].[PaymentEraUpload] ([Id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([hcPaymentTypeId])
REFERENCES [dbo].[PaymentType] ([id])
GO
ALTER TABLE [dbo].[PaymentClaim]  WITH CHECK ADD FOREIGN KEY([hcPaymentId])
REFERENCES [dbo].[Payment] ([id])
GO
ALTER TABLE [dbo].[PaymentClaimAdjustment]  WITH CHECK ADD FOREIGN KEY([hcPaymentClaimId])
REFERENCES [dbo].[PaymentClaim] ([id])
GO
ALTER TABLE [dbo].[PaymentClaimAttachment]  WITH CHECK ADD FOREIGN KEY([hcPaymentClaimAttachmentTypeId])
REFERENCES [dbo].[PaymentClaimAttachmentType] ([id])
GO
ALTER TABLE [dbo].[PaymentClaimError]  WITH CHECK ADD FOREIGN KEY([hcPaymentClaimId])
REFERENCES [dbo].[PaymentClaim] ([id])
GO
ALTER TABLE [dbo].[PaymentClaimServiceLine]  WITH CHECK ADD FOREIGN KEY([hcPaymentClaimId])
REFERENCES [dbo].[PaymentClaim] ([id])
GO
ALTER TABLE [dbo].[PaymentClaimServiceLineAdjustment]  WITH CHECK ADD FOREIGN KEY([hcPaymentClaimServiceLineId])
REFERENCES [dbo].[PaymentClaimServiceLine] ([id])
GO
ALTER TABLE [dbo].[PaymentClaimServiceLineError]  WITH CHECK ADD FOREIGN KEY([hcPaymentClaimServiceLineId])
REFERENCES [dbo].[PaymentClaimServiceLine] ([id])
GO
ALTER TABLE [dbo].[PaymentError]  WITH CHECK ADD FOREIGN KEY([hcPaymentId])
REFERENCES [dbo].[Payment] ([id])
GO
ALTER TABLE [dbo].[PaymentNotes]  WITH CHECK ADD FOREIGN KEY([hcPaymentId])
REFERENCES [dbo].[Payment] ([id])
GO
/****** Object:  StoredProcedure [dbo].[GetClaimsByAccountInfoId]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetClaimsByAccountInfoId]
(
	@AccountInfoId int,     
	@Skip int, @Take int, 
	@OrderField nvarchar(40) = '',
	@OrderDir bit = null,

	@ClaimNumber nvarchar(20) = null,
	@ClaimIds nvarchar(200) = null,
	@PatientIds nvarchar(100) = null,
	@FunderIds nvarchar(100) = null,
	@BalanceFrom decimal(18,2) = null,
	@BalanceTo decimal(18,2) = null,
	@BilledFrom decimal(18,2) = null,
    @BilledTo decimal(18,2) = null,
	@PatientResponsibilityFrom int = null,
    @PatientResponsibilityTo int = null,
	@RenderingProviderIds nvarchar(100) = null,
	@StatusIds nvarchar(100) = null,
	@Tab int,
	@ShowVoided bit,
	@ValidationIds nvarchar(100) = null
)
AS
BEGIN
    SET NOCOUNT ON

	DECLARE @ShowWithNoErrorsIndicator INT = 99;

	SELECT DISTINCT   
			[c].[Id] as Id,
			[c].[ClaimIdentifier] as ClaimNumber,
			COALESCE([c].[authorizationNumber], 'N/A') as AuthorizationNumber,
			[c].[childProfileId] as ChildProfileId,
			[c].[hcChildProfileAuthorizationId] as ChildProfileAuthorizationId,
			[c].[hcLocationCodeId] as LocationCodeId,
			[c].[startDate] as DateOfServiceStart,
			[c].[endDate] as DateOfServiceEnd,
			[renderingProviderSearchClaim].[id] as RenderingProviderId,
			[cce3].[Charges] as BilledAmount,
			ISNULL([cce3].[Charges], 0) as ExpectedAmount,
			ISNULL([calcNew].[patientRespAmount], 0) as  PatientResponsibilityAmount,
			ISNULL([calcNew].[totalPayment], 0) as PaymentAmount,
			ISNULL([cce3].[Charges], 0) - ISNULL([calcNew].[totalPayment], 0) + ISNULL([calc].Adjustment,0) - ISNULL([calcNew].[patientRespAmount], 0) as BalanceAmount,
			ISNULL([calc].Adjustment,0) as AdjustmentAmount,
			[c].[hcClaimStatusId] as Status,
			[cs].[name] as ClaimStatusName,
			[csub].[hcClaimSubmissionId],
			[csub].[claimSubmissionIdentifier],
			[csub].[documentTypeId],
			[csub].[submissionTypeId],
			[csub].[frequencyTypeId],
			[csub].[submissionStatusId],
			[csub].[submissionStatusName],
			[csub].[SubmitDate],
			[funderSearchClaim].[id] as FunderId,
			COALESCE([clientSearchClaim].[name], '') as PatientName,
			[cvec].[ErrorsCount],
			[cvec].[WarningsCount],
			CAST(CEILING(CAST([cce3].[NoOfCharges] as float)/6) as int) as [CMSPagesCount], -- For CMS1500 (Max. 6 charges allowed per CMS1500)
			COALESCE([locationCodes].[Name], '') as PlaceOfService,
			[c].[clientFunderId] as ChildProfileFunderId,
			[funderSearchClaim].[name] as FunderName,
			[renderingProviderSearchClaim].[name] AS RenderingProviderName,
			CAST(CASE 
					WHEN [cn].[hcClaimId] IS NOT NULL THEN 1 
					ELSE 0 end as BIT) AS HasNote
			,c.billedDate AS BilledDate
	into #temp
	
	FROM [dbo].[Claims] as [c]
	LEFT JOIN (SELECT [hcClaimId] FROM [ClaimNotes]) cn ON [c].[id] = [cn].[hcClaimId]
	LEFT JOIN [ClaimChargeEntries] AS [cce] ON [c].[id] = [cce].[hcClaimId]
	LEFT JOIN [ClaimAppointmentLink] as [cal] ON [c].[id] = [cal].[hcClaimId]
	LEFT JOIN [ClaimStatus] as [cs] ON [c].[hcClaimStatusId] = [cs].[id]
	LEFT JOIN (SELECT [cce2].[hcClaimId],
				SUM([cce2].[Charges]) AS Charges,
				COUNT([cce2].[Id]) AS NoOfCharges,
				MIN([cce2].[DateOfService]) as DateOfServiceStart,
				MAX([cce2].[DateOfService]) as DateOfServiceEnd
				FROM [ClaimChargeEntries] AS cce2
				where [cce2].[DateDeleted] is null
				GROUP BY [cce2].[hcClaimId]
				) cce3 ON [c].[Id] = [cce3].[hcClaimId]

	LEFT JOIN(
		SELECT DISTINCT pc.hcClaimId,
		SUM(pcladj.adjustmentAmount) as Adjustment	
		FROM [dbo].[Paymentclaim] pc 
		INNER JOIN 
		[dbo].[PaymentClaimServiceLine] pcsl ON pc.id = pcsl.hcPaymentClaimId
		LEFT JOIN 
		[dbo].[PaymentClaimServiceLineAdjustment] pcladj ON pcsl.id = pcladj.hcPaymentClaimServiceLineId
		where pc.dateDeleted is null and pcladj.dateDeleted is null and pcladj.adjustmentGroupCode != 'PR'
		GROUP by pc.hcClaimId
	) AS  calc on calc.hcClaimId=c.Id

	LEFT JOIN(
		SELECT DISTINCT 
		pc.hcClaimId,
		MAX(COALESCE(pc.totalPayment, 0)) AS totalPayment
		,SUM(COALESCE(pc.patientRespAmount, 0)) AS patientRespAmount	
		from [dbo].[Paymentclaim] pc
		GROUP by pc.hcClaimId
	) AS calcNew on calcNew.hcClaimId=c.Id 

    LEFT JOIN (
        SELECT 
            cs.Id AS hcClaimSubmissionId,
            cs.hcClaimId,
            cs.hcFunderId,
            cs.claimSubmissionIdentifier,
            cs.documentTypeId,
            cs.submissionTypeId,
            cs.frequencyTypeId,
            cs.submissionStatusId,
            css.Name AS submissionStatusName,
            cs.SubmitDate
        FROM ClaimSubmissions cs
        LEFT JOIN ClaimSubmissionStatus css on css.Id = cs.submissionStatusId
        JOIN (
            SELECT hcClaimId, MAX(Id) LatestSubmissionId
            FROM dbo.ClaimSubmissions 
            WHERE dateDeleted is null
            GROUP BY hcClaimId
            ) AS csl on csl.LatestSubmissionId = cs.Id
        ) csub on csub.hcClaimId = c.Id
		LEFT JOIN ClaimSearchClients clientSearchClaim on clientSearchClaim.id = c.childProfileId
		LEFT JOIN ClaimSearchChildProfileAuthorizations childProfileAuths on childProfileAuths.id = c.hcChildProfileAuthorizationId and childProfileAuths.dateDeleted is null
		LEFT JOIN ClaimSearchFunders funderSearchClaim on funderSearchClaim.id = (select top 1 id from [ClaimSearchFunders] where id in ([csub].[hcFunderId], [c].[lastBilledFunderId], [childProfileAuths].[funderId]))
		LEFT JOIN ClaimSearchRenderingProviders renderingProviderSearchClaim on renderingProviderSearchClaim.id = 
		-- ADDED BY CHETAN TO RESOLVE BLANK RENDERING PROVIDER ISSUE ON DASHBOARD
		(case when c.renderingStaffMemberId = -2 then c.tblMemberId when c.renderingStaffMemberId is null then c.tblMemberId else c.renderingStaffMemberId end) and renderingProviderSearchClaim.dateDeleted is null
		LEFT JOIN ClaimSearchLocations locationCodes on locationCodes.Id = c.hcLocationCodeId and locationCodes.dateDeleted is null
		LEFT JOIN [dbo].[ClaimValidationErrors] cve on cve.claimId = c.id
		LEFT JOIN [dbo].[ClaimErrorMessages] cem on cem.id = cve.claimErrorMessageId
		LEFT JOIN (
			SELECT hcClaimId, [2] as ErrorsCount, [3] as WarningsCount FROM (SELECT cv.claimId as ClaimId, cer.severity, cv.claimId as hcClaimId
				FROM [dbo].[ClaimValidationErrors] cv
				LEFT JOIN [dbo].[ClaimErrorMessages] as cer on cer.id = cv.claimErrorMessageId
				WHERE cv.dateDeleted is null AND cv.claimId is not null
			) st
			PIVOT
			(
				count(ClaimId)
				FOR severity in ([2], [3])
			) pvt
		) cvec on cvec.hcClaimId = c.id
	WHERE ([c].[AccountInfoId] = @AccountInfoId) AND [c].[DateDeleted] IS NULL AND
	((@Tab = 1 AND [c].[hcClaimStatusId] = 1 AND [c].[isFlagged] = 0 OR 
	(@Tab = 2 AND ([c].[hcClaimStatusId] = 2 OR [c].[hcClaimStatusId] = 7 OR [c].[hcClaimStatusId] = 10 OR [c].[hcClaimStatusId] = 11 OR [c].[hcClaimStatusId] = 14) AND [c].[isFlagged] = 0) OR
	(@Tab = 3 AND ([c].[hcClaimStatusId] = 3 OR [c].[hcClaimStatusId] = 4 OR [c].[hcClaimStatusId] = 12) AND [c].[isFlagged] = 0) OR
	(@Tab = 4 AND ((@ShowVoided = 1 AND [c].[hcClaimStatusId] = 2) OR [c].[hcClaimStatusId] = 6 OR [c].[hcClaimStatusId] = 13) AND [c].[isFlagged] = 0) OR
	(@Tab = 5 AND ([c].[hcClaimStatusId] = 8 OR [c].[hcClaimStatusId] = 9) AND [c].[isFlagged] = 0) OR
	(@Tab = 6 AND ([c].[hcClaimStatusId] = 5) AND [c].[isFlagged] = 0) OR
	(@Tab = 7 AND ([c].[isFlagged] = 1))))
		AND [c].[ClaimIdentifier] LIKE CASE WHEN @ClaimNumber IS NOT NULL THEN @ClaimNumber + '%' ELSE '%' END

	AND (@PatientIds is null OR @PatientIds = '' OR [clientSearchClaim].[id] in (select * from STRING_SPLIT(@PatientIds, ',')))

	AND (@ClaimIds is null OR @ClaimIds = '' OR [c].[id] in (select * from STRING_SPLIT(@ClaimIds, ',')))

	AND (@FunderIds is null OR @FunderIds = '' OR [funderSearchClaim].[id] in (select * from STRING_SPLIT(@FunderIds, ',')))

	AND (@RenderingProviderIds is null OR @RenderingProviderIds = '' OR [renderingProviderSearchClaim].[id] in (select * from STRING_SPLIT(@RenderingProviderIds, ',')))

	AND (@BalanceFrom IS NULL OR @BalanceFrom <= ISNULL([cce3].[Charges], 0) - ISNULL([calcNew].[totalPayment], 0) + ISNULL([calc].Adjustment,0) - ISNULL([calcNew].[patientRespAmount], 0))												 

	AND (@BalanceTo IS NULL OR @BalanceTo >= ISNULL([cce3].[Charges], 0) - ISNULL([calcNew].[totalPayment], 0)+ ISNULL([calc].Adjustment,0) - ISNULL([calcNew].[patientRespAmount], 0))

	AND (@PatientResponsibilityFrom IS NULL OR @PatientResponsibilityFrom <= ISNULL([calcNew].[patientRespAmount], 0))
    AND (@PatientResponsibilityTo IS NULL OR @PatientResponsibilityTo >= ISNULL([calcNew].[patientRespAmount], 0))

	AND (@BilledFrom IS NULL OR @BilledFrom <= [cce3].[Charges])
    AND (@BilledTo IS NULL OR @BilledTo >= [cce3].[Charges])

	AND (@StatusIds IS NULL OR @StatusIds = '' OR [c].[hcClaimStatusId] IN (SELECT * FROM STRING_SPLIT(@StatusIds, ',')))

	AND (@ValidationIds IS NULL OR @ValidationIds = '' OR cem.severity IN
		(SELECT * FROM STRING_SPLIT(@ValidationIds, ',')) OR
			(cvec.WarningsCount IS NULL AND cvec.ErrorsCount IS NULL AND @ShowWithNoErrorsIndicator IN
				(SELECT * FROM STRING_SPLIT(@ValidationIds, ','))
		    )
		)

	select *, COUNT(*) OVER () as totalCount from #temp as c
		order by  
		case when @OrderField = 'claimNumber' and @OrderDir = 0 then c.ClaimNumber end asc,
		case when @OrderField = 'claimNumber' and @OrderDir = 1 then c.ClaimNumber end desc,
				
		case when @OrderField = 'DateOfServiceStart' and @OrderDir = 0 then c.DateOfServiceStart end asc,
		case when @OrderField = 'DateOfServiceStart' and @OrderDir = 1 then c.DateOfServiceStart end desc,
		
		case when @OrderField = 'DateOfServiceEnd' and @OrderDir = 0 then c.DateOfServiceEnd end asc,
		case when @OrderField = 'DateOfServiceEnd' and @OrderDir = 1 then c.DateOfServiceEnd end desc,
		
		case when @OrderField = 'BilledAmount' and @OrderDir = 0 then c.BilledAmount end asc,
		case when @OrderField = 'BilledAmount' and @OrderDir = 1 then c.BilledAmount end desc,
		
		case when @OrderField = 'PatientResponsibilityAmount' and @OrderDir = 0 then c.PatientResponsibilityAmount end asc,
		case when @OrderField = 'PatientResponsibilityAmount' and @OrderDir = 1 then c.PatientResponsibilityAmount end desc,
		
		case when @OrderField = 'ExpectedAmount' and @OrderDir = 0 then c.ExpectedAmount end asc,
		case when @OrderField = 'ExpectedAmount' and @OrderDir = 1 then c.ExpectedAmount end desc,
		
		case when @OrderField = 'PaymentAmount' and @OrderDir = 0 then c.PaymentAmount end asc,
		case when @OrderField = 'PaymentAmount' and @OrderDir = 1 then c.PaymentAmount end desc,
				
		case when @OrderField = 'BalanceAmount' and @OrderDir = 0 then c.BalanceAmount end asc,
		case when @OrderField = 'BalanceAmount' and @OrderDir = 1 then c.BalanceAmount end desc,
				
		case when @OrderField = 'Status' and @OrderDir = 0 then c.Status end asc,
		case when @OrderField = 'Status' and @OrderDir = 1 then c.Status end desc,

		case when @OrderField = 'PatientName' and @OrderDir = 0 then c.patientName end asc,
		case when @OrderField = 'PatientName' and @OrderDir = 1 then c.patientName end desc,
		
		case when @OrderField = 'FunderName' and @OrderDir = 0 then c.funderName end asc,
		case when @OrderField = 'FunderName' and @OrderDir = 1 then c.funderName end desc,

		case when @OrderField = 'AuthorizationNumber' and @OrderDir = 0 then c.AuthorizationNumber end asc,
		case when @OrderField = 'AuthorizationNumber' and @OrderDir = 1 then c.AuthorizationNumber end desc,

		case when @OrderField = 'PlaceOfService' and @OrderDir = 0 then c.PlaceOfService end asc,
		case when @OrderField = 'PlaceOfService' and @OrderDir = 1 then c.PlaceOfService end desc,

		case when @OrderField = 'RenderingProviderName' and @OrderDir = 0 then c.RenderingProviderName end asc,
		case when @OrderField = 'RenderingProviderName' and @OrderDir = 1 then c.RenderingProviderName end desc

	offset @Skip rows
	fetch next @Take rows only

	drop table #temp
END
GO
/****** Object:  StoredProcedure [dbo].[GetClaimsCount]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetClaimsCount]
(
	@AccountInfoId INT,
	@ClaimNumber NVARCHAR(20) = null,
	@ShowVoided BIT
)
AS
BEGIN
    SET NOCOUNT ON
		
    SELECT DISTINCT   
            [c].[Id] AS Id,
			[c].claimIdentifier AS ClaimNumber
	INTO #temp
	
    FROM [Claims] AS [c]
    LEFT JOIN [ClaimChargeEntries] AS [cce] ON [c].[id] = [cce].[hcClaimId]
	WHERE ([c].[AccountInfoId] = @AccountInfoId) AND [c].[DateDeleted] IS NULL
	AND [c].[ClaimIdentifier] LIKE CASE WHEN @ClaimNumber IS NOT NULL THEN @ClaimNumber + '%' ELSE '%' END

	SELECT 
		COUNT (CASE WHEN claim.[hcClaimStatusId] = 1 AND claim.[isFlagged] = 0 THEN 1 END) AS PendingReviewTotalCount,
		COUNT (CASE WHEN (claim.[hcClaimStatusId] = 2 OR claim.[hcClaimStatusId] = 7 OR claim.[hcClaimStatusId] = 10 OR claim.[hcClaimStatusId] = 11) AND claim.[isFlagged] = 0 THEN 1 END) AS ReadyToBillTotalCount,
		COUNT (CASE WHEN (claim.[hcClaimStatusId] = 3 OR claim.[hcClaimStatusId] = 4 OR claim.[hcClaimStatusId] = 12) AND claim.[isFlagged] = 0 THEN 1 END) AS BillingPendingTotalCount,
		COUNT (CASE WHEN ((@ShowVoided = 1 AND claim.[hcClaimStatusId] = 2) OR claim.[hcClaimStatusId] = 6) AND claim.[isFlagged] = 0 THEN 1 END) AS ClosedTotalCount,
		COUNT (CASE WHEN (claim.[hcClaimStatusId] = 8 OR claim.[hcClaimStatusId] = 9) AND claim.[isFlagged] = 0 THEN 1 END) AS RejectedTotalCount,
		COUNT (CASE WHEN (claim.[hcClaimStatusId] = 5) AND claim.[isFlagged] = 0 THEN 1 END) AS DeniedTotalCount,
		COUNT (CASE WHEN claim.[isFlagged] = 1 THEN 1 END) AS FlaggedTotalCount	
	FROM #temp t
	LEFT JOIN Claims AS claim ON claim.id = t.Id

	DROP TABLE #temp
END
GO
/****** Object:  StoredProcedure [dbo].[GetClaimsDetailsForValidation]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC GetClaimsDetailsForValidation 637165
CREATE PROCEDURE [dbo].[GetClaimsDetailsForValidation]
(
	@ClaimId		int=0
)
AS
BEGIN
    SET NOCOUNT ON

	Select 
	top 1
	hcClaimId as ClaimId,
	'P' as subscriber_paymentResponsibilityLevelCode,
	'P' as dependent_paymentResponsibilityLevelCode,
	'BillingProvider' as BillingProvider_ProviderType,
	locationBillingProviderNpiNumber as BillingProvider_NPI,
	accountBillingProviderName as BillingProvider_organizationName,
	locationBillingProviderAddress1 as BillingProvider_address1,
	locationBillingProviderAddress2 as BillingProvider_address2,
	locationBillingProviderCity as BillingProvider_city,
	locationBillingProviderState as BillingProvider_state,
	locationBillingProviderZip  as BillingProvider_postalcode,
	'ReferringProvider' as ReferringProvider_ProviderType,
	referringProviderNpiNumber as RefferingProvider_NPI,
	referringProviderFirstName as RefferingProvider_firstName,
	referringProviderLastName as RefferingProvider_lastName,
	'RenderingProvider' as RenderingProvider_ProviderType,
	renderingProviderStaffNpiNumber as RenderingProvider_NPI,
	renderingProviderStaffFirstName as RenderingProvider_firstName,
	renderingProviderStaffLastName as RenderingProvider_lastName,
	renderingProviderStaffMiddleName as RenderingProvider_middleName,
	serviceLocationName as servicefacility_organizationName,
	serviceLocationAddress1 as servicefacility_address1,
	serviceLocationAddress2 as servicefacility_address2,
	serviceLocationCity as servicefacility_city,
	serviceLocationState as servicefacility_state,
	serviceLocationZip as servicefacility_postalcode,
	'HC' as ProcedureIdentifier,
	'UN' as MeasurementUnit
	from ClaimSubmissions
	Where hcClaimId= @ClaimId
	order by submitDate desc
END
GO
/****** Object:  StoredProcedure [dbo].[GetClaimsForClearinghouseSubmission]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetClaimsForClearinghouseSubmission]
AS
BEGIN
    SET NOCOUNT ON
		
    SELECT
    c.id,
    c.AccountInfoId,
    c.tblMemberId as MemberId,
    c.FrequencyTypeId,
    c.hcClaimStatusId as ClaimStatus,
    csub.hcClaimSubmissionId as PendingClaimSubmissionId
    FROM Claims c
    LEFT JOIN (
      SELECT cs.Id AS hcClaimSubmissionId, cs.hcClaimId
      FROM ClaimSubmissions cs
      JOIN(
          SELECT hcClaimId, submissionStatusId, MAX(Id) LatestSubmissionId
          FROM ClaimSubmissions
          WHERE submissionStatusId IN (1, 9) AND dateDeleted IS NULL
          GROUP BY hcClaimId, submissionStatusId
          ) AS csl on csl.LatestSubmissionId = cs.Id
      ) csub on csub.hcClaimId = c.Id
    WHERE c.hcClaimStatusId IN (2, 7, 10, 11) AND csub.hcClaimSubmissionId IS NOT NULL AND c.dateDeleted IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[GetClaimsFundersFilters]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetClaimsFundersFilters] --EXEC [dbo].[GetClaimsFundersFilters] 18421, 1
(
	@AccountInfoId int,
	@Tab int
)
AS
BEGIN
    SET NOCOUNT ON

	SELECT funderSearch.id, funderSearch.name FROM [dbo].[Claims] as [c]
	LEFT JOIN (
        SELECT 
            cs.Id AS hcClaimSubmissionId,
            cs.hcClaimId,
            cs.hcFunderId,
            cs.SubmitDate
        FROM ClaimSubmissions cs
        JOIN (
            SELECT hcClaimId, MAX(Id) LatestSubmissionId
            FROM ClaimSubmissions 
            WHERE dateDeleted is null
            GROUP BY hcClaimId
            ) AS csl on csl.LatestSubmissionId = cs.Id
        ) csub on csub.hcClaimId = c.Id
	LEFT JOIN ClaimSearchChildProfileAuthorizations childProfileAuths on childProfileAuths.id = c.hcChildProfileAuthorizationId and childProfileAuths.dateDeleted is null
	LEFT JOIN ClaimSearchFunders funderSearch on funderSearch.id = (select top 1 id from [ClaimSearchFunders] where id in ([csub].[hcFunderId], [c].[lastBilledFunderId], [childProfileAuths].[funderId]) and dateDeleted is null)
	WHERE 
		[c].[AccountInfoId] = @AccountInfoId
		AND [c].[DateDeleted] IS NULL
		AND [c].[claimIdentifier] IS NOT NULL
		AND --[c].[renderingStaffMemberId] IS NOT NULL AND
		((@Tab = 1 AND ([c].[hcClaimStatusId] = 1 AND [c].[isFlagged] = 0)) OR 
		(@Tab = 2 AND ([c].[hcClaimStatusId] = 2 OR [c].[hcClaimStatusId] = 7 OR [c].[hcClaimStatusId] = 10 OR [c].[hcClaimStatusId] = 11) AND [c].[isFlagged] = 0) OR
		(@Tab = 3 AND ([c].[hcClaimStatusId] = 3 OR [c].[hcClaimStatusId] = 4 OR [c].[hcClaimStatusId] = 12) AND [c].[isFlagged] = 0) OR
		(@Tab = 4 AND ([c].[hcClaimStatusId] = 2 OR [c].[hcClaimStatusId] = 6) AND [c].[isFlagged] = 0) OR
		(@Tab = 5 AND ([c].[hcClaimStatusId] = 8 OR [c].[hcClaimStatusId] = 9) AND [c].[isFlagged] = 0) OR
		(@Tab = 6 AND ([c].[hcClaimStatusId] = 5) AND [c].[isFlagged] = 0) OR
		(@Tab = 7 AND ([c].[isFlagged] = 1)))
	GROUP BY funderSearch.id, funderSearch.name
	ORDER BY funderSearch.name 
END
GO
/****** Object:  StoredProcedure [dbo].[GetClaimsPatientsFilters]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetClaimsPatientsFilters] --EXEC [dbo].[GetClaimsPatientsFilters] 18421, 1
(
    @AccountInfoId int,
	@Tab int
)
AS
BEGIN
    SET NOCOUNT ON

    SELECT [clientSearchClaim].[id], [clientSearchClaim].[name]
	FROM [dbo].[Claims] as [c]
		LEFT JOIN ClaimSearchClients clientSearchClaim on clientSearchClaim.id = c.childProfileId
	WHERE 
		[c].[AccountInfoId] = @AccountInfoId
		AND [c].[DateDeleted] IS NULL
		AND --[c].[renderingStaffMemberId] IS NOT NULL AND
		((@Tab = 1 AND ([c].[hcClaimStatusId] = 1 AND [c].[isFlagged] = 0)) OR 
		(@Tab = 2 AND ([c].[hcClaimStatusId] = 2 OR [c].[hcClaimStatusId] = 7 OR [c].[hcClaimStatusId] = 10 OR [c].[hcClaimStatusId] = 11) AND [c].[isFlagged] = 0) OR
		(@Tab = 3 AND ([c].[hcClaimStatusId] = 3 OR [c].[hcClaimStatusId] = 4 OR [c].[hcClaimStatusId] = 12) AND [c].[isFlagged] = 0) OR
		(@Tab = 4 AND ([c].[hcClaimStatusId] = 2 OR [c].[hcClaimStatusId] = 6) AND [c].[isFlagged] = 0) OR
		(@Tab = 5 AND ([c].[hcClaimStatusId] = 8 OR [c].[hcClaimStatusId] = 9) AND [c].[isFlagged] = 0) OR
		(@Tab = 6 AND ([c].[hcClaimStatusId] = 5) AND [c].[isFlagged] = 0) OR
		(@Tab = 7 AND ([c].[isFlagged] = 1)))
	GROUP BY [clientSearchClaim].[id], [clientSearchClaim].[name]
	ORDER BY [clientSearchClaim].[name]
END
GO
/****** Object:  StoredProcedure [dbo].[GetClaimsRPFilters]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetClaimsRPFilters]
(
	@AccountInfoId int,
	@Tab int
)
AS
BEGIN
    SET NOCOUNT ON

    SELECT [rpSearch].[id], [rpSearch].[name]
	FROM [dbo].[Claims] as [c]
		LEFT JOIN ClaimSearchRenderingProviders rpSearch on rpSearch.id = (case c.renderingStaffMemberId when -2 then c.tblMemberId else c.renderingStaffMemberId end) and rpSearch.dateDeleted is null
	WHERE 
		[c].[AccountInfoId] = @AccountInfoId
		AND [c].[DateDeleted] IS NULL
		AND [c].[claimIdentifier] IS NOT NULL
		AND --[c].[renderingStaffMemberId] IS NOT NULL AND
		((@Tab = 1 AND ([c].[hcClaimStatusId] = 1 AND [c].[isFlagged] = 0)) OR 
		(@Tab = 2 AND ([c].[hcClaimStatusId] = 2 OR [c].[hcClaimStatusId] = 7 OR [c].[hcClaimStatusId] = 10 OR [c].[hcClaimStatusId] = 11) AND [c].[isFlagged] = 0) OR
		(@Tab = 3 AND ([c].[hcClaimStatusId] = 3 OR [c].[hcClaimStatusId] = 4 OR [c].[hcClaimStatusId] = 12) AND [c].[isFlagged] = 0) OR
		(@Tab = 4 AND ([c].[hcClaimStatusId] = 2 OR [c].[hcClaimStatusId] = 6) AND [c].[isFlagged] = 0) OR
		(@Tab = 5 AND ([c].[hcClaimStatusId] = 8 OR [c].[hcClaimStatusId] = 9) AND [c].[isFlagged] = 0) OR
		(@Tab = 6 AND ([c].[hcClaimStatusId] = 5) AND [c].[isFlagged] = 0) OR
		(@Tab = 7 AND ([c].[isFlagged] = 1)))
	GROUP BY [rpSearch].[id], [rpSearch].[name]
	ORDER BY [rpSearch].[name]
END
GO
/****** Object:  StoredProcedure [dbo].[GetPatientPaymentClaimsByPaymentId]    Script Date: 6/6/2024 10:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Mikita Yakhant>
-- Create Date: <01/15/2021>
-- Modified Date: <01/27/2021>
-- Description: <Get patient claims by payment id and group it by patients>
-- =============================================
CREATE PROCEDURE [dbo].[GetPatientPaymentClaimsByPaymentId]
(
     @PaymentId int, @ActiveOnly bit, 
	 @ShowPaid bit = null,
	 @Skip int, @Take int, 
	 @OrderField nvarchar(20) = '',
	 @OrderDir bit = null
)
AS
BEGIN
    SET NOCOUNT ON

	select pc.childProfileId as patientId,
	RTRIM(LTRIM(
        CONCAT(
                COALESCE(pc.clientFirstName + ' ', '')
            , COALESCE(pc.clientMiddleName + ' ', '')
            , COALESCE(pc.clientLastName, '')
            )
		)) as patientName, 
		SUM(COALESCE(pca.adjPRAmount, 0)) as PatientResponsibility,
		SUM(COALESCE(pc.totalPayment, 0)) as paidAmount,
		SUM(COALESCE(pc.totalPayment, 0)) as totalPayment, SUM(COALESCE(pc.totalCharge, 0)) as totalCharge, SUM(pca.adjAmount) as adjAmount,
		[rn] = ROW_NUMBER() over (partition by pc.id order by pcsl.id)
	into #prepared_data
	from PaymentClaim pc
		left join (select id, hcPaymentClaimId from PaymentClaimServiceLine ipcsl
			where @ActiveOnly = cast(case when ipcsl.dateDeleted is NULL then 1 else 0 end as bit)) pcsl
				on pcsl.hcPaymentClaimId = pc.id
		left join (
			select hcPaymentClaimServiceLineId, 
				Sum(COALESCE((CASE WHEN adjustmentGroupCode != 'PR' THEN ipca.adjustmentAmount else 0 end), 0)) as adjAmount,
				Sum(COALESCE((CASE WHEN adjustmentGroupCode = 'PR' THEN ipca.adjustmentAmount else 0 end), 0 )) as adjPRAmount 
			from PaymentClaimServiceLineAdjustment ipca
			where @ActiveOnly = case when ipca.dateDeleted is NULL then 1 else 0 end
			group by ipca.hcPaymentClaimServiceLineId) pca
			on pca.hcPaymentClaimServiceLineId = pcsl.id
	where (@ActiveOnly = cast(case when pc.dateDeleted is NULL then 1 else 0 end as bit))
		and pc.hcPaymentId = @PaymentId
	group by pc.childProfileId, pc.clientFirstName, pc.clientMiddleName, pc.clientLastName, pc.id, pcsl.id


	select pd.patientId, pd.patientName, sum(pd.PatientResponsibility) as PatientResponsibility,
	sum(case when pd.rn > 1 then 0 else COALESCE(pd.paidAmount, 0) end) as paidAmount,
	[balance] = sum(case when pd.rn > 1 then 0 else COALESCE(pd.totalCharge, 0) end) - sum(COALESCE(pd.adjAmount, 0)), COUNT(*) OVER () as totalCount
	from #prepared_data pd
	group by pd.patientId, pd.patientName
	order by 
		case when @OrderField = 'patientName' and @OrderDir = 0 then pd.patientName end asc,
		case when @OrderField = 'patientName' and @OrderDir = 1 then pd.patientName end desc,

		case when @OrderField = 'patientResponsibility' and @OrderDir = 0 then pd.patientName end asc,
		case when @OrderField = 'patientResponsibility' and @OrderDir = 1 then pd.patientName end desc,

		case when @OrderField = 'paidAmount' and @OrderDir = 0 then pd.patientName end asc,
		case when @OrderField = 'paidAmount' and @OrderDir = 1 then pd.patientName end desc,

		case when @OrderField = 'balance' and @OrderDir = 0 then pd.patientName end asc,
		case when @OrderField = 'balance' and @OrderDir = 1 then pd.patientName end desc

	offset @Skip rows
	fetch next @Take rows only

	drop table #prepared_data
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO

COMMIT TRANSACTION
GO

DECLARE @Success AS BIT
SET @Success=1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'Database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed. ROLLBACK TRANSACTION'
END
GO