<kendo-popup #popup [anchor]="anchor" class="print-popup">
    <div class="mb-2 selector-list">
        <ng-template [ngIf]="!this.isPatientInvoiceComponent" [ngIfElse]="elseBlock">
            <div class="option-item" (click)="print()">
                <span class="ml-2">Print</span>
            </div>
            <div class="option-item" (click)="printMarkAsBilledOrSubmitted()" *ngIf="canSubmitClaim">
                <span class="ml-2">Print & Mark as Billed</span>
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <div class="option-item" (click)="print()">
                <span class="ml-2">Print Preview</span>
            </div>
            <div class="option-item" (click)="printMarkAsBilledOrSubmitted()" *ngIf="canSubmitInvoice">
                <span class="ml-2">Print & Mark as Submitted</span>
            </div>
        </ng-template>
        
    </div>
</kendo-popup>