
.title {
    margin: 17px 10px 4px;
    color: black;
    min-height: 30px;
}

.icon-24 {
    background-color: var(--Black-88);
}

.div-border {
    border: 1px solid var(--Black-88);
}

.header {
    padding: 20px 44px 0;
    color: black;
}

    .header .head {
        padding: 12px;
    }

    .header .bottom {
        margin: 12px;
    }

    .header .total {
        margin: 9px 0px 0px 0px;
    }

.payment-info {
    border-right: none;
    height: 100%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}


.flex-column-1 {
    flex: 1;
}

.flex-column-0-1 {
    flex: 0 1 50%;
    flex-flow: wrap;
}

.inline-grid {
    display: inline-grid;
}

.dark {
    margin: 0;
    background-color: var(--White-220);
}

    .dark .w-50,
    .dark .w-100 {
        padding: 10px 12px;
    }

    .dark .b-l {
        border-left: 1px solid var(--Black-88);
    }

    .dark .b-t {
        border-top: 1px solid var(--Black-88);
    }

    .dark .group {
        display: flex;
        flex-direction: column;
    }

        .dark .group .value {
            text-align: start;
        }

.name-group .value {
    margin: 9px 0 4px 0;
}


.claim-title-identifier {
    color: black !important;
}

.claim-container {
    color: black;
    margin: 24px 10px;
    padding: 24px 32px 36px 32px;
}

    .claim-container .claim-title {
        margin-bottom: 18px;
    }

    .claim-container .claim-title-identifier {
        color: var(--Blue-80);
    }

    .claim-container .col-wrap {
        display: flex;
        margin: 0 0px 20px;
    }

    .claim-container .col-h {
        width: 33.33%;
        margin: 0;
        background: var(--White-220);
        border: 1px solid var(--Black-88);
        box-sizing: border-box;
        padding: 16px 20px;
    }
    
    .claim-container .col-h:not(:first-child){
        border-left: none;
    }

    .claim-container .group {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
    }

.title-phone,
.title-email {
    margin: auto 12px;
}

.adjustments-grid {
    border-radius: 2px;
    border-color: var(--Black-88);
}

.adjustments-grid ::ng-deep.k-grid-header ::ng-deep th{
    font-weight: bold;
}

.adjustments-grid ::ng-deep tr{
    background-color: var(--White-220);
}


