<div>
    <div class="legend" style="display: flex">
        <a class="back chevron-left-icon" [routerLink]="['/billing/paymentposting/list']"></a>
        <div style="margin: auto 0;width: 100%">
            <div>
                <div style="margin-left: 0px;">
                <header-toolbar class="header-position" 
                [headerTitle]="'Payment Posting'" 
                [isProfileShow]="false"
                [isBackBtnShow]="false"
                [breadcrumbs]="breadcrumbs">
                </header-toolbar>
                    <!-- <div class="header-wrapper">
                        <div class="Header-2" style="margin-left:13px;">{{paymentHeaderID}}</div>
                        <span class="status small-12bld status-name-alignment" [ngClass]="'status-name ' + status.toLowerCase()">{{status}}</span>
                    </div> -->
                </div>
                <div *ngIf="showNotification" id="notification-content" class="col align-self-center" style="width: calc(50% + 40px)">
                    <notify-component [notificationText]="notificationText" [type]="notificationType"></notify-component>
                </div>
                <div *ngIf="isManual" style="margin: auto 0;">
                    <div class="manual-payment-post-buttons flex-end-css">
                        <outlined-btn text="Back" (onClick)="cancelPostPaymentLines()"></outlined-btn>
                        <!-- <contained-btn text="Post" [isDisabled]="postBtnDisabled" 
                                       (onClick)="postPaymentLines()">
                        </contained-btn> -->
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <mat-tab-group mat-align-tabs="start" disableRipple (selectedTabChange)="selectedTabChanged($event)">
        <mat-tab label="Payment Details">
            <div *ngIf="data?.isPatientType || data?.isOtherType">
                <manual-payment-patient-details  [postPaymentLinesEvent]="this.postPaymentLinesEvent.asObservable()"
                                                [paymentShortInfo]="data" (zeroOpenClaimsNotify)="zeroCreatedClaimsNotify()"
                                                (updateStatus)="loadPaymentShortInfo($event)"
                                                (postBtnDisabled)="postBtnDisabled = $event">
                </manual-payment-patient-details>
            </div>
            <div *ngIf="data?.isInsuranceType">
                <payment-details [payment]="data" (updateStatus)="loadPaymentShortInfo($event)"></payment-details>
            </div>
        </mat-tab>
        <div *ngIf="!isManual">
            <mat-tab label="EOB Details"><EOB-details></EOB-details></mat-tab>
            <!-- <mat-tab label="Errors">
                <ng-template mat-tab-label>
                    <span>Errors</span>
                    <span *ngIf="errors > 0" class="errors-count">{{errors}}</span>
                </ng-template>
                <errors></errors>
            </mat-tab> -->
        </div>
        <mat-tab label="Attachments"><attachments [isPatient]="processAsPatientType" [paymentIdentifier]="data?.paymentIdentifier"></attachments></mat-tab>
    </mat-tab-group>
</div>
