<div class="title">
  <span class="title-icon icon-24 file-document-icon"></span>
  <div class="title-text">Claim Notes</div>
</div>
<div class="body flex-column justify-content-between" style="display: inline-flex;">
  <div>
    <div class="summary mb-4">
      <div>
        <img *ngIf="(patient$ | async)?.patientLogoUrl as logoUri" [src]="logoUri" />
      </div>
      <div>
        <span class="summary-title">{{claim.clientFirst}}</span> &nbsp;
        <span class="summary-title">{{claim.clientLast}}</span>
        <div class="summary-group small-12reg">
          <label>Date Of Service</label>{{claim.dateOfService | date: "MM/dd/yyyy"}}
        </div>
      </div>
    </div>

    <div class="notes-list">
      <mat-tab-group mat-align-tabs="left" disableRipple (selectedTabChange)="activeTabChanged($event)">

        <mat-tab label="Active">
          <div class="note" [hidden]="!active">
            <div class="note-details">
              <p><strong>Created By:</strong> {{ claim.noteCreatedByName }} </p>
              <p><strong>Create Date:</strong> {{ claim.noteCreatedDate }}</p>
              <p><strong>Follow-up Date:</strong> {{ claim.followUpDate }}</p>
              <p class="description" [title]="claim.note">
                <strong>Description:</strong>
                <nline-text [text]="claim.note" [nlines]="3" textClass="Body2"></nline-text>
              </p>
            </div>            
            <div class="note-action">
              <button *ngIf="canEdit" kendoTooltip title="Mark as Complete" class="icon-24 note-completed" aria-label="Mark as completed" (click)="markCompleted(claim)">
              </button>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Completed">
          <div class="note" [hidden]="active">
            <div class="note-details">
              <p><strong>Created By:</strong> {{ claim.noteCreatedByName }} </p>
              <p><strong>Create Date:</strong> {{ claim.noteCreatedDate }}</p>
              <p><strong>Follow-up Date:</strong> {{ claim.followUpDate }}</p>
              <p class="description" [title]="claim.note">
                <strong>Description:</strong>
                <nline-text [text]="claim.note" [nlines]="3" textClass="Body2"></nline-text>
              </p>
            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
  <div>
    <div *ngIf="addMode && showButtons && canEdit" class="add-area">
      <div class="add-wrap">
        <form [formGroup]="noteForm">
          <div class="group">
            <div class="label">Follow Up*</div>
            <div class="Input new-style date-input-notes">

              <kendo-datepicker format="{{locale.userDateFormat}}"
                                placeholder="Select Date"
                                formControlName="remindDate"
                                [ngClass]="{'date-picker-error': showErrors && noteForm.controls['remindDate'].invalid}"
                                [incompleteDateValidation]="true" (valueChange)="checkTextAndDateArea()" class="w-100 k-diagnosis dateInput">
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                  <span class="template">
                    {{dataItem | date:'MM/dd/yyyy'}}
                  </span>
                </ng-template>
                <ng-template kendoDropDownListValueTemplate let-dataItem>
                  <span class="dropdown-default" *ngIf="!dataItem">
                    Select
                    Date
                  </span>
                  <span *ngIf="dataItem">
                    {{dataItem | date:'MM/dd/yyyy'}}
                  </span>
                </ng-template>
              </kendo-datepicker>
            </div>
          </div>
          <div class="group">
            <div class="label">Note</div>
            <div class="Input new-style">
              <textarea class="form-control text-area noteInput" formControlName="note" placeholder="Type Here" (keyup)="checkTextAndDateArea()"
                        [ngClass]="{FieldError: showErrors && noteForm.controls['note'].invalid}"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div kendoDialogContainer></div>
<div class="actions">
    <div class="d-flex justify-content-between">
        <div class="d-flex" *ngIf="showButtons">
            <outlined-btn *ngIf="!addMode && canEdit" text="Add a note" iconClass="icon-24 add-circle-icon" (onClick)="addNote()"></outlined-btn>
            <outlined-btn *ngIf="addMode" text="Cancel" (onClick)="cleanup()" style="margin-right:16px;"></outlined-btn>
            <contained-btn *ngIf="addMode && canEdit" text="Save" (onClick)="saveNote()" [isDisabled]="saving"></contained-btn>
        </div>
    </div>
</div>
