<div class="claim-details-block" [formGroup]="claimForm">
    <div class="title Header-5">Providers</div>
    <div class="content new-style">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <label for="responsibleParty" class="small-12med">
                    Rendering Provider*
                </label>
                <div id="clientName" class="client-name d-flex">
                    <kendo-dropdownlist [popupSettings]="{ popupClass: 'new-style-popup' }" id="renderingProvider"
                         [data]="renderingProviders" [valuePrimitive]="true"
                        formControlName="renderingProviderId" (selectionChange)="renderingProviderChanged($event)"
                        textField="name" valueField="id" class="w-100 k-component" [disabled]="true">
                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                            <span *ngIf="!dataItem">
                                Select
                            </span>
                            <span *ngIf="dataItem">
                                {{ dataItem.name }}
                            </span>
                        </ng-template>
                    </kendo-dropdownlist>
                    <!-- commented as per Rajashree suggestion -->
                    <!-- <div class="d-flex info-icon-block" kendoTooltip filter="span">
                        <span class="icon-24 info-icon" [title]="claim && claim.authorizationNumber !== null
                                        ? renderingProviderAuthTooltipMessage
                                        : renderingProviderNoAuthTooltipMessage">
                        </span>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <label for="responsibleParty" class="small-12med">
                    Billing Provider*
                </label>
                <div id="clientName" class="client-name d-flex">
                    <kendo-dropdownlist [popupSettings]="{ popupClass: 'new-style-popup' }" id="billingProvider"
                        [data]="billingProviders" [valuePrimitive]="true"
                        formControlName="billingProviderId"
                        [required]="claim && claim.funderTypeId === funderType.Insurance"
                        [readonly]="claim.billingProviderOptionId === billingProviderOption.IndividualOnly"
                        textField="name" valueField="id" class="w-100 k-component" [disabled]="false"
                        (selectionChange)="onBillingProviderChange($event)">
                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                            <span *ngIf="!dataItem">
                                Select
                            </span>
                            <span *ngIf="dataItem">
                                {{ dataItem.name }}
                            </span>
                        </ng-template>
                    </kendo-dropdownlist>
                    <!-- commented as per Rajashree suggestion -->
                    <!-- <div class="d-flex info-icon-block" kendoTooltip filter="span">
                        <span class="icon-24 info-icon" [title]="claim && claim.authorizationNumber !== null
                                        ? billingProviderAuthTooltipMessage
                                        : billingProviderNoAuthTooltipMessage">
                        </span>
                    </div> -->
                </div>
                
                <!-- Manual Billing Provider Section - Shown when "Other" is selected -->
                <div class="manual-billing-provider-section new-style" *ngIf="showManualBillingProvider" [formGroup]="manualBillingProviderForm">
                    <div class="provider-type-section">
                        <label class="small-12med">Type*</label>
                        <label class="radio-option">
                            <input type="radio" name="providerType" value="Entity" 
                                   [checked]="providerType === 'Entity'" 
                                   (change)="onProviderTypeChange('Entity')">
                            <span class="radio-label">Entity</span>
                        </label>
                        <label class="radio-option">
                            <input type="radio" name="providerType" value="Person" 
                                   [checked]="providerType === 'Person'" 
                                   (change)="onProviderTypeChange('Person')">
                            <span class="radio-label">Person</span>
                        </label>
                    </div>

                    <div class="row">
                        <!-- Facility Name (Entity) -->
                        <div class="col-lg-12 mb-3" *ngIf="providerType === 'Entity'">
                            <label for="facilityLastName" class="small-12med">
                                Facility Name*
                            </label>
                            <input type="text" id="facilityLastName" kendoTextBox
                                   class="w-100 k-component editclaimcontrol"
                                   formControlName="facilityLastName">
                        </div>

                        <!-- First Name (Person) -->
                        <div class="col-lg-6 mb-3" *ngIf="providerType === 'Person'">
                            <label for="firstName" class="small-12med">
                                First Name*
                            </label>
                            <input type="text" id="firstName" kendoTextBox
                                   class="w-100 k-component editclaimcontrol"
                                   formControlName="firstName">
                        </div>

                        <!-- Last Name (Person) -->
                        <div class="col-lg-6 mb-3" *ngIf="providerType === 'Person'">
                            <label for="facilityLastName" class="small-12med">
                                Last Name*
                            </label>
                            <input type="text" id="facilityLastName" kendoTextBox
                                   class="w-100 k-component editclaimcontrol"
                                   formControlName="facilityLastName">
                        </div>
                    </div>

                    <div class="row">
                        <!-- NPI -->
                        <div class="col-lg-4 mb-3">
                            <label for="npi" class="small-12med">NPI*</label>
                            <input type="text" id="npi" kendoTextBox
                                   class="w-100 k-component editclaimcontrol"
                                   formControlName="npi" placeholder="10 digits"
                                   maxlength="10">
                        </div>

                        <!-- Tax ID -->
                        <div class="col-lg-4 mb-3">
                            <label for="taxId" class="small-12med">Tax ID</label>
                            <input type="text" id="taxId" kendoTextBox
                                   class="w-100 k-component editclaimcontrol"
                                   formControlName="taxId">
                        </div>

                        <!-- Taxonomy Code -->
                        <div class="col-lg-4 mb-3">
                            <label for="taxonomyCode" class="small-12med">Taxonomy Code</label>
                            <input type="text" id="taxonomyCode" kendoTextBox
                                   class="w-100 k-component editclaimcontrol"
                                   formControlName="taxonomyCode">
                        </div>
                    </div>

                    <div class="row">
                        <!-- Address Line 1 -->
                        <div class="col-lg-6 mb-3">
                            <label for="addressLine1" class="small-12med">Address Line 1*</label>
                            <input type="text" id="addressLine1" kendoTextBox
                                   class="w-100 k-component editclaimcontrol"
                                   formControlName="addressLine1">
                        </div>

                        <!-- Address Line 2 -->
                        <div class="col-lg-6 mb-3">
                            <label for="addressLine2" class="small-12med">Address Line 2</label>
                            <input type="text" id="addressLine2" kendoTextBox
                                   class="w-100 k-component editclaimcontrol"
                                   formControlName="addressLine2">
                        </div>
                    </div>

                    <div class="row">
                        <!-- City -->
                        <div class="col-lg-3 mb-3">
                            <label for="city" class="small-12med">City*</label>
                            <input type="text" id="city" kendoTextBox
                                   class="w-100 k-component editclaimcontrol"
                                   formControlName="city">
                        </div>

                        <!-- State -->
                        <div class="col-lg-3 mb-3">
                            <label for="state" class="small-12med">State*</label>
                            <kendo-dropdownlist id="state"
                                [popupSettings]="{ popupClass: 'new-style-popup' }"
                                [data]="states"
                                formControlName="state"
                                textField="stateName"
                                valueField="stateId"
                                [valuePrimitive]="true"
                                class="w-100 k-component">
                                <ng-template kendoDropDownListValueTemplate let-dataItem>
                                    <span *ngIf="!dataItem">Select State</span>
                                    <span *ngIf="dataItem">{{ dataItem.stateName || dataItem }}</span>
                                </ng-template>
                            </kendo-dropdownlist>
                        </div>

                        <!-- Zip -->
                        <div class="col-lg-3 mb-3">
                            <label for="zip" class="small-12med">Zip*</label>
                            <input type="text" id="zip" kendoTextBox
                                   class="w-100 k-component editclaimcontrol"
                                   formControlName="zip" placeholder="5 digits"
                                   maxlength="5">
                        </div>

                        <!-- Zip Ext -->
                        <div class="col-lg-3 mb-3">
                            <label for="zipExt" class="small-12med">Zip Ext*</label>
                            <input type="text" id="zipExt" kendoTextBox
                                   class="w-100 k-component editclaimcontrol"
                                   formControlName="zipExt" placeholder="4 digits"
                                   maxlength="4">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6 mb-4">
                <label for="responsibleParty" class="small-12med">
                    Referring Provider<span *ngIf="claim.referringProviderRequiredOnClaim">*</span>
                </label>
                <div id="clientName" class="client-name d-flex">
                    <kendo-combobox id="referringProvider" class="w-100 k-component"
                        placeholder="Select" [disabled]="true"
                        formControlName="referringProviderId" [valuePrimitive]="true"
                        [popupSettings]="{popupClass: 'new-style-popup'}" [data]="referringProviders"
                        textField="name" valueField="id">
                        <ng-template kendoComboBoxItemTemplate let-dataItem>
                            <span *ngIf="dataItem">{{dataItem.name}}</span>
                        </ng-template>
                    </kendo-combobox>
                    <!-- <kendo-dropdownlist [popupSettings]="{ popupClass: 'new-style-popup' }" id="referringProvider"
                        [data]="referringProviders" [valuePrimitive]="true"
                        formControlName="referringProviderId" textField="name" valueField="id" class="w-100 k-component"
                        [disabled]="true">
                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                            <span *ngIf="!dataItem">
                                Select
                            </span>
                            <span *ngIf="dataItem">
                                {{ dataItem.name }}
                            </span>
                        </ng-template>
                    </kendo-dropdownlist> -->
                    <!-- commented as per Rajashree suggestion -->
                    <!-- <div class="d-flex info-icon-block" kendoTooltip filter="span">
                        <span *ngIf="!showReferringProviderRequiredTooltip" class="icon-24 info-icon" [title]="claim && claim.authorizationNumber !== null
                                        ? referringProviderAuthTooltipMessage
                                        : referringProviderNoAuthTooltipMessage">
                        </span>
                        <span *ngIf="showReferringProviderRequiredTooltip" class="icon-24 info-icon"
                            style="background-color: var(--Negative-88)" [title]="claim && claim.authorizationNumber !== null
                                        ? referringProviderRequiredAuthTooltipMessage
                                        : referringProviderRequiredNoAuthTooltipMessage">
                        </span>
                    </div> -->
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <label for="responsibleParty" class="small-12med">
                    Service Facility
                </label>
                <div id="clientName" class="client-name d-flex">
                    <kendo-combobox id="serviceProvider" class="w-100 k-component"
                        placeholder="Select" [disabled]="true"
                        formControlName="serviceFacilityId" [valuePrimitive]="true"
                        [popupSettings]="{popupClass: 'new-style-popup'}" [data]="serviceProviders"
                        textField="name" valueField="id">
                        <ng-template kendoComboBoxItemTemplate let-dataItem>
                            <span *ngIf="dataItem">{{dataItem.name}}</span>
                        </ng-template>
                    </kendo-combobox>
                </div>
            </div>

            <!-- <div class="col-lg-6 mb-4">
                <label for="responsibleParty" class="small-12med">
                    Service Facility
                </label>
                <div id="clientName" class="client-name d-flex">
                    <kendo-dropdownlist [popupSettings]="{ popupClass: 'new-style-popup' }" id="serviceProvider"
                        [data]="serviceProviders" [valuePrimitive]="true"
                        formControlName="serviceFacilityId" textField="name" valueField="id" class="w-100 k-component"
                        [disabled]="true">
                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                            <span *ngIf="!dataItem">
                                Select
                            </span>
                            <span *ngIf="dataItem">
                                {{ dataItem.name }}
                            </span>
                        </ng-template>
                    </kendo-dropdownlist> -->
                    <!-- commented as per Rajashree suggestion -->
                    <!-- <div class="d-flex info-icon-block" kendoTooltip filter="span">
                        <span class="icon-24 info-icon" [title]="claim && claim.authorizationNumber !== null
                                        ? serviceFacilityAuthTooltipMessage
                                        : serviceFacilityNoAuthTooltipMessage">
                        </span>
                    </div> -->
                <!-- </div>
            </div> -->
        </div>




    </div>
</div>