<div class="details Body2 strech-vert">
    <div class="light head">
        <div class="group">
            <div class="header">Payee Info</div>
        </div>
        <div class="name-group">
            <div class="photo-wrap">
                <!--<img src="{{payment?.payeePhoto}}" />-->
                <div class="group Header-3">
                    <div class="value">{{payment?.payeeName}}</div>
                </div>
                <div class="group">
                    <div class="">
                        {{payment?.payeeAdressObject?.payeeAddress1}}<br />
                        <div *ngIf="payment?.payeeAdressObject?.payeeAddress2">{{payment?.payeeAdressObject?.payeeAddress2}}<br /></div>
                        <div *ngIf="payment?.payeeAdressObject?.payeeAddressCity">{{payment?.payeeAdressObject?.payeeAddressCity}}<br /></div>
                        <div class="d-flex" *ngIf="payment?.payeeAdressObject?.payeeAddressState">{{payment?.payeeAdressObject?.payeeAddressState}}<div *ngIf="payment?.payeeAdressObject?.payeeAddressZip">&nbsp;- {{payment?.payeeAdressObject?.payeeAddressZip}}</div><br /></div>
                        <div *ngIf="payment?.payeeAdressObject?.payeeAddressCountry">{{payment?.payeeAdressObject?.payeeAddressCountry}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="light bottom">
        <div class="dark small-12reg">
             <div class="w-50">
                <div class="group">
                    <div class="property small-12med">Bank ID</div>
                    <div class="value">{{payment?.payeeBankId}}</div>
                </div>
            </div>
            <div class="w-50 b-l">
                <div class="group">
                    <div class="property small-12med">Account Number</div>
                    <div class="value">{{payment?.payeeId}}</div>
                </div>
            </div>
            <div class="w-100 b-t">
                <div class="group">
                    <div class="property small-12med">Address</div>
                    <div class="value">{{payment?.payeeAddress}}</div>
                </div>
            </div>
        </div>
    </div> -->
    </div>