<div [formGroup]="formGroup" class="col-md-12 rebill-dialog-wrapper">
    <div class="header body">Do you want to rebill this claim?</div>
    <div class="type Body1">
        <div class="row mb-2">
            <div class="col-12 rebill-control">
                <label for="rebillReason">Internal Rebill Reason</label>
                <kendo-dropdownlist id="rebillReason"
                                class="w-100"
                                formControlName="rebillReason"
                                [valuePrimitive]="true"
                                [popupSettings]="{popupClass: 'new-style-popup'}"
                                [data]="rebillReasonList"
                                textField="name"
                                valueField="name"
                                >
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        <span class="dropdown-default" *ngIf="!dataItem">Select</span>
                        <span *ngIf="dataItem">{{dataItem.name}}</span>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 rebill-control">
                <label for="submissionReason">Submission Reason</label>
                <kendo-dropdownlist id="submissionReason"
                                class="w-100"
                                formControlName="submissionReasonId"
                                [valuePrimitive]="true"
                                [popupSettings]="{popupClass: 'new-style-popup'}"
                                [data]="submissionReasonList"
                                textField="name"
                                valueField="id"
                                >
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        <span class="dropdown-default" *ngIf="!dataItem">Select</span>
                        <span *ngIf="dataItem">{{dataItem.name}}</span>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
        </div>      

        <div class="notes-container">
            <div class="notes-header">Notes                
                <textarea class="form-control rebill-textarea::placeholder" placeholder="Enter Notes" formControlName="note" rows="2" maxlength="1000"></textarea>
            </div>
            
        </div>

        <div class="notes-container">
            <div class="notes-header">Claim Notes
                <textarea class="form-control rebill-textarea::placeholder" placeholder="Enter Notes" formControlName="claimnote" rows="2" maxlength="1000"></textarea>
            </div>
            
        </div>
    </div>
    <kendo-dialog-actions>
        <button kendoButton (click)="cancel()">Cancel</button>
        <button kendoButton [primary]="true" [disabled]="!formGroup.valid" (click)="submit()">Save</button>
    </kendo-dialog-actions>
</div>