<div class="dialog-wrapper new-style" width="600">

    <div class="d-flex">
        <div class="title">
            Add Diagnosis
        </div>
        <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
    </div>

    <div>
        <kendo-autocomplete #popup class="k-component w-100" placeholder="Search Code" [data]="diagnosisCodes"
            [popupSettings]="{popupClass: 'new-style-popup'}" valueField="diagnosisFullDescription"
            (valueChange)="diagnosisSelected($event)" [filterable]="true" (open)="popupOpen()"
            (filterChange)="diagnosisSearchValueChange($event)">
            <ng-template kendoAutoCompleteItemTemplate let-diagnosisCode>
                <span [title]="diagnosisCode.diagnosisFullDescription">{{diagnosisCode.diagnosisFullDescription}}</span>
            </ng-template>
        </kendo-autocomplete>
    </div>
    <div class="d-flex flex-row-reverse mt-4">
        <div (keydown.enter)="onSave()">
            <contained-btn class="pointer ml-2" text="Save" [isDisabled]="!selectedDiagnosis"
                (onClick)="onSave()"></contained-btn>
        </div>
        <div (keydown.enter)="close()">
            <outlined-btn class="pointer" text="Close" (onClick)="close()"></outlined-btn>
        </div>
    </div>
</div>