<div class="wrapper" style="height: auto;">
    <div>
        <div class="list-title d-flex justify-content-between mt-4">
            <div>Writeoffs</div>
            <div class="d-flex info-line">
                <div class="name mr-2">Total</div>
                <div class="value">{{calculateWriteOffsTotal() | currency}}</div>
            </div>
        </div>
        <div *ngFor="let writeOff of this.writeOffs">
            <div class="dark small-12reg not-edited">
                <div class="w-100 p-0 b br-t b-b-n">
                    <div class="d-flex justify-content-between">
                        <div class="details-header">
                            Last Modified {{writeOff.dateLastModified | date:'MM/dd/yyyy'}}
                        </div>
                        <div class="d-flex mr-1">
                            <ng-template [ngIf]="!isWriteOffEdited(writeOff.id)">
                                <div *ngIf="canEdit" class="icon-wrapper pointer"
                                    (click)="startEditWriteOff(writeOff.id)">
                                    <span class="icon-24 edit-icon"></span>
                                </div>
                                <div *ngIf="canEdit" class="icon-wrapper pointer" (click)="deleteWriteOff(writeOff.id)">
                                    <span class="icon-24 trash-icon"></span>
                                </div>
                            </ng-template>
                            <ng-template [ngIf]="isWriteOffEdited(writeOff.id)">
                                <span (click)="saveEditWriteOff(writeOff.id)" class="icon-24 passed-icon pointer"
                                    style="background-color: green;"></span>
                                <span (click)="cancelEditWriteOff(writeOff.id)" class="icon-24 denied-icon pointer"
                                    style="background-color: red;margin-right:10px;"></span>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="w-100 b bh" [ngClass]="{hasError: writeOff.writeOffAmount == undefined}">
                    <div class="details">
                        <div class="property small-12med">Amount</div>
                        <div>
                            <span>$</span>
                            <input class="value" required="true" [readonly]="!isWriteOffEdited(writeOff.id)"
                                [(ngModel)]="writeOff.writeOffAmount"
                                (focusout)="writeOff.writeOffAmount = removeLeadingDigits(writeOff.writeOffAmount)"
                                type="number" min="0.01" max="{{getRemainingBalance(writeOff.id)}}" name="writeOffValue"
                                ng-model="writeOffValue | number : 2" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
                                oninput="validity.valid||(value='');">
                        </div>
                    </div>
                </div>
                <div class="w-100 b bh">
                    <div class="details">
                        <div class="property small-12med">Reason Code</div>
                        <kendo-dropdownlist [data]="allowedReasonCodes" textField="description" valueField="id"
                            [valuePrimitive]="true" [disabled]="!isWriteOffEdited(writeOff.id)"
                            (valueChange)="updateWriteOffReasonCode($event, writeOff)">
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                <span class="dropdown-default" *ngIf="!dataItem">{{writeOff.description}}</span>
                                <span class="dropdown-value" *ngIf="dataItem">{{ dataItem.description }}</span>
                            </ng-template>
                        </kendo-dropdownlist>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div>
        <div class="list-title d-flex justify-content-between mt-4">
            <div>Adjustments</div>
            <div class="d-flex info-line">
                <div class="name mr-2">Total</div>
                <div class="value">{{calculateAdjustmentsTotal() | currency}}</div>
            </div>
        </div>
        <div *ngFor="let adjustment of this.adjustments">
            <div class="dark small-12reg not-edited">
                <div class="w-100 p-0 b br-t b-b-n">
                    <div class="d-flex justify-content-between">
                        <div class="details-header">
                            Posted Date {{adjustment.postDate | date:'MM/dd/yyyy'}}
                        </div>
                    </div>
                </div>
                <div class="w-50 b bh" [ngClass]="{hasError: adjustment.amount == undefined}">
                    <div class="details">
                        <div class="property small-12med">Amount</div>
                        <div>
                            <span>${{adjustment.amount}}</span>
                        </div>
                    </div>
                </div>
                <div class="w-50 b bh">
                    <div class="details">
                        <div class="property small-12med">Reason Code</div>
                        <div>
                            <span>{{adjustment.groupCode + '-' + adjustment.reasonCode}}</span>
                        </div>
                    </div>
                </div>
                <div class="w-100 b bh">
                    <input type="checkbox" class="k-checkbox" kendoCheckBox id="IsPositiveEdit"
                        [(ngModel)]="adjustment.isPositive" [disabled]="true" />
                    <label for="IsPositive" class="k-checkbox-label">Apply As Positive</label>
                </div>
                <div class="w-100 b br-b b-t-n">
                    <div class="details">
                        <div class="property small-12med">Description</div>
                        <div class="value">{{adjustment.description || 'No description'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<confirmation-dialog [confirmDialog]="deleteConfirmation"
    (onConfirm)="acceptDeleteWriteOff($event)"></confirmation-dialog>