<div class="row add-note-dialog-wrapper">
    <div class="type Body1">
        <div class="notes-header">New Note*:</div>
        <div class="notes-input"><textarea matInput class="textinput" placeholder="Enter Notes" [(ngModel)]="note" rows="5" maxlength="80"></textarea></div>
    </div>
    
    <kendo-dialog-actions>
        <button class="actionbtns" kendoButton (click)="close()">Cancel</button>
        <button class="actionbtns" kendoButton [primary]="true" [disabled]="!(note && note.length > 0)" (click)="save()">Save</button>
    </kendo-dialog-actions>
</div>