<kendo-dialog-titlebar (close)="cancel()">Choose Submission Reason</kendo-dialog-titlebar>

<div class="d-flex mt-2 mb-2">
    <kendo-combobox id="reason"
                    class="w-100"
                    [formControl]="formControl"
                    placeholder="Submission Reason"
                    textField="name"
                    valueField="id"
                    [valuePrimitive]="true"
                    [data]="reasons"
                    [filterable]="true">
    </kendo-combobox>
</div>

<kendo-dialog-actions>
    <button kendoButton (click)="cancel()">Cancel</button>
    <button kendoButton [primary]="true" [disabled]="!formControl.valid" (click)="process()">Submit</button>
</kendo-dialog-actions>