/****** Object:  StoredProcedure [dbo].[usp_MonthlyFinancialSummary]    Script Date: 16-01-2026 15:51:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create or ALTER   PROCEDURE [dbo].[usp_MonthlyFinancialSummary]
(	
	@AccountInfoId int,
    @StartDate DATE,
    @EndDate   DATE,
    @DateBasis NVARCHAR(20) = 'Transaction',   -- Transaction | Deposit
    @LocationIds VARCHAR(MAX) = NULL,          -- CSV
    @FunderIds   VARCHAR(MAX) = NULL           -- CSV
)
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------------------------------
    -- 1. Get Starting A/R from dedicated procedure
    ------------------------------------------------------------
    DECLARE @StartingAR DECIMAL(18,2);

    EXEC dbo.usp_CalculateStartingAR
		@AccountInfoId=@AccountInfoId,
        @StartDate  = @StartDate,
        @DateBasis  = @DateBasis,
		@LocationIds= @LocationIds,
		@FunderIds  = @FunderIds,
        @StartingAR = @StartingAR OUTPUT;


    ------------------------------------------------------------
    -- 1a. Return Starting A/R as first result set
    ------------------------------------------------------------
    SELECT @StartingAR AS StartingARBalance;

    ------------------------------------------------------------
    -- 2. Monthly Activity (claim-scoped)
    ------------------------------------------------------------
    ;WITH EligibleClaims AS (
		SELECT c.id AS ClaimId
		FROM Claims c
		WHERE c.dateDeleted IS NULL AND c.hcClaimStatusId NOT IN (2,18) and c.accountinfoid=@AccountInfoId
		  -- Optional Location filter
		  AND (
				@LocationIds IS NULL
				OR LTRIM(RTRIM(@LocationIds)) = ''
				OR c.hcProviderLocationId IN ( SELECT TRY_CAST(value AS INT) FROM STRING_SPLIT(@LocationIds, ','))
			  )

		  -- Optional Funder filter
		  AND (
				@FunderIds IS NULL
				OR LTRIM(RTRIM(@FunderIds)) = ''
				OR c.primaryFunderId IN (SELECT TRY_CAST(value AS INT) FROM STRING_SPLIT(@FunderIds, ','))
			  )
	),
    ------------------------------------------------------------
    -- 3. Generate months in range
    ------------------------------------------------------------
    Months AS (
        SELECT DATEFROMPARTS(YEAR(@StartDate), MONTH(@StartDate), 1) AS MonthStart
        UNION ALL
        SELECT DATEADD(MONTH, 1, MonthStart)
        FROM Months
        WHERE DATEADD(MONTH, 1, MonthStart) <= DATEFROMPARTS(YEAR(@EndDate), MONTH(@EndDate), 1)
    )

    ------------------------------------------------------------
    -- 4. Aggregate Financial Activity
    ------------------------------------------------------------
    , Charges AS (
        SELECT
            DATEFROMPARTS(YEAR(ch.dateOfService), MONTH(ch.dateOfService), 1) AS MonthStart,
            SUM(ch.charges) AS Charges
        FROM ClaimChargeEntries ch
        JOIN EligibleClaims ec ON ch.hcClaimId = ec.ClaimId
        WHERE ch.dateOfService >= @StartDate and ch.dateOfService < DATEADD(DAY, 1, @EndDate) and ch.DateDeleted is null
        GROUP BY DATEFROMPARTS(YEAR(ch.dateOfService), MONTH(ch.dateOfService), 1)
    )

    , InsurancePayments AS (
        SELECT
            DATEFROMPARTS(
                YEAR(CASE WHEN @DateBasis = 'Deposit' THEN p.depositDate ELSE p.postDate END),
                MONTH(CASE WHEN @DateBasis = 'Deposit' THEN p.depositDate ELSE p.postDate END),
                1
            ) AS MonthStart,
            SUM(pc.totalPayment) AS InsurancePay
        FROM PaymentClaim pc
        JOIN Payment p ON pc.hcPaymentId = p.id
        JOIN EligibleClaims ec ON pc.hcClaimId = ec.ClaimId
        WHERE p.hcPaymentTypeId IN (1,2) and pc.claimStatus not in (22)
          AND (
          (@DateBasis = 'Deposit' AND p.depositDate >= @StartDate AND p.depositDate < DATEADD(DAY, 1, @EndDate))
          OR
          (@DateBasis <> 'Deposit' AND p.postDate >= @StartDate AND p.postDate < DATEADD(DAY, 1, @EndDate))
         ) and p.dateDeleted is null
        GROUP BY DATEFROMPARTS(
            YEAR(CASE WHEN @DateBasis = 'Deposit' THEN p.depositDate ELSE p.postDate END),
            MONTH(CASE WHEN @DateBasis = 'Deposit' THEN p.depositDate ELSE p.postDate END),
            1
        )
    )

    , PatientPayments AS (
        SELECT
            DATEFROMPARTS(
                YEAR(CASE WHEN @DateBasis = 'Deposit' THEN p.depositDate ELSE p.postDate END),
                MONTH(CASE WHEN @DateBasis = 'Deposit' THEN p.depositDate ELSE p.postDate END),
                1
            ) AS MonthStart,
            SUM(pc.totalPayment) AS PatientPay
        FROM PaymentClaim pc
        JOIN Payment p ON pc.hcPaymentId = p.id
        JOIN EligibleClaims ec ON pc.hcClaimId = ec.ClaimId
        WHERE p.hcPaymentTypeId = 3 and pc.claimStatus not in (22)
          AND (
          (@DateBasis = 'Deposit' AND p.depositDate >= @StartDate AND p.depositDate < DATEADD(DAY, 1, @EndDate))
          OR
          (@DateBasis <> 'Deposit' AND p.postDate >= @StartDate AND p.postDate < DATEADD(DAY, 1, @EndDate))
         ) and p.dateDeleted is null
        GROUP BY DATEFROMPARTS(
            YEAR(CASE WHEN @DateBasis = 'Deposit' THEN p.depositDate ELSE p.postDate END),
            MONTH(CASE WHEN @DateBasis = 'Deposit' THEN p.depositDate ELSE p.postDate END),
            1
        )
    )

    , Adjustments AS (
        SELECT
            DATEFROMPARTS(
                YEAR(CASE WHEN @DateBasis = 'Deposit' THEN p.depositDate ELSE p.postDate END),
                MONTH(CASE WHEN @DateBasis = 'Deposit' THEN p.depositDate ELSE p.postDate END),
                1
            ) AS MonthStart,
            SUM(
                CASE WHEN adj.IsAdjustmentPositive = 1
                     THEN adj.adjustmentAmount * -1
                     ELSE adj.adjustmentAmount 
                END
            ) AS Adjustments
        FROM PaymentClaim pc
        JOIN Payment p ON pc.hcPaymentId = p.id
	     JOIN EligibleClaims ec ON pc.hcClaimId = ec.ClaimId
        JOIN PaymentClaimServiceLine pcl ON pcl.hcPaymentClaimId = pc.id
        JOIN PaymentClaimServiceLineAdjustment adj ON adj.hcPaymentClaimServiceLineId = pcl.id
        WHERE adj.dateDeleted IS NULL AND adj.adjustmentGroupCode <> 'PR'
          AND (
          (@DateBasis = 'Deposit' AND p.depositDate >= @StartDate AND p.depositDate < DATEADD(DAY, 1, @EndDate))
          OR
          (@DateBasis <> 'Deposit' AND p.postDate >= @StartDate AND p.postDate < DATEADD(DAY, 1, @EndDate))
         ) and p.dateDeleted is null and adj.dateDeleted is null
        GROUP BY DATEFROMPARTS(
            YEAR(CASE WHEN @DateBasis = 'Deposit' THEN p.depositDate ELSE p.postDate END),
            MONTH(CASE WHEN @DateBasis = 'Deposit' THEN p.depositDate ELSE p.postDate END),
            1
        )
    )

    , WriteOffs AS (
        SELECT
            DATEFROMPARTS(YEAR(wo.dateCreated), MONTH(wo.dateCreated), 1) AS MonthStart,
            SUM(wo.writeOffAmount) AS WriteOffs
        FROM ClaimChargeEntryWriteOff wo
	    JOIN ClaimChargeEntries ch ON wo.ClaimChargeEntryId = ch.id
        JOIN EligibleClaims ec ON ch.hcClaimId = ec.ClaimId
        WHERE wo.DateCreated >= @StartDate and wo.DateCreated < DATEADD(DAY, 1, @EndDate) and wo.dateDeleted is null
        GROUP BY DATEFROMPARTS(YEAR(wo.dateCreated), MONTH(wo.dateCreated), 1)
    )

    ------------------------------------------------------------
    -- 5. Combine monthly activity
    ------------------------------------------------------------
    , MonthlyActivity AS (
        SELECT
            m.MonthStart,
            COALESCE(c.Charges,0) AS Charges,
            COALESCE(ip.InsurancePay,0) AS InsurancePay,
            COALESCE(pp.PatientPay,0) AS PatientPay,
            COALESCE(ip.InsurancePay,0) + COALESCE(pp.PatientPay,0) AS TotalPay,
            COALESCE(a.Adjustments,0) AS Adjustments,
            COALESCE(w.WriteOffs,0) AS WriteOffs,
            COALESCE(c.Charges,0)
              - (COALESCE(ip.InsurancePay,0) + COALESCE(pp.PatientPay,0))
              - COALESCE(a.Adjustments,0)
              - COALESCE(w.WriteOffs,0) AS PeriodBalance
        FROM Months m
        LEFT JOIN Charges c ON c.MonthStart = m.MonthStart
        LEFT JOIN InsurancePayments ip ON ip.MonthStart = m.MonthStart
        LEFT JOIN PatientPayments pp ON pp.MonthStart = m.MonthStart
        LEFT JOIN Adjustments a ON a.MonthStart = m.MonthStart
        LEFT JOIN WriteOffs w ON w.MonthStart = m.MonthStart
    )

    , FinalRows AS (
        SELECT
            MonthStart,
            FORMAT(MonthStart, 'MMMM-yyyy') AS MonthYear,
            @DateBasis AS DateBasis,
            @StartingAR AS StartingAR,
            Charges,
            InsurancePay,
            PatientPay,
            TotalPay,
            Adjustments,
            WriteOffs,
            PeriodBalance,
            @StartingAR + SUM(PeriodBalance) OVER (ORDER BY MonthStart ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS EndingAR
        FROM MonthlyActivity
    )

    , Totals AS (
    SELECT
        NULL AS MonthStart,
        'TOTAL' AS MonthYear,
        @DateBasis AS DateBasis,
        @StartingAR AS StartingAR,
        SUM(Charges) AS Charges,
        SUM(InsurancePay) AS InsurancePay,
        SUM(PatientPay) AS PatientPay,
        SUM(TotalPay) AS TotalPay,
        SUM(Adjustments) AS Adjustments,
        SUM(WriteOffs) AS WriteOffs,
        SUM(PeriodBalance) AS PeriodBalance,
        (SELECT TOP 1 EndingAR FROM FinalRows ORDER BY MonthStart DESC) AS EndingAR
    FROM FinalRows
)

    ------------------------------------------------------------
    -- 6. Output: Main Report with Totals
    ------------------------------------------------------------
    SELECT *
    FROM (
        SELECT * FROM FinalRows
        UNION ALL
        SELECT * FROM Totals
    ) r
    ORDER BY
        CASE WHEN MonthYear = 'TOTAL' THEN 2 ELSE 1 END,
        MonthStart
    OPTION (MAXRECURSION 1000);

    ------------------------------------------------------------
    -- 7. Output: Unapplied Credits (separate result set)
    ------------------------------------------------------------
    ;------------------------------------------------------------
-- 7. Output: Unapplied Credits (ACCOUNT LEVEL ONLY)
------------------------------------------------------------
;WITH AppliedToEligibleClaims AS (
    SELECT
        pc.hcPaymentId,
        SUM(pc.totalPayment) AS AppliedAmount
    FROM PaymentClaim pc
    JOIN Claims c ON pc.hcClaimId = c.id
    WHERE c.dateDeleted IS NULL AND c.hcClaimStatusId NOT IN (2,18) AND c.accountinfoid = @AccountInfoId   

      -- Optional Location filter
      --AND (
      --      @LocationIds IS NULL
      --      OR LTRIM(RTRIM(@LocationIds)) = ''
      --      OR c.hcProviderLocationId IN (
      --          SELECT TRY_CAST(value AS INT)
      --          FROM STRING_SPLIT(@LocationIds, ',')
      --      )
      --    )

      ---- Optional Funder filter
      --AND (
      --      @FunderIds IS NULL
      --      OR LTRIM(RTRIM(@FunderIds)) = ''
      --      OR c.clientFunderId IN (
      --          SELECT TRY_CAST(value AS INT)
      --          FROM STRING_SPLIT(@FunderIds, ',')
      --      )
      --    )
    GROUP BY pc.hcPaymentId
),
AccountPayments AS (
    SELECT
        p.id AS PaymentId,
        p.hcPaymentTypeId,
        p.paymentAmount
    FROM Payment p
	--JOIN PaymentClaim pc on p.id=pc.hcpaymentid
    WHERE p.accountinfoid = @AccountInfoId   and p.dateDeleted is null
      AND (
            (@DateBasis = 'Deposit'
                AND p.depositDate >= @StartDate
                AND p.depositDate < DATEADD(DAY, 1, @EndDate))
         OR (@DateBasis <> 'Deposit'
                AND p.postDate >= @StartDate
                AND p.postDate < DATEADD(DAY, 1, @EndDate))
          )
),
PaymentUnapplied AS (
    SELECT
        ap.PaymentId,
        ap.hcPaymentTypeId,
        ap.paymentAmount - COALESCE(a.AppliedAmount, 0) AS UnappliedAmount
    FROM AccountPayments ap
    LEFT JOIN AppliedToEligibleClaims a
        ON a.hcPaymentId = ap.PaymentId
)
SELECT
    COALESCE(SUM(CASE WHEN hcPaymentTypeId IN (1,2) THEN UnappliedAmount ELSE 0 END), 0)
        AS InsuranceUnapplied,
    COALESCE(SUM(CASE WHEN hcPaymentTypeId = 3 THEN UnappliedAmount ELSE 0 END), 0)
        AS PatientUnapplied,
    COALESCE(SUM(UnappliedAmount), 0)
        AS TotalUnapplied
FROM PaymentUnapplied
WHERE UnappliedAmount > 0;


END;
