.sidebar-body {
    position: fixed;
    width: 428px;
    height: 100vh;
    top: 0;
    z-index: 1001;
    background: white;
}

    .sidebar-body.right-sidebar {
        transition: right 0.5s ease;
        /* right: -428px; */
        border-left: 1px solid var(--Black-88);
    }

    .sidebar-body.left-sidebar {
        transition: left 0.5s ease;
        left: -428px;
        border-right: 1px solid var(--Black-88);
    }

    .sidebar-body.right-sidebar.opened {
        right: 0;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.16);
    }

    .sidebar-body.left-sidebar.opened {
        left: 0;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.16);
    }

    .sidebar-body .close-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 10;
    }

.sidebar-overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 100vw;
    width: 100vw;
    height: 100vh;
}

    .sidebar-overlay.opened {
        right: 0;
    }

    .sidebar-backdrop {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 1000;
        background: white;
        pointer-events: all;
        background-color: rgba(0, 0, 0, 0.5);
    }

@media screen and (max-width: 428px) {
    .sidebar-body {
        width: 100%;
    }
}

.md {
    width: 400px;
    right: -400px;
}

.lg {
    width: 1200px;
    right: -1200px;
}