.title {
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    border-bottom: 1px solid var(--Black-88);
    position: absolute;
    top: 0;
    height: 72px;
    width: 100%;
}

.title-icon {
    margin: auto 8px;
    display: inline-block;
}

.title-text {
    color: var(--prim-text);
}

.body {
    padding: 20px;
    position: absolute;
    top: 72px;
    bottom: 73px;
    width: 100%;
    overflow: auto;
}

.actions {
    border-top: 1px solid var(--Black-88);
    padding: 16px 20px;
    position: absolute;
    bottom: 0;
    height: 73px;
    width: 100%;
}

mat-tab-group {
    padding: 0;
}

.add-wrap .label {
    margin: 13px 0 7px;
}


.light.head {
    padding: 0;
}

.light.bottom {
    padding: 0;
}

.payment-header {
    display: flex;
    flex-direction: column;
}

.dark {
    border: 1px solid var(--Black-88);
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--Blue-98);
    display: flex;
    flex-wrap: wrap;
    margin-top: 19px;
    margin-bottom: 5px;
}

    .dark .w-50,
    .dark .w-100 {
        padding: 5px 15px;
    }

    .dark .b-l {
        border-left: 1px solid var(--Black-88);
        padding-right: 0;
        padding-bottom: 0;
    }

    .dark .b-t {
        border-top: 1px solid var(--Black-88);
        padding-top: 0;
    }

    .dark .details {
        display: flex;
        flex-direction: column;
    }

        .dark .details .value {
            text-align: start;
        }

.details {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

    .details .property {
    }

    .details .value {
        text-align: end;
    }


.payment-total {
    color: var(--prim-text);
}

.text-area {
    min-height: 2.5em;
    max-height: 7.5em;
}


.new-style .k-input-solid
{
    border-bottom: 1px solid grey;
    height: 40px !important;
    font-size: 1rem;
    white-space: nowrap;
    display: inline-flex;
    vertical-align: middle;
    position: relative;
}


:host ::ng-deep .date-input-notes .k-input-md .k-input-inner, .k-picker-md .k-input-inner{
    padding-inline: 0.2rem;
}
.dateInput{
    border: 1px solid #B6BFCC !important;
    border-radius: 20px !important;
    padding-left: 46px !important;
} 
.noteInput{
    border: 1px solid #B6BFCC !important;
    border-radius: 20px !important;
    padding: 0;
}
.noteInput::placeholder {
    position: absolute;
    left: 10px;
    top :10px
 }
.text-area{
    border-radius: 20px !important;
    resize: vertical;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: normal !important;
}
:host ::ng-deep .dateInput > .k-icon-button{
    position: relative;
    right: 100%;
}