.container {
    border: 1px solid var(--Black-88);
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--Blue-98);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 6px 12px;
    margin-bottom: 12px;
}

.note-head {
    margin-top: 12px;
}

.note-body {
    margin-top: 12px;
}

.value.date {
    color: var(--Black-80);
}

