<div id="InvoiceGridFilterColumns" class="payment-filter-wrapper slide">
        <div class="filter-line">
              <!-- Status -->
            <div #statusAnchorEl class="f-control filter-item" [class.active]="selectedFilterId == 1"
                (click)="selectFilter(1, statusAnchorEl)">
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <div class="filter-name">Status</div>
                        <div class="filter-info" *ngIf="selectedStatus">{{selectedStatus.length}}
                            {{selectedStatus.length == 0 ? 'item' : 'items'}}
                        </div>
                    </div>
                    <span [class.active]="selectedFilterId == 1 || selectedStatus.length" 
                        class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
                </div>
            </div>

            <!-- Patient Responsibility -->
            <div #prAnchorEl class="f-control filter-item" [class.active]="selectedFilterId == 2"
                (click)="selectFilter(2, prAnchorEl)">
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <div class="filter-name">Patient Responsibility</div>
                        <div class="filter-info" *ngIf="patientResponsibilityFrom != undefined
                                                    || patientResponsibilityTo != undefined">
                            ${{patientResponsibilityFrom}} - ${{patientResponsibilityTo}}
                        </div>
                    </div>
                    <span class="mr-0 icon-24 down-icon pointer filter-actions-icon"
                        [class.active]="selectedFilterId == 2"></span>
                </div>
            </div>

            <!-- Date of Service -->
            <div #dosAnchorEl class="f-control filter-item" [class.active]="selectedFilterId == 3"
                (click)="selectFilter(3, dosAnchorEl)">
                <div class="d-flex">
                     <div class="d-flex flex-column">
                        <div class="filter-name">Date Of Service</div>
                        <div class="filter-info" *ngIf="(dateOfServiceFromString != undefined || dateOfServiceToString != undefined)">{{dateOfServiceFromString}} - {{dateOfServiceToString}}</div>
                    </div>
                    <span
                        [class.active]="selectedFilterId == 3 || (dateOfServiceFromString != undefined || dateOfServiceToString != undefined)"
                        class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
            </div>
            </div>
            <!-- Invoice Date -->
            <div #invDateAnchorEl class="f-control filter-item" [class.active]="selectedFilterId == 4"
                (click)="selectFilter(4, invDateAnchorEl)">
                <div class="d-flex">
                   <div class="d-flex flex-column">
                    <div class="filter-name">Invoice Date</div>
                    <div class="filter-info" *ngIf="(invoiceDateFrom != undefined || invoiceDateTo != undefined)">{{invoiceDateFromString}} - {{invoiceDateToString}}</div>
                </div>
                <span
                    [class.active]="selectedFilterId == 4 || (invoiceDateFrom != undefined || invoiceDateTo != undefined)"
                    class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
                </div>
            </div>
            <!-- Invoice Due Date -->
            <div #invDueAnchorEl class="f-control filter-item" [class.active]="selectedFilterId == 5"
                (click)="selectFilter(5, invDueAnchorEl)">
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <div class="filter-name">Invoice Due Date</div>
                        <div class="filter-info" *ngIf="(invoiceDueDateFrom != undefined || invoiceDueDateTo != undefined)">{{invoiceDueDateFromString}} - {{invoiceDueDateToString}}</div>
                    </div>
                    <span
                        [class.active]="selectedFilterId == 5 || (invoiceDueDateFrom != undefined || invoiceDueDateTo != undefined)"
                        class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
                </div>
            </div>
            <!-- Patient Balance -->
            <div #pbAnchorEl class="f-control filter-item" [class.active]="selectedFilterId == 6"
                (click)="selectFilter(6, pbAnchorEl)">
                <div class="d-flex">
                <div class="d-flex flex-column">
                    <div class="filter-name">Patient Balance</div>
                        <div class="filter-info" *ngIf="patientBalanceFrom != undefined || patientBalanceTo != undefined">
                            ${{patientBalanceFrom}} - ${{patientBalanceTo}}
                        </div>
                    </div>
                    <span class="mr-0 icon-24 down-icon pointer filter-actions-icon"
                        [class.active]="selectedFilterId == 6"></span>
                </div>
            </div>
            <!-- Clear / Apply -->
            <div class="clear-filter filter-item">
                <div *ngIf="isFiltersApplied;else filtersNotApplied">
                    <button kendoButton [disabled]="isFilterButtonDisabled"  (click)="clearFilters()">
                        Clear Filters
                    </button>
                </div>
                <ng-template #filtersNotApplied>
                    <button kendoButton [disabled]="isFilterButtonDisabled" (click)="applyFilters()">
                        Apply Filters
                    </button>
                </ng-template>
               
            </div>
        </div>


        <!-- POPUP AREA -->
        <kendo-popup #popup [anchor]="selectedAnchor" *ngIf="selectedFilterId" class="new-popup">

            <div [ngSwitch]="selectedFilterId" class="content">

                <!-- Status -->
                <div *ngSwitchCase="1" class="filter-body">
                    <patient-invoice-popup [statusList]="statusList" [selectedStatus]="selectedStatus" (statusClicked)="onFilterChange()">                        
                    </patient-invoice-popup>
                </div>

                <!-- Patient Responsibility (Range Popup) -->
                <div *ngSwitchCase="2" class="filter-body">
                    <app-filter-by-range-popup-client-history (valueChanged)="setPatientResponsibilityRange($event)">
                    </app-filter-by-range-popup-client-history>
                </div>
                <div *ngSwitchCase="3" class="filter-body">
                <calendar-popup [anchor]="this.dosAnchorEl" (anchorViewportLeave)="showDatePopup = false"
                *ngIf="showDatePopup" [range]="{
                    start:dateOfServiceFrom ,
                    end: dateOfServiceTo
                }"  (selectedDateEmitter)="setDatePeriod($event)" (onFilterLeave)="onDateFilterLeave()"></calendar-popup>
                </div>
                <div *ngSwitchCase="4" class="filter-body">
                    <calendar-popup [anchor]="invDateAnchorEl" (anchorViewportLeave)="showDatePopup = false"
                    *ngIf="showDatePopup" [range]="{
                        start:invoiceDateFrom ,
                        end: invoiceDateTo
                    }" (selectedDateEmitter)="setInvoiceDatePeriod($event)" (onFilterLeave)="onDateFilterLeave()"></calendar-popup>
                </div>
                <div *ngSwitchCase="5" class="filter-body">
                    <calendar-popup [anchor]="invDueAnchorEl" (anchorViewportLeave)="showDatePopup = false"
                    *ngIf="showDatePopup" [range]="{
                        start:invoiceDueDateFrom ,
                        end: invoiceDueDateTo
                    }" (selectedDateEmitter)="setInvoiceDueDatePeriod($event)" (onFilterLeave)="onDateFilterLeave()"></calendar-popup>
                </div>
                <!-- Patient Balance (NEW RANGE POPUP) -->
                <div *ngSwitchCase="6" class="filter-body">
                    <app-filter-by-range-popup-client-history (valueChanged)="setPatientBalanceRange($event)">
                    </app-filter-by-range-popup-client-history>
                </div>

                </div>

        </kendo-popup>
</div>