<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fn-billing-dev-claimresponse-download.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/05c94c0b-e493-413f-8fe4-f67b3bfc71b0/resourceGroups/rg-rta-bh-billing-dev-qa/providers/Microsoft.Web/sites/fn-billing-dev-claimresponse-download</ResourceId>
    <UserName>$fn-billing-dev-claimresponse-download</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://fn-billing-dev-claimresponse-download.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>