.title {
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    border-bottom: 1px solid var(--Black-88);
}

.title-icon {
    margin: 0 8px;
}

.title-text {
    color: var(--prim-text);
}

.body {
    padding: 20px;
}

.adjustments-header {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.2px;
}

.adjustments-total {
    margin-top: 8px;
    color: var(--Black-20);
}

.list-title {
    margin-top: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 128%;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #000000;
}

.info {
    background: var(--White-220);
    border: 1px solid var(--Black-88);
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 20px;
}

.info-line {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

    .info-line .name {
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: var(--prim-text);
    }

    .info-line .value {
        color: var(--Black-20)
    }

.dark {
    border: 1px solid var(--Black-88);
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--Blue-98);
    display: flex;
    flex-wrap: wrap;
    margin-top: 19px;
    margin-bottom: 5px;
}

    .dark .w-50,
    .dark .w-100 {
        padding: 5px 15px;
    }

    .dark .b-l {
        border-left: 1px solid var(--Black-88);
        padding-right: 0;
        padding-bottom: 0;
    }

    .dark .b-t {
        border-top: 1px solid var(--Black-88);
    }

    .dark .details {
        display: flex;
        flex-direction: column;
    }

        .dark .details .value {
            text-align: start;
        }
