SET NOEXEC OFF
SET NOCOUNT ON
SET NUMERIC_ROUNDABORT OFF
GO

SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO

SET XACT_ABORT ON
GO

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE

BEGIN TRANSACTION

IF @@ERROR <> 0 SET NOEXEC ON
GO

	--Script to insert values in table [WriteOffAction]
	INSERT INTO [dbo].[WriteOffAction]
			   ([description]
			   ,[dateCreated]
			   ,[CreatedBy])
		 VALUES
			   ('Remaining amount',GETDATE(),0),
			   ('Discount Percentage',GETDATE(),0),
			   ('Other amount',GETDATE(),0)
GO

	--Script to insert values in table [WriteOffReasonCode]
	INSERT INTO [dbo].[WriteOffReasonCode]
			   ([description]
			   ,[dateCreated]
			   ,[CreatedBy])
		 VALUES
			   ('Financial Hardship',GETDATE(),0),
			   ('MUE Adjustment',GETDATE(),0),
			   ('Exceeding Authorization',GETDATE(),0),
			   ('Bad Debt Adjustment',GETDATE(),0),
			   ('Small Balance Adjustment',GETDATE(),0),
			   ('Out of Network Adjustment',GETDATE(),0),
			   ('Prompt Pay Discount',GETDATE(),0),
			   ('Other',GETDATE(),0)
GO

	--Script to insert values in table [WriteOffApplication]
	INSERT INTO [dbo].[WriteOffApplication]
				([description]
				,[dateCreated]
				,[CreatedBy])
			VALUES
				('Newest procedure first',GETDATE(),0),
				('Oldest procedure first',GETDATE(),0),
				('Highest Balance first',GETDATE(),0),
				('Lowest Balance first',GETDATE(),0),
				('Evenly Across Procedures',GETDATE(),0),
				('Individual Charge Entry',GETDATE(),0)
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.PaymentMethod') AND type in (N'U')) AND
		(SELECT COUNT(*) FROM dbo.[PaymentMethod]) = 0
BEGIN
	INSERT INTO [dbo].[PaymentMethod]([Id],[Name],[dateCreated],[dateLastModified],[CreatedBy])
	VALUES
	(1,'Cash',GETDATE(),GETDATE(),0),
	(2,'Check',GETDATE(),GETDATE(),0),
	(3,'ACH',GETDATE(),GETDATE(),0),
	(4,'Transfer',GETDATE(),GETDATE(),0),
	(5,'Credit Card',GETDATE(),GETDATE(),0),
	(6,'Non-Payment',GETDATE(),GETDATE(),0),
	(7,'FSA/HSA',GETDATE(),GETDATE(),0)
END
GO

-- script to insert values in table [ClaimResponseFileType]
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.ClaimResponseFileType') AND type in (N'U')) AND
		(SELECT COUNT(*) FROM dbo.[ClaimResponseFileType]) = 0
BEGIN
	INSERT INTO [dbo].[ClaimResponseFileType] ([Id],[FileType]) VALUES (1,'File999'),(2,'File277')
END
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.ClaimActions') AND type in (N'U')) AND
		(SELECT COUNT(*) FROM dbo.[ClaimActions] WHERE id = 28) = 0
BEGIN
	INSERT INTO [dbo].[ClaimActions] ([Id],[name]) VALUES (28,'Claim Processing')
END
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.ClaimErrorMessages') AND type in (N'U')) 
BEGIN
	UPDATE dbo.ClaimErrorMessages SET claimErrorCategoryId = 7, shortDescription = 'Clearing House - Clearinghouse Rejected' WHERE id = 73
	UPDATE dbo.ClaimErrorMessages SET claimErrorCategoryId = 7, shortDescription = 'Clearing House - Funder Accepted With Errors' WHERE id = 74
	UPDATE dbo.ClaimErrorMessages SET claimErrorCategoryId = 7, shortDescription = 'Clearing House - Funder Rejected' WHERE id = 75
	UPDATE dbo.ClaimErrorMessages SET claimErrorCategoryId = 7, shortDescription = 'Clearing House - Funder Denied' WHERE id = 76
END
GO

--*********************************************************************************************************************************************************
-- RAN ON QA
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.ClaimHistoryActions') AND type in (N'U'))
		
BEGIN
	IF ((SELECT COUNT(*) FROM dbo.[ClaimHistoryActions] WHERE id = 56) = 0) BEGIN
		INSERT INTO [dbo].[ClaimHistoryActions] ([Id],[name],[description]) VALUES (56, 'ClaimResponseAccepted999','999 Accepted')
	END
	IF ((SELECT COUNT(*) FROM dbo.[ClaimHistoryActions] WHERE id = 57) = 0) BEGIN
		INSERT INTO [dbo].[ClaimHistoryActions] ([Id],[name],[description]) VALUES (57, 'ClaimResponseRejected999','999 Rejected')
	END
	IF ((SELECT COUNT(*) FROM dbo.[ClaimHistoryActions] WHERE id = 58) = 0) BEGIN
		INSERT INTO [dbo].[ClaimHistoryActions] ([Id],[name],[description]) VALUES (58, 'ClaimResponseAccepted277','277 Accepted')
	END
	IF ((SELECT COUNT(*) FROM dbo.[ClaimHistoryActions] WHERE id = 59) = 0) BEGIN
		INSERT INTO [dbo].[ClaimHistoryActions] ([Id],[name],[description]) VALUES (59, 'ClaimResponseRejected277','277 Rejected')
	END
	IF ((SELECT COUNT(*) FROM dbo.[ClaimHistoryActions] WHERE id = 60) = 0) BEGIN
		INSERT INTO [dbo].[ClaimHistoryActions] ([Id],[name],[description]) VALUES (60, 'ClaimResponseReceived277','277 Received')
	END
END
GO
--*********************************************************************************************************************************************************
--CHAGNES BY CHETAN - 08072024
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.ClaimStatus') AND type in (N'U')) 	
BEGIN
	IF (SELECT COUNT(*) FROM dbo.[ClaimStatus] WHERE id = 15) = 0 BEGIN
		INSERT INTO dbo.ClaimStatus VALUES (15, 'Clearinghouse - Accepted', GETDATE(), GETDATE(), null)
	END
	IF (SELECT COUNT(*) FROM dbo.[ClaimStatus] WHERE id = 16) = 0 BEGIN
		INSERT INTO dbo.ClaimStatus VALUES (16, 'Funder - Accepted', GETDATE(), GETDATE(), null)
	END
	IF (SELECT COUNT(*) FROM dbo.[ClaimStatus] WHERE id = 17) = 0 BEGIN
		INSERT INTO dbo.ClaimStatus VALUES (17, 'Funder - Received', GETDATE(), GETDATE(), null)
	END
	UPDATE DBO.ClaimStatus SET [name] = 'Clearinghouse - Rejected' WHERE id = 8
	UPDATE DBO.ClaimStatus SET [name] = 'Funder - Rejected' WHERE id = 9
	UPDATE DBO.ClaimStatus SET [name] = 'Clearinghouse - Accepted' WHERE id = 15
END
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.ClaimSubmissionStatus') AND type in (N'U')) AND
		(SELECT COUNT(*) FROM dbo.[ClaimSubmissionStatus] WHERE id = 12) = 0
BEGIN
	INSERT INTO dbo.ClaimSubmissionStatus VALUES (12, 'ClearinghouseAccepted', GETDATE(), GETDATE(), null)
END
GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.ClaimErrorMessages') AND type in (N'U'))
BEGIN
	UPDATE dbo.ClaimErrorMessages set severity = 4 where claimErrorCategoryId = 7
END
GO
--*********************************************************************************************************************************************************




IF @@ERROR <> 0 SET NOEXEC ON
GO

COMMIT TRANSACTION
GO

DECLARE @Success AS BIT
SET @Success=1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'Database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed. ROLLBACK TRANSACTION'
END
GO