<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rta-billing-stg-fn-claim-createend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/05c94c0b-e493-413f-8fe4-f67b3bfc71b0/resourceGroups/rta-billing-stg-rg/providers/Microsoft.Web/sites/rta-billing-stg-fn-claim-createend</ResourceId>
    <UserName>$rta-billing-stg-fn-claim-createend</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://rta-billing-stg-fn-claim-createend.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>