<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rta-billing-prd-fn-claim-createend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/45fd92c0-b657-4b35-99cb-06f52800331d/resourceGroups/rta-billing-prd-rg/providers/Microsoft.Web/sites/rta-billing-prd-fn-claim-createend</ResourceId>
    <UserName>$rta-billing-prd-fn-claim-createend</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://rta-billing-prd-fn-claim-createend.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>