.filter-btn {
    padding-bottom: 16px;
}
::ng-deep .k-grid .k-grid-header .k-cell-inner > .k-link > .k-sort-icon {
    vertical-align: text-top;
    margin-inline-start: calc(1rem - 1px);
}

::ng-deep .customePageator .k-input-inner{
  padding: 7px;
}