<app-client-history-invoice-filter
  [filterForm]="filterForm"
  (filterChanged)="onFilterChanged()"
></app-client-history-invoice-filter>
<div class="invoice-list">
  <kendo-grid
    #clientHistoryInvoiceGrid
    id="big-grid"
    class="slide"
    [class.filter-on]="showFilter"
    [data]="view | async"
    [pageSize]="gridState.take!"
    [skip]="gridState.skip!"
    [sort]="gridState.sort"
    [pageable]="pagingSettings"
    [sortable]="{ mode: 'single' }"
    (sortChange)="onSortChange($event)"
    [navigable]="true"
    kendoGridSelectBy="id"
    [selectable]="selectableSettings"
    [selectedKeys]="selectedIds"
    (selectionChange)="onSelectChange($event)"
    (pageChange)="onPageChange($event)"
  >
    <kendo-grid-column
      field="dateOfService"
      title="Date of Service"
      [width]="180"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.dateOfService | date : "MM/dd/yyyy" }}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="placeOfService"
      title="Place of Service"
      [width]="180"
    ></kendo-grid-column>

    <kendo-grid-column
      field="renderingProvider"
      title="Rendering Provider"
      [width]="200"
    ></kendo-grid-column>

    <kendo-grid-column
      field="insurancePayments"
      title="Insurance Payment"
      format="{0:c2}"
      [width]="200"
    ></kendo-grid-column>

    <kendo-grid-column
      field="adjustments"
      title="Adjustment"
      format="{0:c2}"
      [width]="170"
    ></kendo-grid-column>

    <kendo-grid-column
      field="adjustmentsPR"
      title="Patient Responsibility"
      format="{0:c2}"
      [width]="220"
    ></kendo-grid-column>

    <kendo-grid-column
      field="patientPayments"
      title="Patient Payments"
      format="{0:c2}"
      [width]="200"
    ></kendo-grid-column>

    <kendo-grid-column
      field="patientBalance"
      title="Patient Balance"
      format="{0:c2}"
      [width]="200"
    ></kendo-grid-column>

    <kendo-grid-column
      field="invoiceNumber"
      title="Invoice Number"
      [width]="220"
    ></kendo-grid-column>

    <kendo-grid-column
      field="status"
      title="Invoice Status"
      [width]="200"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <span
          class="invoice-status-pill"
          [ngClass]="getStatusClass(dataItem.status)"
        >{{ dataItem.status }}</span>
      </ng-template>
    </kendo-grid-column>

    <ng-template kendoPagerTemplate let-total="total">
      <div style="display: flex; width: 100%; justify-content: space-between">
        <div style="margin: auto 0" *ngIf="total > 0" class="Body1">
          Displaying {{ footerRange }}
        </div>
        <div style="margin: auto 0" *ngIf="total === 0" class="Body1">
          No items to display
        </div>
        <div style="display: flex" class="customePageator">
          <kendo-pager-page-sizes [pageSizes]="gridPageSizes"></kendo-pager-page-sizes>
          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
          <kendo-pager-numeric-buttons [buttonCount]="5"></kendo-pager-numeric-buttons>
          <kendo-pager-next-buttons></kendo-pager-next-buttons>
        </div>
      </div>
    </ng-template>
  </kendo-grid>
</div>
