<div class="claimReasonForm">
  <div class="" [formGroup]="formGroup">
    <div class="row">
      <div class="col-12 writeoff-control mt-3">
        <label for="assigneeId">Assigned To</label>
        <kendo-dropdownlist
          formControlName="assigneeId"
          [data]="assignees"
          [valuePrimitive]="true"
          textField="name"
          valueField="memberId"
          [popupSettings]="{ popupClass: 'new-style-popup' }"
        >
          <ng-template kendoDropDownListValueTemplate let-dataItem>
            <span class="dropdown-default" *ngIf="!dataItem">Select</span>
            <span *ngIf="dataItem">{{ dataItem.name }}</span>
          </ng-template>
        </kendo-dropdownlist>
      </div>
      <div class="col-12 writeoff-control">
        <label for="reasonId">Reason</label>
        <kendo-dropdownlist
          formControlName="reasonId"
          [data]="flagReasons"
          [valuePrimitive]="true"
          textField="reasonName"
          valueField="id"
          [popupSettings]="{ popupClass: 'new-style-popup' }"
        >
          <ng-template kendoDropDownListValueTemplate let-dataItem>
            <span class="dropdown-default" *ngIf="!dataItem">Select</span>
            <span *ngIf="dataItem">{{ dataItem.reasonName }}</span>
          </ng-template>
        </kendo-dropdownlist>
      </div>
    </div>
    <div class="col-12 writeoff-control">
      <label>Comments</label>
      <textarea
        class="form-control"
        placeholder="Enter Notes"
        formControlName="note"
        rows="5"
        maxlength="1000"
      ></textarea>
    </div>
  </div>

  <kendo-dialog-actions>
    <button kendoButton (click)="cancel()">Cancel</button>
    <button
      kendoButton
      [primary]="true"
      [disabled]="!formGroup.valid"
      (click)="submit()"
    >
      {{ isEditMode ? "Update" : "Save" }}
    </button>
  </kendo-dialog-actions>
</div>
