.notes-header {
    font-size: 12px;
    color:  var(--Black-60) !important;
}

label {
    margin-bottom: 0rem;
}

.k-textbox, .k-input.k-textbox, .k-textarea {
    padding: .375rem .75rem !important;
}


.writeoff-control {
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 13px;
}


.error-message {
    color: var(--Negative-88);
    margin-left: 5px;
    letter-spacing: normal;
}

.amount {
    height: 55px;
}
