.icon-24.active {
    background-color: var(--Blue-72);
}

.filter {
    transition: height ease 0.5s;
    height: 0;
    overflow-x: auto;
}

.filter.opened {
    height: 64px;
}

.filter-item {
    height: 48px;
    border: 1px solid var(--Black-10);
    width: 100%;
    padding: 0 16px;
    
    font-size: 14px;
    color: var(--Black-20);
    background-color: white;
    
    cursor: pointer;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.filter-item.active {
    border-color: var(--primary);
    background-color: var(--Black-5);
}

.filter-body {
    display: block !important;
    padding: 24px;
}

.filter-info {
    font-size: 12px;
    color: var(--Black-60);
}

.content {
    background-color: var(--White-220);
    border: 1px solid var(--Black-88);

    box-shadow: 0 8px 20px rgba(37, 40, 43, 0.08);
    border-radius: 8px;
    /*padding: 12px;*/

    margin-top: 7px;
}

.new-popup ::ng-deep.k-popup {
    background-color: transparent;
    border: none;
    margin: 0;
}

.filter-input-wrapper {
    border: 1px solid #A0A4A8;
    border-radius: 8px;
    height: 48px;
    padding: 12px;
}

.filter-input-label {
    color: var(--Black-60);
    font-size: 12px;
}

.filter-input {
    border: none;
    background-color: transparent;
    font-size: 16px !important;
    width: 70px;
}

.filter-clear-button {
    background-color: var(--White-220);   
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
