<div id="paymentGridFilterColumns" class="payment-filter-wrapper slide" [class.opened]="opened">
    <form class="k-form" [formGroup]="filterForm" style="padding: 0px 10px 0px 10px;">
        <div class="filter-line">


            <div #methodAnchorEl [class.active]="selectedFilterId == 1" class="filter-item"
                (click)="methodToggle($event)">
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <div class="filter-name">Method</div>
                        <div class="filter-info" *ngIf="selectedPaymentMethods.length">{{methodsNames}}</div>
                    </div>
                    <span [class.active]="selectedFilterId == 1 || selectedPaymentMethods.length"
                        class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
                </div>
            </div>
             
            <div #modeAnchorEl [class.active]="selectedFilterId == 5" class="filter-item" (click)="modeToggle($event)">
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <div class="filter-name">Mode</div>
                        <div class="filter-info" *ngIf="selectedModes.length">{{modeNames}}</div>
                    </div>
                    <span [class.active]="selectedFilterId == 5 || selectedModes.length" 
                        class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
                </div>
            </div>

            <div #optionAnchorEl [class.active]="selectedFilterId == 4" class="filter-item" id="receivedDate"
                (click)="optionToggle($event)">
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <div class="filter-name">Date Received</div>
                        <div class="filter-info" *ngIf="selectedOptionString">{{selectedOptionString}}</div>
                    </div>
                    <span [class.active]="selectedFilterId == 4 || selectedOptionString"
                        class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
                </div>
            </div>
            <div #funderAnchorEl [class.active]="selectedFilterId == 2" class="filter-item"
                (click)="funderToggle($event)">
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <div class="filter-name">Funder</div>
                        <div class="filter-info" *ngIf="selectedFunders.length">{{selectedFunders.length}}
                            {{selectedFunders.length == 1 ? 'item' : 'items'}}</div>
                    </div>
                    <span [class.active]="selectedFilterId == 2 || selectedFunders.length"
                        class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
                </div>
            </div>
            <div #statusAnchorEl [class.active]="selectedFilterId == 3" class="filter-item"
                (click)="statusToggle($event)">
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <div class="filter-name">Reconcile Status</div>
                        <div class="filter-info" *ngIf="selectedStatuses.length">{{statusNames}}</div>
                    </div>
                    <span [class.active]="selectedFilterId == 3 || selectedStatuses.length"
                        class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
                </div>
            </div>
            <div class="f-control" formGroupName="funderName" style="width: 100% !important;">
                <input kendoTextBox
                       formControlName="inputData"
                       class="adjust-height"
                       id="funderId"
                       #referenceNumberAnchorEl
                       placeholder="Reference Number"
                       [(ngModel)]="referenceNumber"
                       (input)="referenceNumberChange($event)"
                       />
                <input kendoTextBox type="hidden" formControlName="operator" />
            </div>
            <div class="clear-filter filter-item">
                <div *ngIf="isFiltersApplied;else filtersNotApplied">
                    <button kendoButton [disabled]="isFilterButtonDisabled" (click)="clearFilters()">
                        Clear Filters
                    </button>
                </div>
                <ng-template #filtersNotApplied>
                    <button kendoButton [disabled]="isFilterButtonDisabled" (click)="applyFilters()">
                        Apply Filters
                    </button>
                </ng-template>
                
            </div>
        </div>
    </form>
</div>

<funder-search-popup [anchor]="this.funderAnchor" (anchorViewportLeave)="showFunderPopup = false"
    *ngIf="showFunderPopup" [selectedFunders]="selectedFunders"
    (funderClickedEmmiter)="funderClicked($event)"></funder-search-popup>
<filter-status-popup [anchor]="this.statusAnchor" (anchorViewportLeave)="showStatusPopup = false"
    *ngIf="showStatusPopup" [selectedStatuses]="selectedStatuses" (statusClickedEmmiter)="statusClicked($event)"></filter-status-popup>
<filter-method-popup [anchor]="this.methodAnchor" (anchorViewportLeave)="showMethodPopup = false"
        *ngIf="showMethodPopup" [selectedPaymentMethods]="selectedPaymentMethods" (methodClickedEmmiter)="methodClicked($event)"></filter-method-popup>

<filter-mode-popup [anchor]="this.modeAnchor" (anchorViewportLeave)="showModePopup = false"
        *ngIf="showModePopup" [selectedModes]="selectedModes" (modeClickedEmmiter)="modeClicked($event)"></filter-mode-popup>

<date-received-popup #dateReceivedPopup [anchor]="this.optionAnchor" (anchorViewportLeave)="showOptionPopup = false"
        *ngIf="showOptionPopup" [selectedOption]="selectedOption" (optionClickedEmmiter)="optionClicked($event)"></date-received-popup>

    

    <received-calendar-popup #calendar [anchor]="this.optionAnchor" [parentAnchor]="parentPopup" [margin]="this.receivedPopupMargin"
        (anchorViewportLeave)="showReceivedDatePopup = false" *ngIf="showReceivedDatePopup"
        (selectedDateEmitter)="setReceivedDate($event, true)" [receivedStartDate]="selectedStartDate"
        [receivedEndDate]="selectedEndDate" (openPopupEmitter)="closeCalendar($event)" [range]="{ start:dateFrom, end: dateTo }">
    </received-calendar-popup>