<div id="EOB-info">
    <div class="" style="display:flex; align-items:center;">
        
        <div class="title Header-3">
            Transaction Info
        </div>
        <div class="right-actions">
            <button *ngIf="!payment?.isManual && payment?.paymentMethodName?.toLowerCase() !== 'revspring' && isRethinkAdminUser()"
                class="download-btn" aria-label="Download EDI"
                kendoTooltip title="EDI (Download 835 ERA file)"
                (click)="onDownloadERA()">
                <img src="/assets/img/svg/download.svg"
                     alt="download"
                     class="download-icon">
            </button>

            <outlined-btn *ngIf="(claims$ | async)"
                          text="Print"
                          iconClass="icon-24 printer-icon"
                          (onClick)="print()">
            </outlined-btn>
        </div>

    </div>

    <div class="header">
        <div class="col-wrap">
            <div class="col-h">
                <EOB-payment-info [payment]="payment"></EOB-payment-info>
            </div>
            <div class="col-h">
                <EOB-payer-info [payment]="payment"></EOB-payer-info>
            </div>
            <div class="col-h">
                <EOB-payee-info [payment]="payment"></EOB-payee-info>
            </div>
        </div>
    </div>
    <div class="title Header-3" style="margin: 32px 10px 12px 10px;">
        Claims
    </div>

    <div *ngFor="let claim of (claims$ | async)">
        <div class="claim-container">
            <div style="display: flex; justify-content: space-between;">
                <div class="claim-title Header-4">
                    Claim #<span class="claim-title-identifier">{{claim.claimIdentifier}}</span>
                </div>
                <div class="claim-status status-wrapper">
                    <div class="status-name-alignment" [ngClass]="'status-name ' + claim.status.toLowerCase()">
                        {{claim.status}}
                    </div>
                </div>
            </div>
            <div class="col-wrap">
                <div class="col-h">
                    <div>
                        <div class="Button">Claim Info:</div>
                        <div class="group">
                            <div class="property">Total Billed</div>
                            <div class="value">{{claim?.billedAmount || 0 | currency}}</div>
                        </div>
                        <div class="group">
                            <div class="property">Total Payment</div>
                            <div class="value">{{claim?.paidAmount || 0 | currency}}</div>
                        </div>
                        <div class="group">
                            <div class="property">Patient Responsibility</div>
                            <div class="value">{{claim?.patientResponsibility || 0 | currency}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-h">
                    <div>
                        <div class="Button">{{claim.patientName}}</div>
                        <div class="group">
                            <div class="property">Patient ID</div>
                            <div class="value">{{claim?.patientId}}</div>
                        </div>
                        <div class="group">
                            <div class="property">Provider</div>
                            <div class="value">{{claim?.providerName}}</div>
                        </div>
                        <div class="group">
                            <div class="property">Provider ID</div>
                            <div class="value">{{claim?.providerId}}</div>
                        </div>
                    </div>
                </div>

                <div class="col-h">
                    <div>
                        <div class="Button">Payer Claim Number {{claim.payerClaimNumber}}</div>
                        <div class="group">
                            <div class="property">Place of Service</div>
                            <div class="value">{{claim?.placeOfService}}</div>
                        </div>
                        <div class="group">
                            <div class="property">Dates of Service</div>
                            <div class="value">
                                {{claim?.claimDateFrom | date: 'MM/dd/yyyy'}} - 
                                {{claim?.claimDateTo | date: 'MM/dd/yyyy'}}
                            </div>
                        </div>
                        <div class="group">
                            <div class="property">Claim Received</div>
                            <div class="value">
                                {{claim?.claimReceived || currentDate | date: 'MM/dd/yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <kendo-grid #grid class="Body2 adjustments-grid"
                        [data]="claim?.serviceLines">

                <kendo-grid-column [width]="120" title="DOS">
                    <ng-template kendoGridCellTemplate let-dateItem>
                        {{dateItem.dateOfService | date: 'MM/dd/yyyy'}}
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="procedure" title="Procedure"></kendo-grid-column>
                <kendo-grid-column field="units" title="Units"></kendo-grid-column>
                <kendo-grid-column field="billedAmount" title="Billed" format="{0:c2}"></kendo-grid-column>
                <kendo-grid-column field="allowedAmount" title="Allowed" format="{0:c2}"></kendo-grid-column>
                <kendo-grid-column field="adjustment" title="Adjustment" format="{0:c2}"></kendo-grid-column>

                <kendo-grid-column field="reasonCode" title="Reason Code">
                    <ng-template kendoGridCellTemplate let-dateItem>
                        <div *ngFor="let item of dateItem.reasonCodeData">
                            <div class="info-icon-block" kendoTooltip filter="span" style="display: inline-block;">
                                {{item.reasonCode}}
                            </div><br/>
                        </div>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Description">
                    <ng-template kendoGridCellTemplate let-dateItem>
                        <div *ngFor="let item of dateItem.reasonCodeData">
                            <div class="info-icon-block" kendoTooltip filter="span" style="display: inline-block;">
                                {{item.combinedCode}}
                                <span class="icon-24 info-icon"
                                      style="margin-bottom: -6px;"
                                      [title]="item.description"></span>
                            </div><br/>
                        </div>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="deductibleAmount" title="Deductible" format="{0:c2}"></kendo-grid-column>
                <kendo-grid-column field="coPayCoInsAmount" title="Co-Ins/Co-Pay" format="{0:c2}" [width]="150"></kendo-grid-column>
                <kendo-grid-column field="paidAmount" title="Payment" format="{0:c2}"></kendo-grid-column>

            </kendo-grid>
        </div>
    </div>
</div>