.title {
    margin: 17px 10px 4px;
}

.header {
    padding: 20px 0px 0;
}

    .header .col-wrap {
        display: flex;
    }

    .header .col-h {
        width: 33.33%;
        margin: 0 12px 0 12px;
    }

::ng-deep .strech-vert {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.claim-container {
    background-color: var(--White-220);
    border: 1px solid var(--Black-88);
    box-sizing: border-box;
    border-radius: 8px;
    margin: 24px 10px;
    padding: 24px 32px 36px 32px;
}

    .claim-container .claim-title {
        margin-bottom: 18px;
    }

    .claim-container .claim-title-identifier {
        color: var(--Blue-80);
    }

    .claim-container .col-wrap {
        display: flex;
        margin: 0 -5px 20px;
    }

    .claim-container .col-h {
        width: 33.33%;
        margin: 0 5px;
        background: var(--Blue-98);
        border: 1px solid var(--Black-88);
        box-sizing: border-box;
        border-radius: 8px;
        padding: 16px 20px;
    }

    .claim-container .group {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
    }

#EOB-payment-print .title-phone,
#EOB-payment-print .title-email {
    margin: auto 10px;
}

#EOB-payment-print .group {
    display: flex;
    justify-content: start;
    padding-bottom: 0;
}

#EOB-payment-print .col-h {
    border-radius: 0;
    background-color: #fff;
    margin-right: 0;
}

#EOB-payment-print .col-2h {
    border-radius: 0;
    background-color: #fff;
    width: 66.66%;
    margin: 0 12px 0 0;
}

#EOB-payment-print {
    display: none;
}

@media print {
    ::ng-deep app {
        display: flex !important;
    }

    ::ng-deep html {
        zoom: 200%;
    }

    ::ng-deep mat-tab-header {
        display: none !important;
    }

    ::ng-deep mat-tab-header {
        display: none !important;
    }

    ::ng-deep .legend {
        display: none !important;
    }

    ::ng-deep .billing-menu {
        display: none !important;
    }

    #EOB-info {
        display: none !important;
    }

    #EOB-payment-print {
        display: block !important;
    }


    ::ng-deep #EOB-payment-print div.claim-container {
        break-inside: avoid;
    }
}
.right-actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.download-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.download-icon {
  width: 1em;
  height: 1em;
  font-size: inherit; 
}


::ng-deep .k-tooltip {
  max-width: 300px;
  white-space: normal;
  word-wrap: break-word;
}