.dark {
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--Blue-98);
    display: flex;
    flex-wrap: wrap;
    margin-top: 19px;
    margin-bottom: 5px;
}

.dark .w-50,
.dark .w-100 {
    padding: 10px 15px;
}

/*.dark .b-l {
    border-left: 1px solid var(--Black-88);
    padding-right: 0;
    padding-bottom: 0;
}

.dark .b-t {
    border-top: 1px solid var(--Black-88);
}*/

.dark .details {
    display: flex;
    flex-direction: column;
}

.dark .details-header {
    line-height: 120%;
    padding: 13px;
}

.dark .details .value {
    text-align: start;
    white-space: pre-line;
}

.dark .details select.value,
.dark .details input.value {
    border: none;
    padding: 0 !important;
    outline: none;
    background: transparent;
}

.appointments-title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1px;
}

.appointment-name {
    color: var(--Black-32);
    font-size: 14px;
}

.appointment-font {
    font-size: 12px;
}

.span-nav-link {
    cursor:pointer;
    color:var(--link-text);
}

/*borders*/

.b {
    border: 1px solid var(--Black-88);
}

.bh:hover {
    border-color: var(--Blue-84);
}

.b-t-n {
    border-top: none;
}

.b-b-n {
    border-bottom: none;
}

.br-tl {
    border-radius: 10px 0 0 0;
}

.br-tr {
    border-radius: 0 10px 0 0;
}

.br-bl {
    border-radius: 0 0 0 10px;
}

.br-br {
    border-radius: 0 0 10px 0;
}

.br-b {
    border-radius: 0 0 10px 10px;
}

.br-t {
    border-radius: 10px 10px 0 0;
}

.bh:hover.hasError,
.hasError {
    border-color: var(--Negative-88);
}

.hasError .property {
    color: var(--Negative-88);
}