<div id="paymentGridFilterColumns" class="payment-filter-wrapper slide" [class.opened]="opened">
    <form class="k-form" [formGroup]="filterForm" style="padding: 0px 10px 0px 10px;">
        <div class="filter-line">
     
    <div #DateOfServiceAnchor [class.active]="selectedFilterId == 5" class="filter-item"
       (click)="selectFilter(5, DateOfServiceAnchor)">
    <div class="d-flex">
      <div class="d-flex flex-column" >
        <div class="filter-name" >Date of Service</div>
                <div class="filter-info" *ngIf="(dateFromString != undefined || dateToString != undefined)">
                    {{dateFromString}} -
                    {{dateToString}}</div>
        </div>
      <span [class.active]="selectedFilterId == 5 || (dateFromString != undefined || dateToString != undefined)"
            class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
    </div>
  </div>


            <div #placeOfServiceAnchorEl [class.active]="selectedFilterId == 1" class="filter-item" (click)="selectFilter(1, placeOfServiceAnchorEl)">
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <div class="filter-name">Place of Service</div>
                        <div class="filter-info" *ngIf="selectedPlaceOfService">{{selectedPlaceOfService.length}}
                            {{selectedPlaceOfService.length == 0 ? 'item' : 'items'}}
                        </div>
                    </div>
                    <span [class.active]="selectedFilterId == 1 || selectedPlaceOfService.length" class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
                </div>
            </div>

            <div #renderingProviderAnchorEl [class.active]="selectedFilterId == 2" class="filter-item" (click)="selectFilter(2, renderingProviderAnchorEl)">
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <div class="filter-name">Rendering Provider</div>
                        <div class="filter-info" *ngIf="selectedRenderingProviders">{{selectedRenderingProviders.length}}
                            {{selectedRenderingProviders.length == 0 ? 'item' : 'items'}}
                        </div>
                    </div>
                    <span [class.active]="selectedFilterId == 2 || selectedRenderingProviders.length" 
                    class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
                </div>
            </div>

            <div #authorizationAnchorEl [class.active]="selectedFilterId == 3" class="filter-item" (click)="selectFilter(3, authorizationAnchorEl)">
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <div class="filter-name">Authorization Number</div>
                        <div class="filter-info" *ngIf="selectedAuthNumber">
                            {{selectedAuthNumber.length}} 
                            {{selectedAuthNumber.length == 0 ? 'item' : 'items'}}</div>
                    </div>
                    <span [class.active]="selectedFilterId == 3 || selectedAuthNumber.length" class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
                </div>
            </div>

         <!-- Funder Filter -->
          <div #funderAnchorEl [class.active]="selectedFilterId == 4" class="filter-item"
            (click)="selectFilter(4, funderAnchorEl)">
            <div class="d-flex">
            <div class="d-flex flex-column">
                <div class="filter-name">Primary Funder</div>
                        <div class="filter-info" *ngIf="selectedFunders">{{selectedFunders.length}}
                            {{selectedFunders.length == 0 ? 'item' : 'items'}}</div>
                </div>
                <span [class.active]="selectedFilterId == 4 || selectedFunders.length"
                    class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
            </div>
        </div>


    <kendo-popup #popup *ngIf="selectedFilterId == 5" 
    [anchor]="this.DateOfServiceAnchor" class="new-popup">
        <div class="content">
            <div class="filter-body">
                <calendar-popup  #popup *ngIf="showDatePopup" 
                [anchor]="this.DateOfServiceAnchor" 
                (anchorViewportLeave)="showDatePopup = false"
                    [range]="{ start:dateFrom , 
                        end: dateTo }" 
                    (selectedDateEmitter)="setDatePeriod($event)" 
                    (onFilterLeave)="onDateFilterLeave()">
                </calendar-popup>
            </div>
        </div>
    </kendo-popup>
    <kendo-popup #popup *ngIf="selectedFilterId == 1" [anchor]="placeOfServiceAnchorEl" class="new-popup">
        <div class="content">
            <div class="filter-body">
                <placeofservice-filter-popup [selectedPlaceOfService]="selectedPlaceOfService" (posClicked)="onFilterChange()"></placeofservice-filter-popup>
            </div>
        </div>
    </kendo-popup>
    <kendo-popup #popup *ngIf="selectedFilterId == 2" [anchor]="renderingProviderAnchorEl" class="new-popup">
        <div class="content">
            <div class="filter-body">
                <claim-filters-rendering-provider-popup [selectedRenderingProviders]="selectedRenderingProviders" (renderingProviderClicked)="onFilterChange()"></claim-filters-rendering-provider-popup>
            </div>
        </div>
    </kendo-popup>
    <kendo-popup #popup *ngIf="selectedFilterId == 3" [anchor]="authorizationAnchorEl" class="new-popup">
        <div class="content">
            <div class="filter-body">
                <authorization-filter-popup [selectedAuthNumber]="selectedAuthNumber" callingFrom="chargeHistory" (authorizationClicked)="onFilterChange()"></authorization-filter-popup>
            </div>
        </div>
    </kendo-popup>
    <kendo-popup #popup *ngIf="selectedFilterId == 4" [anchor]="funderAnchorEl" class="new-popup">
        <div class="content">
            <div class="filter-body">
                <funder-filter-popup [selectedfunders]="selectedFunders" callingFrom="chargeHistory" (funderClicked)="onFilterChange()"></funder-filter-popup>
            </div>
        </div>
    </kendo-popup>


            <!-- Apply / Clear Filters -->
        <div class="clear-filter filter-item">
        <div *ngIf="!showClearFilter;else filtersNotApplied">
            <button kendoButton (click)="applyFilters()" 
            [disabled]="selectedPlaceOfService.length == 0 
                && selectedFunders.length == 0
                && selectedRenderingProviders.length == 0
                && selectedAuthNumber.length == 0
                && !(dateFromString && dateToString)">
                Apply Filters
            </button>
        </div>
        <ng-template #filtersNotApplied>
            <button kendoButton [disabled]="isClearFilterDisabled"  (click)="clearFilters()">
                Clear Filters
            </button>
        </ng-template>        
    </div>
        </div>
    </form>
</div>
