<kendo-dialog class="dialog-wrapper" width="600">
    <div kendoDialogContainer class="dialog-body">
        <div class="title">
            Add Attachment
        </div>

        <div [ngClass]="{'drag-over': isDraggedOver}" class="dropzone" paymentDragDrop
             (onFileDropped)="onFileDropped($event)"
             (onFileDragOver)="onFileDragOver()" (onFileDragLeave)="onFileDragLeave()">
            <input type="file" [accept]="allowedTypes" #fileDropRef id="fileDropRef" multiple
                   (change)="fileBrowseHandler($event)"/>
            <div class="placeholder">
                <span class="icon software-upload-icon"></span>
                <ng-template [ngIf]="!isDraggedOver">
                    <span>Drag and drop your file here or </span>
                    <label for="fileDropRef">browse</label>
                </ng-template>
                <ng-template [ngIf]="isDraggedOver">
                    <span>Upload</span>
                </ng-template>                
                <p *ngIf="unsupportedFileMessage" class="error-message">{{unsupportedFileMessage}}</p>                
            </div>
        </div>

        <div *ngIf="files.length" class="files-list">
            <div class="files-list-title">Uploads</div>
            <div class="file-info d-flex justify-content-between" *ngFor="let file of files">
                <div class="d-flex">
                    <span class="icon file-document-icon"></span>
                    <span>{{file.name}}</span>
                </div>
                <div class="d-flex">
                    <ng-template [ngIf]="file.isLoading">
                        <span class="mr-2" *ngIf="file.progress !== 100">{{getSize(file.size * (file.progress / 100))}}
                            of {{getSize(file.size)}}</span>
                        <span class="mr-2" *ngIf="file.progress === 100">Loading</span>
                        <circle-progress-bar class="mr-2" [value]="file.progress"></circle-progress-bar>
                        <span class="icon-24 denied-icon pointer"></span>
                    </ng-template>

                    <ng-template [ngIf]="!file.isLoading && file.isSuccessful">
                        <span class="mr-2" style="color: var(--Positive-84)">Uploaded</span>
                        <span (click)="deleteAttachment(file)" [ngClass]="{'disabled': file.id == undefined}"
                              [class.item-disabled]="file.isDeleting" class="icon-24 trash-icon pointer"></span>
                    </ng-template>
                    
                    <ng-template [ngIf]="!file.isLoading && !file.isSuccessful">
                        <span class="mr-2" style="color: var(--Negative-88)">Upload failed</span>
                        <span (click)="uploadFile(file)" class="pointer mr-2" style="color: var(--Blue-72)">Retry</span>
                        <span (click)="removeAttachment(file)" class="icon-24 denied-icon pointer" [class.item-disabled]="file.isDeleting"></span>
                    </ng-template>
                </div>

                

            </div>
        </div>

        <div class="d-flex flex-row-reverse">
            <!--            <contained-btn [isDisabled]="!files.length" class="pointer ml-3" text="Add Attachment"-->
            <!--                            (onClick)="onCloseDialog()"></contained-btn>-->
            <outlined-btn class="pointer" text="Close" (onClick)="cancel()"></outlined-btn>
        </div>
    </div>
</kendo-dialog>
