.step-title, .sub-title {
    margin-bottom: 8px;
}

.diagnosis-code-control {
    display: flex;
    flex-direction: column;
    /* width: 340px; */
}

.diagnosis-code-control ::ng-deep.k-dropdown {
    width: 100%;
}

.diagnosis-code-controls-line {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 340px); */
    grid-gap: 8px;
    justify-content: space-between;
    margin-bottom: 40px;
}


.edit-icon {
    position: absolute;
    top: 32px;
    right: 18px;
}

.edit-icon:focus, .edit-icon:active, .edit-icon:hover {
    background-color: var(--Blue-72);
}