.inline-edit {
    max-width: 80px;
    max-height: 24px;
    margin: 3px 3px 3px 0;
    /* background-color: #dbdde0; */
    border-radius: 4px;
    border-color: #dbdde0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.actions {
    display: none;
    max-height: 20px;
}

.status:hover .actions {
    display: block;
}

.status:hover .status-wrapper {
    display: none;
}

::ng-deep .k-expander-cell {
    text-overflow: clip;
}
::ng-deep .k-grid-md .k-table-th > .k-cell-inner > .k-link{
    display: block;
    text-overflow: ellipsis;
}

#serviceLinesGrid {
    overflow-x: scroll;
}