<ng-container>
    <kendo-grid #serviceLinesGrid
                class="Body2"
                [data]="gridData"
                [navigable]="false"
                [selectable]="{enabled: true, checkboxOnly: true}"
                kendoGridSelectBy="id"
                [selectedKeys]="mySelection">
        
        <!-- <kendo-grid-checkbox-column [showSelectAll]="true" [width]="50">
            <ng-template kendoGridHeaderTemplate>
                <input kendoCheckBox type="checkbox" [checked]="this._selectAllLines"
                       (change)="selectAllLinesChanged($event)"/>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" (change)="rowSelectionClick($event, dataItem)"
                    [checked]="dataItem.checked"/>
            </ng-template>
        </kendo-grid-checkbox-column> -->

        <!-- <kendo-grid-column field="billingCode" title="Billing Code" class="border-bottom border-top p-0" [width]="100">
            <ng-template kendoGridHeaderTemplate let-column>
                <span kendoTooltip title={{column.title}}>{{column.title}}</span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                <div class="nav-link" >{{dataItem.billingCode}}</div>
            </ng-template>
        </kendo-grid-column> -->

        <kendo-grid-column field="billingCode" title="Billing Code" class="border-bottom border-top p-0" 
            [width]="100">
            <ng-template kendoGridHeaderTemplate let-column>
                <span kendoTooltip title={{column.title}}>{{column.title}}</span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="dateOfService" title="Date of Service" class="border-bottom border-top p-0"
            format="{ date: 'short' }" [width]="120">
            <ng-template kendoGridHeaderTemplate let-column>
                <span kendoTooltip title={{column.title}}>{{column.title}}</span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="units" title="Units" class="border-bottom border-top p-0"
            [width]="100">
            <ng-template kendoGridHeaderTemplate let-column>
                <span kendoTooltip title={{column.title}}>{{column.title}}</span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="billedAmount" title="Charge" class="border-bottom border-top p-0"
            format="{0:c2}" [width]="160">
            <ng-template kendoGridHeaderTemplate let-column>
                <span kendoTooltip title={{column.title}}>{{column.title}}</span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="insurancePayments" title="Insurance Payment" class="border-bottom border-top p-0"
            format="{0:c2}" [width]="160">
            <ng-template kendoGridHeaderTemplate let-column>
                <span kendoTooltip title={{column.title}}>{{column.title}}</span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="adjustments" title="Adjustment" class="border-bottom border-top p-0"
            format="{0:c2}" [width]="160">
            <ng-template kendoGridHeaderTemplate let-column>
                <span kendoTooltip title={{column.title}}>{{column.title}}</span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="adjustmentsPR" title="Patient Responsibility" class="border-bottom border-top p-0"
            format="{0:c2}" [width]="160">
            <ng-template kendoGridHeaderTemplate let-column>
                <span kendoTooltip title={{column.title}}>{{column.title}}</span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="patientPayments" title="Patient Payment" class="border-bottom border-top p-0"
            format="{0:c2}" [width]="160">
            <ng-template kendoGridHeaderTemplate let-column>
                <span kendoTooltip title={{column.title}}>{{column.title}}</span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="patientBalance" title="Patient Balance" class="border-bottom border-top p-0"
            format="{0:c2}" [width]="160">
            <ng-template kendoGridHeaderTemplate let-column>
                <span kendoTooltip title={{column.title}}>{{column.title}}</span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="status" title="Status" class="border-bottom border-top p-0"
            [width]="100">
            <ng-template kendoGridHeaderTemplate let-column>
                <span kendoTooltip title={{column.title}}>{{column.title}}</span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="invoiceDate" title="Invoice Date" class="border-bottom border-top p-0"
            format="{ date: 'short' }" [width]="120">
            <ng-template kendoGridHeaderTemplate let-column>
                <span kendoTooltip title={{column.title}}>{{column.title}}</span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="paymentDue" title="Invoice Due Date" class="border-bottom border-top p-0"
            format="{ date: 'short' }" [width]="120">
            <ng-template kendoGridHeaderTemplate let-column>
                <span kendoTooltip title={{column.title}}>{{column.title}}</span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="invoiceNumber" title="Invoice Number" class="border-bottom border-top p-0" [width]="150">
            <ng-template kendoGridHeaderTemplate let-column>
                <span kendoTooltip title={{column.title}}>{{column.title}}</span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                <div *ngIf="!canEdit">{{dataItem.invoiceNumber}}</div>
                <div *ngIf="canEdit" kendoTooltip title="Download Invoice" class="nav-link" (click)="getInvoicePrint(dataItem.invoiceNumber, dataItem.clientId)">{{dataItem.invoiceNumber}}</div>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</ng-container>