<div class="modifiersForm" [formGroup]="formGroup">
    <input kendoTextBox type="text" class="inline-edit-modifier"
        #unitInput1
        id="modifier1"
        maxlength="2"
        alfanumericOnly
        (focus)="unitInput1.select()"
        autocomplete="off"
        (keydown.space)="$event.preventDefault();"
        (input)="onUpdateModifier()"
        formControlName="modifier1"/>
    <input kendoTextBox type="text" class="inline-edit-modifier"
        #unitInput2
        id="modifier2"
        maxlength="2"
        alfanumericOnly
        (focus)="unitInput2.select()"
        autocomplete="off"
        (keydown.space)="$event.preventDefault();"
        (input)="onUpdateModifier()"
        formControlName="modifier2"/>
    <input kendoTextBox type="text" class="inline-edit-modifier"
        #unitInput3
        id="modifier3"
        maxlength="2"
        alfanumericOnly
        (focus)="unitInput3.select()"
        autocomplete="off"
        (keydown.space)="$event.preventDefault();"
        (input)="onUpdateModifier()"
        formControlName="modifier3"/>
    <input kendoTextBox type="text" class="inline-edit-modifier"
        #unitInput4
        id="modifier4"
        maxlength="2"
        alfanumericOnly
        (focus)="unitInput4.select()"
        autocomplete="off"
        (keydown.space)="$event.preventDefault();"
        (input)="onUpdateModifier()"
        formControlName="modifier4"/>
</div>