SET NOEXEC OFF
SET NOCOUNT ON
SET NUMERIC_ROUNDABORT OFF
GO

SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO

SET XACT_ABORT ON
GO

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE

BEGIN TRANSACTION

IF @@ERROR <> 0 SET NOEXEC ON
GO
--- DATAFIX script for ChargeTransactions ---

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.ChargeTransactions') AND type in (N'U'))
BEGIN

	DELETE FROM dbo.ChargeTransactions

END
GO

IF @@ERROR <> 0 SET NOEXEC ON
GO
--- DATAFIX script for ClaimTransactions ---

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.ClaimTransactions') AND type in (N'U'))
BEGIN

DELETE FROM dbo.ClaimTransactions

END
GO

IF @@ERROR <> 0 SET NOEXEC ON
GO
--- DATAFIX script for AR ---

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'Reporting.AccountsReceivable') AND type in (N'U'))
BEGIN

DELETE FROM Reporting.AccountsReceivable

END
GO

IF @@ERROR <> 0 SET NOEXEC ON
GO
--- DATAFIX script for PayAdj ---

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'Reporting.PaymentsAdjustments') AND type in (N'U'))
BEGIN

DELETE FROM Reporting.PaymentsAdjustments

END
GO


IF @@ERROR <> 0 SET NOEXEC ON
GO

COMMIT TRANSACTION
GO

DECLARE @Success AS BIT
SET @Success=1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'Database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed. ROLLBACK TRANSACTION'
END
GO