<header-toolbar
  class="header-position"
  [headerTitle]="headerText"
  [isBackBtnShow]="false"
  [isProfileShow]="false"
  [breadcrumbs]="breadcrumbs"
>
  <!-- <div>
    <contained-btn text="Switch Client"
                   [routerLink]="['/billing/clienthistory/list']"
                   style="width: auto; margin-right: 20px;">
    </contained-btn>
  </div> -->
</header-toolbar>

<div class="client-history-charge-box">
  <table
    class="client-history-charge-table table table-bordered table-striped w-100"
  >
    <thead>
      <tr>
        <th style="width: 140px">Client Name</th>
        <th style="width: 80px">Client ID</th>
        <th style="width: 80px">Gender</th>
        <th style="width: 100px">Date of Birth</th>
        <th style="width: 80px">Age</th>
        <th style="width: 150px">Location</th>
        <th style="width: 180px">Primary Funder</th>
        <th style="width: 180px">Secondary Funder</th>
        <th style="width: 150px">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ selectedClientDetails.clientName }}</td>
        <td>{{ selectedClientDetails.clientId }}</td>
        <td>{{ selectedClientDetails.gender }}</td>
        <td>{{ selectedClientDetails.dateOfBirth | date : "d MMMM y" }}</td>
        <td>{{ selectedClientDetails.age }} yrs</td>
        <td>{{ selectedClientDetails.location }}</td>
        <td>{{ selectedClientDetails.primaryFunder }}</td>
        <td>{{ selectedClientDetails.secondaryFunder }}</td>
        <td>{{ selectedClientDetails.address }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="encounter-tabs">
  <div class="mat-mdc-tab-label-container">
    <mat-tab-group
      class="single-tab"
      mat-align-tabs="start"
      [(selectedIndex)]="selectedTabIndex"
      (selectedIndexChange)="updateBreadcrumbs()"
    >
      <mat-tab label="Charges">
        <div class="charges-tab-content">
          <div class="flex-column">
            <div class="header-actions-wrapper">
              <div style="display: flex"></div>
            </div>
            <app-client-history-charge-filter
              [filterForm]="filterForm"
              (filterChanged)="onFilterChanged()"
            ></app-client-history-charge-filter>
            <div class="payment-list">
              <kendo-grid
                #paymentPostingGrid
                id="big-grid"
                class="slide"
                [class.filter-on]="showFilter"
                [data]="view | async"
                [pageSize]="gridState.take!"
                [skip]="gridState.skip!"
                [sort]="gridState.sort"
                [pageable]="pagingSettings"
                [sortable]="{ mode: 'single' }"
                (sortChange)="onSortChange($event)"
                [navigable]="true"
                kendoGridSelectBy="id"
                [selectable]="selectableSettings"
                [selectedKeys]="selectedIds"
                (selectionChange)="onSelectChange($event)"
                (pageChange)="onPageChange($event)"
              >
                <!-- Client Name with Hyperlink -->
                <kendo-grid-column
                  field="dateOfService"
                  title="Date of Service"
                  class="border-bottom border-top p-0"
                  [width]="150"
                >
                  <ng-template kendoGridCellTemplate let-dataItem>
                    {{ dataItem.dateOfService | date : "MM/dd/yyyy" }}
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column
                  field="placeOfService"
                  title="Place of Service"
                  class="border-bottom border-top p-0"
                  [width]="180"
                >
                </kendo-grid-column>
                <kendo-grid-column
                  field="renderingProvider"
                  title="Rendering Provider"
                  class="border-bottom border-top p-0"
                  [width]="180"
                >
                </kendo-grid-column>
                <kendo-grid-column
                  field="authorizationNumber"
                  title="Authorization Number"
                  class="border-bottom border-top p-0"
                  [width]="200"
                >
                </kendo-grid-column>
                <kendo-grid-column
                  field="modifiers"
                  title="Modifiers"
                  class="border-bottom border-top p-0"
                  [width]="150"
                >
                </kendo-grid-column>
                <kendo-grid-column
                  field="diagnosis"
                  title="Diagnosis"
                  class="border-bottom border-top p-0"
                  [width]="150"
                >
                </kendo-grid-column>

                <kendo-grid-column
                  field="primaryFunder"
                  title="Primary Funder"
                  class="border-bottom border-top p-0"
                  [width]="180"
                >
                </kendo-grid-column>

                <kendo-grid-column
                  field="primaryClaimID"
                  title="Primary Claim ID"
                  class="border-bottom border-top p-0"
                  [width]="180"
                >
                </kendo-grid-column>

                <kendo-grid-column
                  field="claimStatus"
                  title="Claim Status"
                  class="border-bottom border-top p-0"
                  [width]="180"
                >
                </kendo-grid-column>

                <kendo-grid-column
                  field="hours"
                  title="Hours"
                  class="border-bottom border-top p-0"
                  [width]="130"
                >
                </kendo-grid-column>

                <kendo-grid-column
                  field="units"
                  title="Units"
                  class="border-bottom border-top p-0"
                  [width]="150"
                >
                </kendo-grid-column>

                <kendo-grid-column
                  field="perUnitCharge"
                  title="Per Unit Charge"
                  format="{0:c2}"
                  class="border-bottom border-top p-0"
                  [width]="160"
                >
                </kendo-grid-column>

                <kendo-grid-column
                  field="billedAmount"
                  title="Billed Amount"
                  format="{0:c2}"
                  class="border-bottom border-top p-0"
                  [width]="160"
                >
                </kendo-grid-column>

                <kendo-grid-column
                  field="insurancePayment"
                  title="Insurance Payments"
                  format="{0:c2}"
                  class="border-bottom border-top p-0"
                  [width]="200"
                >
                </kendo-grid-column>
                <kendo-grid-column
                  field="adjustments"
                  title="Adjustments(s)"
                  format="{0:c2}"
                  class="border-bottom border-top p-0"
                  [width]="180"
                >
                </kendo-grid-column>
                <kendo-grid-column
                  field="claimBalance"
                  title="Claim Balance"
                  format="{0:c2}"
                  class="border-bottom border-top p-0"
                  [width]="180"
                >
                </kendo-grid-column>
                <kendo-grid-column
                  field="invoiceNumber"
                  title="Invoice Number"
                  format="{0:c2}"
                  class="border-bottom border-top p-0"
                  [width]="180"
                >
                </kendo-grid-column>
                <kendo-grid-column
                  field="invoiceStatus"
                  title="Invoice Status"
                  format="{0:c2}"
                  class="border-bottom border-top p-0"
                  [width]="180"
                >
                </kendo-grid-column>
                <kendo-grid-column
                  field="patientResponsibility"
                  title="Patient Responsibility"
                  format="{0:c2}"
                  class="border-bottom border-top p-0"
                  [width]="200"
                >
                </kendo-grid-column>
                <kendo-grid-column
                  field="patientPayments"
                  title="Patient Payments"
                  format="{0:c2}"
                  class="border-bottom border-top p-0"
                  [width]="180"
                >
                </kendo-grid-column>
                <kendo-grid-column
                  field="patientBalance"
                  title="Patient Balance"
                  format="{0:c2}"
                  class="border-bottom border-top p-0"
                  [width]="180"
                >
                </kendo-grid-column>

                <!-- Pager -->
              <ng-template kendoPagerTemplate let-total="total">
                  <div style="display: flex; width: 100%; justify-content: space-between">
                    <div style="margin: auto 0" *ngIf="total > 0" class="Body1">
                      Displaying {{ footerRange }}
                    </div>
                    <div style="margin: auto 0" *ngIf="total === 0" class="Body1">
                      No items to display
                    </div>
                    <div style="display: flex" class="customePageator">
                      <kendo-pager-page-sizes [pageSizes]="gridPageSizes"></kendo-pager-page-sizes>
                      <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                      <kendo-pager-numeric-buttons [buttonCount]="5"></kendo-pager-numeric-buttons>
                      <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    </div>
                  </div>
                </ng-template>
              </kendo-grid>
            </div>
          </div>
        </div>
      </mat-tab>
      <div *ngIf="canViewPatientInvoicing">
        <mat-tab label="Invoices">
          <div class="invoices-tab-content">
            <div class="flex-column">
              <div class="header-actions-wrapper">
                <div style="display: flex"></div>
              </div>
              <app-client-history-invoice></app-client-history-invoice>
            </div>
          </div>
        </mat-tab>
      </div>
    </mat-tab-group>
  </div>
</div>

<div kendoDialogContainer></div>
