<div
  class="d-flex w-100 justify-content-between filter"
  [class.opened]="opened"
>
  <div
    #clientAnchor
    [class.active]="selectedFilterId == 0"
    class="filter-item"
    (click)="selectFilter(0, clientAnchor)"
  >
    <div class="d-flex">
      <div class="d-flex flex-column" [style.width.px]="80">
        <div class="filter-name">Client</div>
        <div class="filter-info" *ngIf="selectedPatients.length">
          {{ selectedPatients.length }}
          {{ selectedPatients.length == 1 ? "item" : "items" }}
        </div>
      </div>
      <span
        [class.active]="selectedFilterId == 0 || selectedPatients.length"
        class="mr-0 icon-24 down-icon pointer filter-actions-icon"
      ></span>
    </div>
  </div>

  <div
    #funderAnchor
    [class.active]="selectedFilterId == 1"
    class="filter-item"
    (click)="selectFilter(1, funderAnchor)"
  >
    <div class="d-flex">
      <div class="d-flex flex-column" [style.width.px]="120">
        <div class="filter-name">Funder</div>
        <div class="filter-info" *ngIf="selectedFunders.length">
          {{ selectedFunders.length }}
          {{ selectedFunders.length == 1 ? "item" : "items" }}
        </div>
      </div>
      <span
        [class.active]="selectedFilterId == 1 || selectedFunders.length"
        class="mr-0 icon-24 down-icon pointer filter-actions-icon"
      ></span>
    </div>
  </div>

  <!-- <div #locationAnchor [class.active]="selectedFilterId == 9" class="filter-item"
       (click)="selectFilter(9, locationAnchor)">
    <div class="d-flex">
      <div class="d-flex flex-column" [style.width.px]="120">
        <div class="filter-name">Location</div>
        <div class="filter-info" *ngIf="selectedLocations.length">{{selectedLocations.length}}
          {{selectedLocations.length == 1 ? 'item' : 'items'}}</div>
      </div>
      <span [class.active]="selectedFilterId == 9 || selectedLocations.length"
        class="mr-0 icon-24 down-icon pointer filter-actions-icon"></span>
    </div>
  </div> -->

  <div
    #balanceAnchor
    [class.active]="selectedFilterId == 2"
    class="filter-item"
    (click)="selectFilter(2, balanceAnchor)"
  >
    <div class="d-flex">
      <div class="d-flex flex-column" [style.width.px]="120">
        <div class="filter-name">Balance</div>
        <div
          class="filter-info"
          *ngIf="balanceFrom != undefined || balanceTo != undefined"
        >
          ${{ balanceFrom }} - ${{ balanceTo }}
        </div>
      </div>
      <span
        [class.active]="
          selectedFilterId == 2 ||
          balanceFrom != undefined ||
          balanceTo != undefined
        "
        class="mr-0 icon-24 down-icon pointer filter-actions-icon"
      ></span>
    </div>
  </div>

  <div
    #patientRespAnchor
    [class.active]="selectedFilterId == 3"
    class="filter-item"
    (click)="selectFilter(3, patientRespAnchor)"
  >
    <div class="d-flex">
      <div class="d-flex flex-column" [style.width.px]="150">
        <div class="filter-name" style="font-size: 9pt">
          Patient Responsibility
        </div>
        <div
          class="filter-info"
          *ngIf="
            patientResponsibilityFrom != undefined ||
            patientResponsibilityTo != undefined
          "
        >
          ${{ patientResponsibilityFrom }} - ${{ patientResponsibilityTo }}
        </div>
      </div>
      <span
        [class.active]="
          selectedFilterId == 3 ||
          patientResponsibilityFrom != undefined ||
          patientResponsibilityTo != undefined
        "
        class="mr-0 icon-24 down-icon pointer filter-actions-icon"
      ></span>
    </div>
  </div>

  <div
    #DateOfServiceAnchor
    [class.active]="selectedFilterId == 4"
    class="filter-item"
    (click)="selectFilter(4, DateOfServiceAnchor)"
  >
    <div class="d-flex">
      <div class="d-flex flex-column" [style.width.px]="120">
        <div class="filter-name" style="font-size: 9pt">DOS</div>
        <div
          class="filter-info"
          *ngIf="dateFromString != undefined || dateToString != undefined"
        >
          {{ dateFromString }} -
          {{ dateToString }}
        </div>
      </div>
      <span
        [class.active]="
          selectedFilterId == 4 ||
          dateFromString != undefined ||
          dateToString != undefined
        "
        class="mr-0 icon-24 down-icon pointer filter-actions-icon"
      ></span>
    </div>
  </div>

  <div
    #renderingProvAnchor
    [class.active]="selectedFilterId == 5"
    class="filter-item"
    (click)="selectFilter(5, renderingProvAnchor)"
  >
    <div class="d-flex">
      <div class="d-flex flex-column" [style.width.px]="150">
        <div class="filter-name">Rendering Providers</div>
        <div class="filter-info" *ngIf="selectedRenderingProviders.length">
          {{ selectedRenderingProviders.length }}
          {{ selectedRenderingProviders.length == 1 ? "item" : "items" }}
        </div>
      </div>
      <span
        [class.active]="
          selectedRenderingProviders.length || selectedFilterId == 5
        "
        class="mr-0 icon-24 down-icon pointer filter-actions-icon"
      ></span>
    </div>
  </div>

  <div
    #statusAnchor
    [class.active]="checkedStatusCount() > 0 || selectedFilterId == 6"
    class="filter-item"
    (click)="selectFilter(6, statusAnchor)"
  >
    <div class="d-flex">
      <div class="d-flex flex-column">
        <div class="filter-name">Status</div>
        <div class="filter-info" *ngIf="checkedStatusCount()">
          {{ checkedStatusCount() }}
          {{ checkedStatusCount() === 1 ? "item" : "items" }}
        </div>
      </div>
      <span
        [class.active]="selectedStatuses.length || selectedFilterId == 6"
        class="mr-0 icon-24 down-icon pointer filter-actions-icon"
      ></span>
    </div>
  </div>

  <div
    #reasoncodeAnchor
    *ngIf="rejectedid == 5 || rejectedid == 4"
    [class.active]="selectedFilterId == 8"
    class="filter-item"
    (click)="selectFilter(8, reasoncodeAnchor)"
  >
    <div class="d-flex">
      <div class="d-flex flex-column" [style.width.px]="120">
        <div class="filter-name">
          {{ rejectedid === 5 ? "Denial Reason" : "Rejection Reason" }}
        </div>
        <div class="filter-info" *ngIf="selectedReasonCode.length">
          {{ selectedReasonCode.length }}
          {{ selectedReasonCode.length == 1 ? "item" : "items" }}
        </div>
      </div>
      <span
        [class.active]="selectedFilterId == 8 || selectedReasonCode.length"
        class="mr-0 icon-24 down-icon pointer filter-actions-icon"
      ></span>
    </div>
  </div>

  <div
    #reasoncodeAnchor
    *ngIf="rejectedid == 6"
    [class.active]="selectedFilterId == 11"
    class="filter-item"
    (click)="selectFilter(11, reasoncodeAnchor)"
  >
    <div class="d-flex">
      <div class="d-flex flex-column" [style.width.px]="120">
        <div class="filter-name">
          {{ rejectedid === 6 ? "Flagged Reason" : "" }}
        </div>

        <div class="filter-info" *ngIf="selectedReasonCode.length">
          {{ selectedFlaggedReason.length }}
          {{ selectedFlaggedReason.length === 1 ? "item" : "items" }}
        </div>
      </div>

      <span
        class="mr-0 icon-24 down-icon pointer filter-actions-icon"
        [class.active]="selectedFilterId == 11 || selectedReasonCode.length"
      >
      </span>
    </div>
  </div>

  <!-- Filter Claims by Assignee Section starts -->
  <div
    #assigneeAnchor
    [class.active]="selectedFilterId == 10"
    class="filter-item"
    (click)="selectFilter(10, assigneeAnchor)"
  >
    <div class="d-flex">
      <div class="d-flex flex-column">
        <div class="filter-name">Assignee</div>
        <div class="filter-info" *ngIf="selectedAssignees.length">
          {{ selectedAssignees.length }}
          {{ selectedAssignees.length == 1 ? "item" : "items" }}
        </div>
      </div>
      <span
        [class.active]="selectedFilterId == 10 || selectedAssignees.length"
        class="mr-0 icon-24 down-icon pointer filter-actions-icon"
      >
      </span>
    </div>
  </div>
  <!-- Filter Claims by Assignee Section ends -->

  <div
    #validationAnchor
    [class.active]="selectedFilterId == 7"
    class="filter-item"
    (click)="selectFilter(7, validationAnchor)"
  >
    <div class="d-flex">
      <div class="d-flex flex-column">
        <div class="filter-name">Validation</div>
        <div class="filter-info" *ngIf="selectedValidations.length">
          {{ selectedValidations.length }}
          {{ selectedValidations.length == 1 ? "item" : "items" }}
        </div>
      </div>
      <span
        [class.active]="selectedFilterId == 7"
        class="mr-0 icon-24 down-icon pointer filter-actions-icon"
      ></span>
    </div>
  </div>

  <kendo-popup
    #popup
    [anchor]="selectedAnchor"
    *ngIf="selectedFilterId != undefined"
    class="new-popup"
  >
    <div [ngSwitch]="selectedFilterId" class="content">
      <div *ngSwitchCase="0" class="filter-body">
        <claim-filters-patient-popup
          [tab]="tab"
          [selectedPatients]="selectedPatients"
          (patientClicked)="onFilterChange()"
        ></claim-filters-patient-popup>
      </div>
      <div *ngSwitchCase="1" class="filter-body">
        <claim-filters-funder-popup
          [tab]="tab"
          [selectedFunders]="selectedFunders"
          (funderClicked)="onFilterChange()"
        ></claim-filters-funder-popup>
      </div>

      <div *ngSwitchCase="9" class="filter-body">
        <claim-filters-location-popup
          [tab]="tab"
          [selectedLocations]="selectedLocations"
          (locationClicked)="onFilterChange()"
        ></claim-filters-location-popup>
      </div>
      <div *ngSwitchCase="10" class="filter-body">
        <claim-filters-assignee-popup
          [tab]="tab"
          [selectedAssignees]="selectedAssignees"
          (assigneeClicked)="onFilterChange()"
        ></claim-filters-assignee-popup>
      </div>
      <div *ngSwitchCase="11" class="filter-body">
        <app-claim-filters-flaggedreason-popup
          [tab]="tab"
          [selectedFlaggedReason]="selectedFlaggedReason"
          (reasonClicked)="onFilterChange()"
        ></app-claim-filters-flaggedreason-popup>
      </div>

      <div *ngSwitchCase="2" class="filter-body">
        <div class="mb-3">Filter by range</div>
        <div class="d-flex">
          <div class="d-flex flex-column mr-2">
            <label class="filter-input-label" for="balanceAmountFrom"
              >From</label
            >
            <div class="filter-input-wrapper">
              <span>$</span>
              <input
                class="filter-input"
                id="balanceAmountFrom"
                [(ngModel)]="balanceFrom"
                (keyup)="onFilterChange()"
                type="number"
              />
            </div>
          </div>
          <div class="d-flex flex-column ml-2">
            <label class="filter-input-label" for="balanceAmountTo">To</label>
            <div class="filter-input-wrapper">
              <span>$</span>
              <input
                class="filter-input"
                id="balanceAmountTo"
                [(ngModel)]="balanceTo"
                (keyup)="onFilterChange()"
                type="number"
              />
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="3" class="filter-body">
        <div class="mb-3">Filter by range</div>
        <div class="d-flex">
          <div class="d-flex flex-column mr-2">
            <label class="filter-input-label" for="patientRespFrom">From</label>
            <div class="filter-input-wrapper">
              <span>$</span>
              <input
                class="filter-input"
                id="patientRespFrom"
                [(ngModel)]="patientResponsibilityFrom"
                (keyup)="onFilterChange()"
                type="number"
              />
            </div>
          </div>
          <div class="d-flex flex-column ml-2">
            <label class="filter-input-label" for="patientRespTo">To</label>
            <div class="filter-input-wrapper">
              <span>$</span>
              <input
                class="filter-input"
                id="patientRespTo"
                [(ngModel)]="patientResponsibilityTo"
                (keyup)="onFilterChange()"
                type="number"
              />
            </div>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="4" class="filter-body">
        <claim-filters-calendar-popup
          [anchor]="this.dateAnchor"
          (anchorViewportLeave)="showDatePopup = false"
          *ngIf="showDatePopup"
          [range]="{
            start: dateFrom,
            end: dateTo
          }"
          (selectedDateEmitter)="setDatePeriod($event)"
          (onFilterLeave)="onDateFilterLeave()"
        ></claim-filters-calendar-popup>
      </div>

      <div *ngSwitchCase="5" class="filter-body">
        <claim-filters-rendering-provider-popup
          [tab]="tab"
          [selectedRenderingProviders]="selectedRenderingProviders"
          (renderingProviderClicked)="onFilterChange()"
        ></claim-filters-rendering-provider-popup>
      </div>
      <div *ngSwitchCase="6" class="filter-body">
        <claim-filters-status-popup
          [tab]="tab"
          [(selectedStatuses)]="selectedStatuses"
          (statusClicked)="onFilterChange()"
          [(isClosedFilterSet)]="isClosedFilterSet"
          [isClosedFilterReset]="isClosedFilterReset"
          [(userTouchedStatuses)]="userTouchedStatuses"
          (showVoidedChange)="onChildShowVoidedChange($event)"
          (statusesLoaded)="onStatusesLoaded($event)"
        >
        </claim-filters-status-popup>
      </div>
      <div *ngSwitchCase="7" class="filter-body">
        <claim-filters-validation-popup
          [selectedValidations]="selectedValidations"
          (validationClicked)="onFilterChange()"
        ></claim-filters-validation-popup>
      </div>
      <div *ngSwitchCase="8" class="filter-body">
        <ng-container *ngIf="rejectedid == 5 || rejectedid == 4">
          <claim-filters-reasoncode-popup
            [selectedReasonCodes]="selectedReasonCode"
            (reasonCodeClicked)="onFilterChange()"
          ></claim-filters-reasoncode-popup>
        </ng-container>
      </div>
    </div>
  </kendo-popup>
  <div class="clear-filter filter-item">
    <div *ngIf="isFiltersApplied; else filtersNotApplied">
      <button
        kendoButton
        [disabled]="isFilterButtonDisabled"
        (click)="clearFilters()"
      >
        Clear Filters
      </button>
    </div>
    <ng-template #filtersNotApplied>
      <button
        kendoButton
        [disabled]="isFilterButtonDisabled"
        (click)="applyFilters()"
      >
        Apply Filters
      </button>
    </ng-template>
  </div>

  <!-- <div class="clear-filter filter-item filter-clear-button" (click)="clearFilters()">Clear Filters</div> -->
</div>
